body * {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol!important;
}

.text-bulletin-text {
  font-size: 20px;
  line-height: 34px;
}

.alert-custom {
  background-color: rgba(27,172,228, 0.35);
  color: #2b2f32;
}

header .nav .nav-link  {
    color: #515F73!important;
    font-weight: bold;
}

.nav .nav-link  {
    color: #515F73!important;
}

.nav-link.active  {
    border: 1px #515F73 solid;
    background-color: #fff!important;
}

.nav-item .active-tab {
    background-color: rgba(81, 95, 115, 1)!important;
    color: #ffffff!important;
}

.days-menu li a {
    background-color: rgba(81, 95, 115, 0.1)!important;
    border: solid 1px #515F73;
    margin: 1px;
}

.days-menu-meteogram button {
    background-color: rgba(81, 95, 115, 0.1)!important;
    border: solid 1px #515F73;
    margin: 1px;
}

.area-menu a.active {
    text-decoration: underline!important;
}

.carousel-caption {
    text-align: left!important;
}

#map { 
    height: 600px; width: 100%; 
}

#list {
    position: absolute;width: 100%;
    z-index: 1000;
}

.carousel-caption {
    position: relative;
    width: 75%;
    margin: auto;
    left: 0;
    right: 0;    
}

#map-forecast { height: 750px; width: 100%; }

.bgBlue-light {
    background-color: rgba(0, 174, 234, 0.109);
}

.block {
    width: 25%;
    background-color: rgba(0, 174, 234, 0.119);
    cursor: pointer;
    padding: 5px 0px;
}

.block.active, .block:hover {
    background-color: rgba(0, 174, 234, 0.199);
}

@media screen and (max-width: 400px) {
    .card {
        width: 92%;
    }
}

.shadow > svg {
    filter: drop-shadow(2px 3px 1px rgb(0 0 0 / 0.9));
}

.myshadow {
    filter: drop-shadow(2px 3px 1px rgb(0 0 0 / 0.9));
}

.tabbable .nav-tabs {
    overflow-x: auto;
    overflow-y: hidden;
    flex-wrap: nowrap;
}
.tabbable .nav-tabs .nav-link {
    white-space: nowrap;
}

.regions-pills {
  overflow-x: auto;
  overflow-y: hidden;
  flex-wrap: nowrap;
  text-align: center;
}

@media screen and (max-width: 680px) {
    .nav {
        padding-left:2px;
        padding-right:2px;
    }
    .nav li {
        display:block !important;
        width:50%;
        margin:0px;
    }
    .nav li.active {
        border-bottom:1px solid #ddd!important;
        margin: 0px;
    }
}

/** weather widget **/
.weather {
font-family: 'Open Sans Condensed', sans-serif;
background: linear-gradient(to bottom right, #00b0ea51, cyan);
width: 430px;
font-size: 13px;
line-height: 1;
}

.today {
padding: 4px 30px;
display: flex;
border-bottom: 1px solid #68d5e0;
}

.today .current-temperature span {
font-size: 36px;  
}

.today .weather-detail {
padding-left: 55px;
font-size: 14px;
}

.week {
display: flex;
padding: 0;
margin: 0;
list-style: none;
}

.day {
flex-grow: 1;
padding: 5px 9px;
text-align: center;
border-right: 1px solid #68d5e0;
}

.day a {
    text-decoration: none;
}

.day:last-child {
border-right: 0;
}

.day .weather-icon {
margin: 5px 0;
color: #01373d;
}

.day .temperature {
font-size: 16px;
}

.fav-towns {
    height: 130px;
}

.header .fav-towns {
    float: right;
    max-width: 500px;
}

.fav-towns .nav-pills button.nav-link {
    max-width: 150px!important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.w-10{
    width: 10%;
}
.h-40{
    height: 40px;
}
.precipitation-color0{
    background-color: rgba(115, 201, 226, 0.75);
}
.precipitation-color1{
    background-color: rgba(40, 154, 193, 0.75);
}
.precipitation-color2{
    background-color: rgba(6, 127, 170, 0.75);
}
.precipitation-color3{
    background-color: rgba(0, 88, 156, 0.75);
}
.precipitation-color4{
    background-color: rgba(0, 128, 120, 0.75);
}
.precipitation-color5{
    background-color: rgba(0, 168, 80, 0.75);
}
.precipitation-color6{
    background-color: rgba(0, 212, 32, 0.75);
}
.precipitation-color7{
    background-color: rgba(48, 244, 0, 0.75);
}
.precipitation-color8{
    background-color: rgba(172, 232, 0, 0.75);
}
.precipitation-color9{
    background-color: rgba(248, 216, 0, 0.75);
}
.precipitation-color10{
    background-color: rgba(252, 184, 0, 0.75);
}
.precipitation-color11{
    background-color: rgba(252, 132, 0, 0.75);
}
.precipitation-color12{
    background-color: rgba(252, 60, 0, 0.75);
}
.precipitation-color13{
    background-color: rgba(244, 8, 0, 0.75);
}
.precipitation-color14{
    background-color: rgba(212, 8, 0, 0.75);
}
.precipitation-color15{
    background-color: rgba(192, 64, 180, 0.75);
}
.precipitation-color16{
    background-color: rgba(248, 112, 248, 0.75);
}
.precipitation-color17{
    background-color: rgba(252, 176, 252, 0.75);
}
.wind-color0{
  background-color: rgba(207, 255, 255, 0.75);
}
.wind-color1{
  background-color: rgba(167, 228, 255, 0.75);
}
.wind-color2{
  background-color: rgba(121, 132, 253, 0.75);
}
.wind-color3{
  background-color: rgba(236, 255, 133, 0.75);
}
.wind-color4{
  background-color: rgba(254, 234, 42, 0.75);
}
.wind-color5{
  background-color: rgba(255, 181, 30, 0.75);
}
.wind-color6{
  background-color: rgba(255, 114, 1, 0.75);
}
.wind-color7{
  background-color: rgba(255, 0, 0, 0.75);
}
.wind-color8{
  background-color: rgba(165, 0, 0, 0.75);
}
.wind-color9{
  background-color: rgba(254, 132, 251, 0.75);
}
.wind-color10{
  background-color: rgba(255, 0, 250, 0.75);
}
.wind-color11{
  background-color: rgba(143, 0, 174, 0.75);
}
.wind-color12{
  background-color: rgba(201, 201, 201, 0.75);
}
.wind-color13{
  background-color: rgba(150, 150, 150, 0.75);
}
.wind-color14{
  background-color: rgba(102, 102, 102, 0.75);
}
.temperature-color0{
  background-color: rgba(0, 88, 156, 0.75);
}
.temperature-color1{
  background-color: rgba(6, 127, 170, 0.75);
}
.temperature-color2{
  background-color: rgba(40, 154, 193, 0.75);
}
.temperature-color3{
  background-color: rgba(99, 173, 234, 0.75);
}
.temperature-color4{
  background-color: rgba(115, 201, 226, 0.75);
}
.temperature-color5{
  background-color: rgba(134, 223, 252, 0.75);
}
.temperature-color6{
  background-color: rgba(255, 204, 0, 0.75);
}
.temperature-color7{
  background-color: rgba(255, 178, 0, 0.75);
}
.temperature-color8{
  background-color: rgba(255, 153, 0, 0.75);
}
.temperature-color9{
  background-color: rgba(255, 128, 0, 0.75);
}
.temperature-color10{
  background-color: rgba(255, 102, 0, 0.75);
}
.temperature-color11{
  background-color: rgba(255, 51, 0, 0.75);
}
.temperature-color12{
  background-color: rgba(247, 0, 0, 0.75);
}
.temperature-color13{
  background-color: rgba(223, 0, 0, 0.75);
}
.temperature-color14{
  background-color: rgba(200, 0, 0, 0.75);
}
.temperature-color15{
  background-color: rgba(157, 0, 0, 0.75);
}
.temperature-color16{
  background-color: rgba(102, 0, 0, 0.75);
}
.temperature-color17{
  background-color: rgba(60, 0, 0, 0.75);
}
