{{ define "main" }}
<div class="row gx-5 justify-content-center">
    <div class="col-lg-10 col-xl-8">
        <div class="single-post">
            <h1>{{.Title}}</h1>
            <p class="lead">{{.Description}}</p>
            <div class="d-flex align-items-center justify-content-between mb-5">
                <div class="single-post-meta me-4">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#0d6efd" class="bi bi-person-fill" viewBox="0 0 16 20">
                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                    </svg> <!-- https://icons.getbootstrap.com/icons/person-fill/ -->
                    <span class="single-post-meta-details-name">{{ .Params.author }}</span>
                    <div class="single-post-meta-details">
                        <div class="single-post-meta-details-date">{{ .PublishDate.Format "January 2, 2006" }} · {{ .ReadingTime }} min read</div>
                    </div>
                </div>
                <div class="single-post-meta-links">
                    <a href="#!" title="share on Twitter">
                      <svg class="svg-inline--fa fa-twitter fa-fw" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="twitter" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="" height="20"><path fill="currentColor" d="M459.4 151.7c.325 4.548 .325 9.097 .325 13.65 0 138.7-105.6 298.6-298.6 298.6-59.45 0-114.7-17.22-161.1-47.11 8.447 .974 16.57 1.299 25.34 1.299 49.06 0 94.21-16.57 130.3-44.83-46.13-.975-84.79-31.19-98.11-72.77 6.498 .974 12.99 1.624 19.82 1.624 9.421 0 18.84-1.3 27.61-3.573-48.08-9.747-84.14-51.98-84.14-102.1v-1.299c13.97 7.797 30.21 12.67 47.43 13.32-28.26-18.84-46.78-51.01-46.78-87.39 0-19.49 5.197-37.36 14.29-52.95 51.65 63.67 129.3 105.3 216.4 109.8-1.624-7.797-2.599-15.92-2.599-24.04 0-57.83 46.78-104.9 104.9-104.9 30.21 0 57.5 12.67 76.67 33.14 23.72-4.548 46.46-13.32 66.6-25.34-7.798 24.37-24.37 44.83-46.13 57.83 21.12-2.273 41.58-8.122 60.43-16.24-14.29 20.79-32.16 39.31-52.63 54.25z"></path></svg><!-- <i class="fab fa-twitter fa-fw"></i> Font Awesome fontawesome.com -->
                    </a>
                    <a href="#!" title="share on Facebook">
                      <svg class="svg-inline--fa fa-facebook-f fa-fw" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="facebook-f" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""  height="20"><path fill="currentColor" d="M279.1 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.4 0 225.4 0c-73.22 0-121.1 44.38-121.1 124.7v70.62H22.89V288h81.39v224h100.2V288z"></path></svg><!-- <i class="fab fa-facebook-f fa-fw"></i> Font Awesome fontawesome.com -->
                    </a>
                    <a href="#!" title="bookmark">
                      <svg class="svg-inline--fa fa-bookmark fa-fw" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bookmark" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" data-fa-i2svg="" height="20"><path fill="currentColor" d="M384 48V512l-192-112L0 512V48C0 21.5 21.5 0 48 0h288C362.5 0 384 21.5 384 48z"></path></svg><!-- <i class="fas fa-bookmark fa-fw"></i> Font Awesome fontawesome.com -->
                    </a>
                </div>
            </div>
            <img class="img-fluid mb-2 rounded" alt="" src="{{ .Site.BaseURL }}.{{.Params.Img}}">
            <div class="single-post-text my-5">
                  <div>
                      {{.Content}}
                  </div>
                <div class="text-center"><a class="btn btn-transparent-dark" href="/news">Back to Blog Overview</a></div>
            </div>
        </div>
    </div>
</div>
{{ end }}
