<div class="col-md-4">
   <div class="card mb-4 box-shadow">
    <a href="{{.Permalink}}">
      <img class="card-img-top" alt="" style="height: 225px; width: 100%; display: block;" src="{{ .Site.BaseURL }}images/news/{{.Params.img}}">
    </a> 
      <div class="card-body">
        <h4><a href="{{.Permalink}}" class="text-decoration-none">{{.Title}}</a></h4>
         <p class="card-text">{{.Params.Excerpt}}</p>
         <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
               <a class="btn btn-sm btn-outline-secondary" href="{{.Permalink}}">Read More</a>
            </div>
            <small class="text-muted">9 mins</small>
         </div>
      </div>
   </div>
</div>
