<!doctype html>
<html lang="{{ .Lang }}" translate="no" class="notranslate">
  <head>
    {{ partial "head-meta" . }}

    <link rel="canonical" href="{{ .Permalink }}">
    <title>
      {{ block "title" . }}
        {{ .Title}}{{ if ne .Title .Site.Title }} | {{ .Site.Title }}{{ end }}
      {{ end }}
    </title>

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="/css/bootstrap.min.css"
      referrerpolicy="no-referrer"
    />

    <link href='{{ "css/style.css" | relURL }}' rel="stylesheet">
    {{ partial "shortcode-css.html" .}}

    {{ range .AlternativeOutputFormats -}}
    <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
    {{ end -}}

    {{ partial "head-custom.html" . }}
  </head>
  <body>
    {{ block "header" . }}
      {{ partial "header" . }}
    {{ end }}

    {{ block "body" . }}
    <div>
      <div>
        <div class="{{ .Param "container" }} mb-3" style="margin-top: 83px">

          <noscript>
            <div class="alert alert-danger text-center" role="alert">
              <strong>{{ i18n "noscript" }}</strong>
            </div>
          </noscript>

          {{ block "main" . }}
          {{ end }}

        </div>
      </div>
    </div>
    {{ end }}

    {{ block "footer" . }}
      {{ partial "footer" . }}
    {{ end }}

    <!-- Bootstrap and Popper -->
    <script
      src="/js/bootstrap.bundle.min.js"
      referrerpolicy="no-referrer"
    ></script>
  </body>
</html>
