{{ define "main" }}
    <header>
        {{ partial "post-title" . }}
        {{ partial "post-date" . }}
        {{ partial "post-tags" . }}
        {{ partial "post-categories" . }}
    </header>
    <article class="blog-post">
        {{ .Content }}
    </article>
{{ end }}