{{ define "main" }}

{{ $truncate := default true .Site.Params.truncate }}

{{ if .Content }}
<header>
    <h1 class="blog-post-title">
        {{ .Title | markdownify }}
    </h1>
</header>
{{ end }}

<div class="row mx-5">
{{ $paginator := .Paginate .Pages }}
{{ range $paginator.Pages }}
    {{ if $truncate }}
        {{ .Render "summary" }}
    {{ else }}
        {{ .Render "content" }}
    {{ end }}
{{ end }}
</div>

{{ partial "paginator" . }}

{{ end }}
