{{ define "main" }}

<div class="row">
  <div class="col-12">

    <h2>Tinia icons</h2>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Name eng</th>
          <th scope="col">Name deu</th>
          <th scope="col">Name ita</th>
          <th scope="col">Day icon from JSON</th>
          <th scope="col">Night icon from JSON</th>
          <th scope="col">Day icon from SVG file</th>
          <th scope="col">Night icon from SVG file</th>
          <th scope="col">Day icon from PNG file</th>
          <th scope="col">Night icon from PNG file</th>
        </tr>
      </thead>
      <tbody>
{{ range $elem_index, $elem_val := (index .Site.Data "sky_conditions") }}
        <tr>
          <th scope="row">{{ index $elem_val "id" }}</th>
          <td>{{ index $elem_val "name_eng" }}</td>
          <td>{{ index $elem_val "name_deu" }}</td>
          <td>{{ index $elem_val "name_ita" }}</td>
          <td>
            {{ index $elem_val "svg_day" | safeHTML}}</td>
          <td>
            {{ if index $elem_val "icon_night" }}
              {{ index $elem_val "svg_night" | safeHTML}}
            {{ end }}
          </td>
          <td>
            <img width="120" alt='{{ index $elem_val "day icon for name_eng" }}' src='/images/icons/{{ index $elem_val "icon_day" }}'>
          </td>
          <td>
            {{ if index $elem_val "icon_night" }}
              <img width="120" alt='{{ index $elem_val "night icon for name_eng" }}' src='/images/icons/{{ index $elem_val "icon_night" }}'>
            {{ end }}
          </td>
          <td>
            <img width="120" alt='{{ index $elem_val "day icon for name_eng" }}' src='/images/icons/{{ replace (index $elem_val "icon_day") "svg" "png" }}'>
          </td>
          <td>
            {{ if index $elem_val "icon_night" }}
              <img width="120" alt='{{ index $elem_val "night icon for name_eng" }}' src='/images/icons/{{ replace (index $elem_val "icon_night") "svg" "png" }}'>
            {{ end }}
          </td>
        </tr>
{{end}}
      </tbody>
    </table>

  </div> <!-- col -->
</div> <!-- row -->

<script>
  var svgs = [].slice.call(document.querySelectorAll('svg'))
  svgs.map(function (svg) {
    svg.setAttribute("width", "120")
  })

</script>

{{ end }}
