<footer class="bg-light text-center pt-3">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-center">
          <ul class="navbar-nav">
            <li class="nav-item">
            <a class="nav-link" href="{{ "/observations/" | relLangURL }}">{{ i18n "observations" }}</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{{ "/precipitation/" | relLangURL }}">{{ i18n "precipitation180" }}</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="col-md-4">
        <a class="navbar-brand" href="{{ if eq .Page.Language.Lang "en" }}/{{ else }}/{{.Page.Language.Lang}}/{{ end }}">
            <img class="img-fluid" width="50" src="{{ .Site.BaseURL }}images/logoM-256x256.png" alt="Meteo.report logo">
        </a>
      </div>
      <div class="col-md-4">
        <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-center">
          <ul class="navbar-nav">
            <li class="nav-item">
            <a class="nav-link" href="{{ "/webcams/" | relLangURL }}">Webcams</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{{ "/mountains/" | relLangURL }}">{{ i18n "mountains" }}</a>
            </li>
{{ if (gt (where .Site.RegularPages "Section" "news" | len) 0) }}
            <li class="nav-item">
            <a class="nav-link" href="{{ "/news/" | relLangURL }}">{{ i18n "news" }}</a>
            </li>
{{ end }}
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <hr>
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: provinces link -->
    <span>{{ i18n "footer_text"}}</span>
    <section class="mb-4 mt-3">
    <!-- Tyrol -->
    <a
      class="btn btn-floating m-1"
      href="https://www.tirol.gv.at{{ if eq .Page.Language.Lang "de" }}/{{ else }}/{{.Page.Language.Lang}}/{{ end }}"
      role="button"
      target="_blank"
      >
      <img class="img-fluid" width="70" src="{{ .Site.BaseURL }}images/logo_tyrol.svg" alt="Tyrol logo">
    </a>

    <!-- South Tyrol -->
    <a
      class="btn btn-floating m-1"
      href="https://home.provincia.bz.it/{{.Page.Language.Lang}}/home"
      role="button"
      target="_blank"
      >
      <img class="img-fluid" width="300" src="{{ .Site.BaseURL }}images/logo_sud_tyrol.png" alt="South Tyrol logo">
    </a>

    <!-- Trento -->
    <a
      class="btn btn-floating m-1"
      href="https://www.provincia.tn.it/"
      role="button"
      target="_blank"
      >
      <img class="img-fluid" width="170" src="{{ .Site.BaseURL }}images/logo_trento.png"  alt="Trentino logo">
    </a>
    </section>
    <!-- Section: provinces link -->
  </div>
  <!-- Grid container -->

  <div class="container p-4 pb-0 mb-3">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <img class="img-fluid" src="{{ .Site.BaseURL }}images/Logo_Interreg_TINIA.png" height="300" alt="Interreg Logo">
      </div>
    </div>
  </div>

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    {{ i18n "licence_phrase" }} <br> Copyright (C) 2022-2024 <a style="color: #0000bb" href="https://simevo.com" target="_blank">simevo s.r.l.</a> {{ i18n "for"}} <a style="color: #0000bb" href="https://www.europaregion.info{{ if eq .Page.Language.Lang "de" }}/{{ else }}/{{.Page.Language.Lang}}/{{ end }}" target="_blank">Europaregion Tirol/Südtirol/Trentino</a> - {{ i18n "source_code"}}: <a style="color: #0000bb" href="https://gitlab.com/tinia-euregio/tinia-website" target="_blank">{{ .Site.Title }}</a> [{{ .Site.Params.gitVersion }}] - {{ i18n "license"}}: AGPL-3.0-or-later
  </div>
  <!-- Copyright -->
</footer>
