<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="google" content="notranslate" />
<link rel="shortcut icon" type="image/png" sizes="16x16" href="{{ .Site.BaseURL }}images/logoM-16x16.png" />
<link rel="shortcut icon" type="image/png" sizes="32x32" href="{{ .Site.BaseURL }}images/logoM-32x32.png" />
<link rel="shortcut icon" type="image/png" sizes="64x64" href="{{ .Site.BaseURL }}images/logoM-64x64.png" />
<link rel="shortcut icon" type="image/png" sizes="96x96" href="{{ .Site.BaseURL }}images/logoM-96x96.png" />
<link rel="shortcut icon" type="image/png" sizes="128x128" href="{{ .Site.BaseURL }}images/logoM-128x128.png" />
<link rel="shortcut icon" type="image/png" sizes="256x256" href="{{ .Site.BaseURL }}images/logoM-256x256.png" />
<link rel="apple-touch-icon" type="image/png" sizes="152x152" href="{{ .Site.BaseURL }}images/logoM-apple-touch-icon-152x152.png" />
<link rel="apple-touch-icon" type="image/png" sizes="167x167" href="{{ .Site.BaseURL }}images/logoM-apple-touch-icon-167x167.png" />
<link rel="apple-touch-icon" type="image/png" sizes="180x180" href="{{ .Site.BaseURL }}images/logoM-apple-touch-icon-180x180.png" />
{{ template "_internal/opengraph.html" . }}
{{ template "_internal/twitter_cards.html" . }}