<script src="{{ .Site.BaseURL }}js/cdn.min.js"></script>
<script>
  const sky_conditions = {{ (index .Site.Data "sky_conditions") }} {{"// eslint-disable-line no-unused-vars" | safeJS }}

  var favorites_towns = null
  var favorites_stations = null
  var favorites_webcams = null
  var favorites_town_index = null
  var favorites_station_index = null
  var favorites_webcam_index = null

  // https://developer.mozilla.org/en-US/docs/Web/API/Web_Storage_API/Using_the_Web_Storage_API
  function storageAvailable(type) {
    let storage;
    try {
      storage = window[type];
      const x = "__storage_test__";
      storage.setItem(x, x);
      storage.removeItem(x);
      return true;
    } catch (e) {
      return (
        e instanceof DOMException &&
        // everything except Firefox
        (e.code === 22 ||
          // Firefox
          e.code === 1014 ||
          // test name field too, because code might not be present
          // everything except Firefox
          e.name === "QuotaExceededError" ||
          // Firefox
          e.name === "NS_ERROR_DOM_QUOTA_REACHED") &&
        // acknowledge QuotaExceededError only if there's something already stored
        storage &&
        storage.length !== 0
      );
    }
  }

  if (storageAvailable("localStorage")) {
    favorites_towns = JSON.parse(localStorage.getItem('favorites_towns'));
    favorites_stations = JSON.parse(localStorage.getItem('favorites_stations'));
    favorites_webcams = JSON.parse(localStorage.getItem('favorites_webcams'));
    favorites_town_index = JSON.parse(localStorage.getItem('favorites_town_index'));
    favorites_station_index = JSON.parse(localStorage.getItem('favorites_station_index'));
    favorites_webcam_index = JSON.parse(localStorage.getItem('favorites_webcam_index'));
  }
  
  if (favorites_towns === null) {
    const default_towns = ["c4efef40-bb6f-4cd3-a982-4e7579da701e", "e0c04e2d-8221-48d3-92b9-56e26e743213", "5d9e12bb-7274-483e-9acd-44bfdcb916e5"]
    favorites_towns = default_towns
    favorites_town_index = 0
  }

  if(favorites_town_index === null) {
    favorites_town_index = 0
  }

  if (favorites_stations === null) {
    const default_stations = ["2fb599de-dcc7-4424-8410-c7205be0e6e3", "65a91ab5-032b-40ea-a03f-42773d60ec34", "f439b2f0-c5b9-43f4-b058-f407f7c99141"]
    favorites_stations = default_stations
    favorites_station_index = 0
  }

  if(favorites_station_index === null) {
    favorites_station_index = 0
  }

  if (favorites_webcams === null) {
    const default_webcams = ["72eb53f3-2596-4eaa-8f17-6ea6b51f2a8c", "ac299f7e-78e9-4d59-9efa-ddf4cfc94c14", "2eb79e42-6855-47bd-b093-c267628b3754"]
    favorites_webcams = default_webcams
    favorites_webcam_index = 0
  }

  if(favorites_webcam_index === null) {
    favorites_webcam_index = 0
  }

  function round1(number) { {{"// eslint-disable-line no-unused-vars" | safeJS }}
    return Math.round(number * 10) / 10
  }

  document.addEventListener("DOMContentLoaded", function() {  
    var anchors = document.querySelectorAll('.dropdown-item');
    anchors.forEach(anchor => {
      var href = anchor.getAttribute('href') + window.location.search;
      anchor.setAttribute('href', href);
    })
  });
</script>

<header class="blog-header">
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ if eq .Page.Language.Lang "en" }}/{{ else }}/{{.Page.Language.Lang}}/{{ end }}">
          <img class="img-fluid" width="50" src="{{ .Site.BaseURL }}images/logoM-256x256.png" alt="Meteo.report logo">
          <span class="ms-1 d-sm-inline d-none" style="color: #1bace4"><b>Meteo</b>.report</span>
      </a>
      <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
        <ul class="nav">
          {{ $url := .RelPermalink | relLangURL }}
          {{ range .Site.Menus.main }}
          <li class="nav-item">
            {{ if  eq .ConfiguredURL "" }}
                <span class="nav-link">{{ i18n .Identifier | default .Name}}</span>
            {{ else if eq (hasPrefix .URL "mailto:") true }}
                <a class="nav-link" href="{{ .URL }}">{{ i18n .Identifier | default .Name}}</a>
            {{ else }}
                {{ $menuUrl := .URL | relLangURL }}
                <a class="nav-link {{ if eq $url $menuUrl }}active{{end}}" href="{{ $menuUrl }}">{{ i18n .Identifier | default .Name}}</a>
            {{ end }}
          </li>
          {{ end }}
        </ul>
        {{ if .IsTranslated }}
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{ .Language.LanguageName }}
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                {{ range .Translations }}
                <li>
                  <a class="dropdown-item" href="{{ .RelPermalink }}">{{ .Language.LanguageName }} </a>
                </li>
                {{ end }}
              </ul>
            </li>
          </ul>
        {{ end }}
      </div>
      <a class="navbar-brand" target="_blank" href="https://www.europaregion.info{{ if eq .Page.Language.Lang "de" }}/{{ else }}/{{.Page.Language.Lang}}/{{ end }}">
        <img class="img-fluid" width="90" src="{{ .Site.BaseURL }}images/logo-euregio.svg" alt="Euregio logo">
      </a>         
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>
</header>
