<section class="mt-3">
  <h3>{{ i18n "nearby_webcams" }}</h3>
  <div class="row">
    <template x-if="'neighbors' in venue">
      <template x-for="awebcam in venue.neighbors.webcams.sort((a, b) => a.dist - b.dist)">
        <div class="col-sm-4">
          <div class="card mb-3">
            <template x-if="awebcam.has_history">
              <a x-bind:href="'../../webcam/' + awebcam.id">
                <img class="card-img-top" x-bind:src="'/var/images/webcams/' + awebcam.id + '/143.jpg'" alt="Card image cap">
              </a>
            </template>
            <div class="card-body">
              <h5 class="card-title">
                <template x-if="awebcam.has_history">
                  <a x-bind:href="'../../webcam/' + awebcam.id" x-text="awebcam.name  + ' (' + awebcam.dist.toFixed(2) + '  km)' "></a>
                </template>
                <template x-if="!awebcam.has_history">
                  <a x-bind:href="awebcam.link" x-text="awebcam.name  + ' (' + awebcam.dist.toFixed(2) + '  km)' "></a>
                </template>
                <template x-if="!awebcam.alive && awebcam.has_history">
                  <span class="badge bg-danger">Offline</span>
                </template>   
              </h5>
            </div>
          </div> 
        </div>
      </template>
    </template>
  </div>
</section>
