{{ if .Params.tags }}
<div class="blog-post-tags text-secondary">
  <strong>{{ i18n "tags" }}:</strong>
  {{ range .Params.tags }}
    <a class="btn btn-primary btn-small badge" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
  {{ end }}
</div>
{{ end }}
