{{ if .Params.categories }}
<div class="blog-post-categories text-secondary">
  <strong>{{ i18n "categories" }}:</strong>
  {{ range .Params.categories }}
    <a class="btn btn-primary btn-small badge" href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
  {{ end }}
</div>
{{ end }}
