{{ define "main"}}

<header>
  <h1 class="blog-post-title my-5 ms-3">
    <a class="text-dark text-decoration-none" href="{{ .RelPermalink }}">{{ i18n "not_found" }}</a>
  </h1>
</header>

<article class="blog-post">
  <div class="row gx-5 justify-content-center">
    <div class="col-lg-10 col-xl-8">
      <div class="single-post">
        <p>{{ i18n "go_back" }} <a href="{{ "/" | relLangURL }}">{{ i18n "home" }}</a>.</p>
      </div>
    </div>
  </div>
</article>

{{ end }}
