<section class="my-5 py-3 bg-light">
  <template x-if="tableData.length > 0 && !mode">
    <div class="container">
      <h2 class="fw-bold" x-text="dates_instant[index_layout]"></h2>
      <div class="table-responsive">
        <table class="table table-striped table-hover">
          <thead>
            <tr class="align-middle" style="hyphens: manual;">
              <th scope="col" @click="sort('name')" role="button">
                <template x-if="sortCol == 'name'">
                  <span>
                    <template x-if="sortAsc">
                      {{ partial "bi-chevron-up" . }}
                    </template>
                    <template x-if="!sortAsc">
                      {{ partial "bi-chevron-down" . }}
                    </template>
                  </span>
                </template>
                {{ i18n "station" }}
              </th>
              <th scope="col" @click="sort('elevation')" role="button">
                <template x-if="sortCol == 'elevation'">
                  <span>
                    <template x-if="sortAsc">
                      {{ partial "bi-chevron-up" . }}
                    </template>
                    <template x-if="!sortAsc">
                      {{ partial "bi-chevron-down" . }}
                    </template>
                  </span>
                </template>
                {{ i18n "elevation" }}
              </th>
              <th scope="col" @click="sort('t')" role="button">
                <template x-if="sortCol == 't'">
                  <span>
                    <template x-if="sortAsc">
                      {{ partial "bi-chevron-up" . }}
                    </template>
                    <template x-if="!sortAsc">
                      {{ partial "bi-chevron-down" . }}
                    </template>
                  </span>
                </template>{{ i18n "temperature" }}</th>
              <th scope="col" @click="sort('rain')" role="button">
                <template x-if="sortCol == 'rain'">
                  <span>
                    <template x-if="sortAsc">
                      {{ partial "bi-chevron-up" . }}
                    </template>
                    <template x-if="!sortAsc">
                      {{ partial "bi-chevron-down" . }}
                    </template>
                  </span>
                </template>{{ i18n "precipitation30" }}</th>
              <th scope="col" @click="sort('wind_gust')" role="button">
                <template x-if="sortCol == 'wind_gust'">
                  <span>
                    <template x-if="sortAsc">
                      {{ partial "bi-chevron-up" . }}
                    </template>
                    <template x-if="!sortAsc">
                      {{ partial "bi-chevron-down" . }}
                    </template>
                  </span>
                </template>{{ i18n "wind_gust" }}</th>
              <th scope="col" @click="sort('humidity')" role="button">
                <template x-if="sortCol == 'humidity'">
                  <span>
                    <template x-if="sortAsc">
                      {{ partial "bi-chevron-up" . }}
                    </template>
                    <template x-if="!sortAsc">
                      {{ partial "bi-chevron-down" . }}
                    </template>
                  </span>
                </template>{{ i18n "relative_humidity" }}</th>
              <th scope="col" @click="sort('pressure')" role="button">
                <template x-if="sortCol == 'pressure'">
                  <span>
                    <template x-if="sortAsc">
                      {{ partial "bi-chevron-up" . }}
                    </template>
                    <template x-if="!sortAsc">
                      {{ partial "bi-chevron-down" . }}
                    </template>
                  </span>
                </template>{{ i18n "pressure" }}</th>
              <th scope="col" @click="sort('snow_level')" role="button">
                <template x-if="sortCol == 'snow_level'">
                  <span>
                    <template x-if="sortAsc">
                      {{ partial "bi-chevron-up" . }}
                    </template>
                    <template x-if="!sortAsc">
                      {{ partial "bi-chevron-down" . }}
                    </template>
                  </span>
                </template>{{ i18n "snow_height" }}</th>
            </tr>
          </thead>
          <tbody>
            <template x-for="cityData in tableData">
              <tr class="text-center">
                <td>
                  <a x-bind:href="cityData.url">
                    <h6 x-text="cityData.name"></h6>
                  </a>
                </td>
                <td x-text="cityData.elevation + ' m'"></td>
                <td x-text="cityData.t"></td>
                <td x-text="cityData.rain"></td>
                <td x-text="cityData.wind_gust"></td>
                <td x-text="cityData.humidity"></td>
                <td x-text="cityData.pressure"></td>
                <td x-text="cityData.snow_level"></td>
              </tr>
            </template>
          </tbody>
        </table>
      </div>
    </div>
  </template>

  <template x-if="tableData.length > 0 && mode">
    <div class="container">
      <h2 class="fw-bold" x-text="dates_24h[index_layout]"></h2>
      <div class="table-responsive">
        <table class="table table-striped table-hover">
          <thead>
            <tr class="align-middle">
              <th scope="col" @click="sort('name')" role="button">
                <template x-if="sortCol == 'name'">
                  <span>
                    <template x-if="sortAsc">
                      {{ partial "bi-chevron-up" . }}
                    </template>
                    <template x-if="!sortAsc">
                      {{ partial "bi-chevron-down" . }}
                    </template>
                  </span>
                </template>
                {{ i18n "station" }}
              </th>
              <th scope="col" @click="sort('elevation')" role="button">
                <template x-if="sortCol == 'elevation'">
                  <span>
                    <template x-if="sortAsc">
                      {{ partial "bi-chevron-up" . }}
                    </template>
                    <template x-if="!sortAsc">
                      {{ partial "bi-chevron-down" . }}
                    </template>
                  </span>
                </template>
                {{ i18n "elevation" }}
              </th>
              <th scope="col" @click="sort('temperature_minimum')" role="button">
                <template x-if="sortCol == 'temperature_minimum'">
                  <span>
                    <template x-if="sortAsc">
                      {{ partial "bi-chevron-up" . }}
                    </template>
                    <template x-if="!sortAsc">
                      {{ partial "bi-chevron-down" . }}
                    </template>
                  </span>
                </template>{{ i18n "minimum_temperature" }}
              </th>
              <th scope="col" @click="sort('temperature_maximum')" role="button">
                <template x-if="sortCol == 'temperature_maximum'">
                  <span>
                    <template x-if="sortAsc">
                      {{ partial "bi-chevron-up" . }}
                    </template>
                    <template x-if="!sortAsc">
                      {{ partial "bi-chevron-down" . }}
                    </template>
                  </span>
                </template>{{ i18n "maximum_temperature" }}
              </th>
              <th scope="col" @click="sort('rain')" role="button">
                <template x-if="sortCol == 'rain'">
                  <span>
                    <template x-if="sortAsc">
                      {{ partial "bi-chevron-up" . }}
                    </template>
                    <template x-if="!sortAsc">
                      {{ partial "bi-chevron-down" . }}
                    </template>
                  </span>
                </template>{{ i18n "total_precipitation" }}
              </th>
              <th scope="col" @click="sort('wind_gust')" role="button">
                <template x-if="sortCol == 'wind_gust'">
                  <span>
                    <template x-if="sortAsc">
                      {{ partial "bi-chevron-up" . }}
                    </template>
                    <template x-if="!sortAsc">
                      {{ partial "bi-chevron-down" . }}
                    </template>
                  </span>
                </template>{{ i18n "wind_gust_maximum" }}
              </th>
              <th scope="col" @click="sort('humidity')" role="button">
                <template x-if="sortCol == 'humidity'">
                  <span>
                    <template x-if="sortAsc">
                      {{ partial "bi-chevron-up" . }}
                    </template>
                    <template x-if="!sortAsc">
                      {{ partial "bi-chevron-down" . }}
                    </template>
                  </span>
                </template>{{ i18n "average_relative_humidity" }}
              </th>
              <th scope="col" @click="sort('pressure')" role="button">
                <template x-if="sortCol == 'pressure'">
                  <span>
                    <template x-if="sortAsc">
                      {{ partial "bi-chevron-up" . }}
                    </template>
                    <template x-if="!sortAsc">
                      {{ partial "bi-chevron-down" . }}
                    </template>
                  </span>
                </template>{{ i18n "average_pressure" }}
              </th>
              <th scope="col" @click="sort('snow_level')" role="button">
                <template x-if="sortCol == 'snow_level'">
                  <span>
                    <template x-if="sortAsc">
                      {{ partial "bi-chevron-up" . }}
                    </template>
                    <template x-if="!sortAsc">
                      {{ partial "bi-chevron-down" . }}
                    </template>
                  </span>
                </template>{{ i18n "average_snow_height" }}</th>
            </tr>
          </thead>
          <tbody>
            <template x-for="cityData in tableData">
              <tr>
                <td>
                  <a x-bind:href="cityData.url">
                    <h6 x-text="cityData.name"></h6>
                  </a>
                </td>
                <td x-text="cityData.elevation + ' m'"></td>
                <td x-text="cityData.temperature_minimum"></td>
                <td x-text="cityData.temperature_maximum"></td>
                <td x-text="cityData.rain"></td>
                <td x-text="cityData.wind_gust"></td>
                <td x-text="cityData.humidity"></td>
                <td x-text="cityData.pressure"></td>
                <td x-text="cityData.snow_level"></td>
              </tr>
            </template>
          </tbody>
        </table>
      </div>
    </div>
  </template>
  <template x-if="tableData.length === 0">
    <div class="alert alert-secondary">
      <div class="container-fluid">
        <div class="d-flex">
          <div>
            <h3 class="mb-3" x-text=region.missing></h3>
            <p class="text-bulletin-text">{{ i18n "weather_observation__missing" }}</p>
          </div>
        </div>
      </div>
    </div>
  </template>
</section>
