<div class="my-3 header">
  <div class="row d-flex">
    <div class="col-md-4">
      <h1>{{ i18n (.Get "title") }}</h1>
    </div>
    <div class="col-md-8 d-none d-md-block">     
      {{ .Inner }}
    </div>
  </div>
</div>
