<script src="{{ .Site.BaseURL }}js/leaflet.js"></script>
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/leaflet.css" />
<script>
  const towns = {{ (index .Site.Data "venues" .Page.Language.Lang "2") }}.concat({{ (index .Site.Data "venues" .Page.Language.Lang "8") }}) {{"// eslint-disable-line no-unused-vars" | safeJS }}


  Alpine.data('searchApp', () => ({
    searched: "",
    venuesFiltered: [],
    updateFilteredVenues() {
      if (this.searched.length > 2) {
        this.venuesFiltered = {{ default "towns" .Page.Params.search | safeJS }}.filter(town => town.name.toLowerCase().includes(this.searched.toLowerCase()))
        this.venuesFiltered.forEach(venue => {
          venue.querystring = `${venue.id}`
          if (venue.id_venue_type === "8") {
            // when id_venue_type === "8" its weight is always 0
            venue.querystring = `${venue.id_region}` + "?name=" + venue.name + `&weight=${venue.weight}`
          }
          if (venue.weight === 0 && venue.id_venue_type !== "8") {
            venue.querystring += `?weight=${venue.weight}`
          }
        })
      } else {
        this.venuesFiltered = []
      }
    },
  }))

  Alpine.data('stationsMap', () => ({
    region_id: '1aa901c4-2315-4b71-a871-a0a506f90ff1', // Euregio
    map: null,
    markers: [],
    ready: false,
    countFetch: 0,
    readyfavorite: false,
    texts: [],
    regions: [],
    time_layouts: [],
    index_layout: 0,
    days: [],
    mapStatus: [],
    weights: [],
    data: {},
    bulletins: [],
    town: null,
    favorites_data: {},
    favorites_names: {},
    current_favorite: "",
    start: "",
    desktop_screen: true,

    formatDate(date) {
      const days = {{ (index .Site.Data "multilingual_date_names" .Page.Language.Lang "days_short_lower") }}
      const months = {{ (index .Site.Data "multilingual_date_names" .Page.Language.Lang "months_short_lower") }}
      const day = days[date.getDay()]
      const mm = months[date.getMonth()]
      return `${day} ${date.getDate()} ${mm}`

    },
    addDays(date, days) {
      let date1 = new Date(date);
      date1.setDate(date1.getDate() + days);
      return date1;
    },

    handleMapChange () {
      console.log("handleMapChange")
      let latlng = this.map.getCenter()
      let z = this.map.getZoom()
      this.mapStatus = [latlng.lat, latlng.lng, z]

      this.markers.forEach(marker => this.map.removeLayer(marker))
      this.markers = []
      this.tableData = []
      this.setMarkers()
    },

    getParameterByName (key, def) {
      const url_string = window.location.href
      const url = new URL(url_string);
      const value = url.searchParams.get(key)
      return value === null ? def : value          
    },

    check_screen_width () {
      if (window.innerWidth < 768) {
        this.desktop_screen = false
      } else {
        this.desktop_screen = true
      }
    },

    widthResizer( ){
      this.check_screen_width()
    },

    zoom_region(lat, lon, id) {
      this.check_screen_width()
      var zoom_level = null
      if (this.desktop_screen) {
        if (id == '1aa901c4-2315-4b71-a871-a0a506f90ff1') {
          zoom_level = 8
        } else {
          zoom_level = 9
        }
      } else {
        if (id == '1aa901c4-2315-4b71-a871-a0a506f90ff1') {
          zoom_level = 7
        } else if (id == 'aadb73d3-bab3-484f-accf-01e19f7fcc04') {
          zoom_level = 7.25
        } else if (id == '7d2d63a2-5f2c-4b53-841f-22c50ea03768') {
          zoom_level = 7.5
        } else {
          zoom_level = 8
        }
      }

      this.map.setView([lat, lon], zoom_level)
      this.region_id = id
    },

    async mountMap() {
      window.addEventListener('resize', this.widthResizer.bind(this))
      this.check_screen_width()

      var forecasts_bulletin = `{{ .Site.BaseURL | safeJS }}var/data/forecasts/bulletin.json`
      fetch(forecasts_bulletin).then(response => response.json()).then(data => {
        this.start = new Date (data.reference)
        for (let i = 0; i < 6; i++) {
          this.days.push(this.formatDate(this.addDays(this.start, i)))
        }
      })

      this.time_layouts = {{ (index .Site.Data "time_layouts") }}["1440"].filter(tl => tl >= 144000000)
      var url = `{{ .Site.BaseURL | safeJS }}var/data/bulletins/{{ .Page.Language.Lang | safeJS }}/bulletins.json`
      const response = await fetch(url)
      this.bulletins = await response.json()

      towns.forEach(venue => {
        this.weights.push(venue.weight)
      })

      this.regions = {{ (index .Site.Data "venues" .Page.Language.Lang "0") }}
      this.map = L.map('map', {
        dragging: !L.Browser.mobile,
        tap: !L.Browser.mobile,
        minZoom: 7,
        maxZoom: 11,
        zoomSnap: 0.25,
        zoomDelta: 0.25,
        scrollWheelZoom: true
      })
      this.map.on('load', () => this.handleMapChange())
      this.map.on('zoomend', () => this.handleMapChange())
      this.map.on('moveend', () => this.setMarkers())

      // just print zoom level
      this.map.on('zoomend', function (e) {
        console.log("zoomend", e.target._zoom);
      });

      const layer_highlight = {{ (index .Site.Data "euregio_outside_highlight") }}

      L.geoJson(layer_highlight, {
        style: function () {
          return {
            color: 'black',
            opacity: 0.65,
            fillColor: 'black',
            fillOpacity: 0.1,
          }
        }
      }).addTo(this.map)

      const venue_id = this.getParameterByName('id')
      let position = [46.7601862, 11.4494348]
      var zoom_level = null
      if (this.desktop_screen) {
         zoom_level = 8
       } else {
         zoom_level = 7
       }

      if (venue_id) {
        this.town = towns.find(e => e.id === venue_id)
        position = [this.town.lat, this.town.lon]
        zoom_level = 11
        this.region_id = this.town.id_region
      }

      L.tileLayer('/tms/{z}/{x}/{y}.webp', {
        attribution: 'CC BY avalanche.report'
      }).addTo(this.map)
      this.map.setView(position, zoom_level)

      this.refresh()
      this.mountFavorites()
    },

    mountFavorites(){
      this.current_favorite = favorites_towns[favorites_town_index]
      favorites_towns.forEach(town => {
        var url = `{{ .Site.BaseURL | safeJS}}var/data/forecasts/${town}.json` {{"// eslint-disable-line no-useless-escape" | safeJS }}
        fetch(url).then(response => response.json()).then(data => {         
          this.favorites_data[town] = data[1440]
          this.favorites_names[town] = towns.find(e => e.id === town).name
          this.favorites_data["dates"] = {}
          let i = 0
          for(const item in data[1440]){
            this.favorites_data["dates"][item] = this.favoritesFormatDate(this.addDays(this.start, i))
            let sky_cond = sky_conditions.find(e => e.id === this.favorites_data[town][item].sky_condition.toLowerCase())
            this.favorites_data[town][item]["sky_cond"] = sky_cond.icon_day      
            i += 1
          }
          this.countFetch += 1
        }).catch(() => {})
      })
      
    },

    favoriteFetchUpdate(){
      if(this.countFetch > 2){
        this.readyfavorite = true
      }
    },

    favoritesFormatDate(date){
      const dd = date.getDate()
      const mm = date.getMonth() + 1
      const yy = date.getFullYear()
      const days = {{ (index .Site.Data "multilingual_date_names" .Page.Language.Lang "days") }}
      const day = days[date.getDay()]
      return {day: day, date:`${(dd>9 ? '' : '0') + dd}-${(mm>9 ? '' : '0') + mm}-${yy}`}
    },

    createPopover(venue, venue_data, open=false) {
      var sky_cond = sky_conditions.find(e => e.id === venue_data.sky_condition.toLowerCase())
      var svg = sky_cond.svg_day
      var sky_cond_icon = L.divIcon({
        html: '<div aria-label="Icon of sky condition">' + svg + '</div>',
        className: "myshadow",
        iconSize: [60, 60],
        iconAnchor: [25, 40],
      });
      let marker = L.marker([venue.lat, venue.lon], {icon: sky_cond_icon}).addTo(this.map)
      if (venue_data) {
        let popoverContent = `
        <table>
          <tr>
            <td>
                <a href="forecast/${venue.id}/?time_layout=${this.time_layouts[this.index_layout]}">
                  <h6>${venue.name}</h6> 
                </a>
            </td>
          </tr>
          <tr>
            <td>{{ i18n "maximum_temperature" | safeJS }}: </td>
            <td><b>${venue_data.temperature_maximum} °C</b></td>
          </tr>
          <tr>
            <td>{{ i18n "minimum_temperature" | safeJS }}: </td>
            <td><b>${venue_data.temperature_minimum} °C</b></td>
          </tr>
        </table>`

        marker.bindPopup(popoverContent)
        this.markers.push(marker)
      } else {
        let popoverContent = `<table>
          <tr>
            <td>
              <h6>${venue.name}</h6>
            </td>
          </tr>
          <tr>
            <td>{{ i18n "weather_report_missing" | safeJS }}</td>
          </tr>
        </table>`

        marker.bindPopup(popoverContent)
        this.markers.push(marker)
      }
      if (open) {
        marker.openPopup()
      }
    },

    setMarkers() {
      let zoom = this.mapStatus[2]
      let threshold = 12 - zoom
      let count = 0
      let bounds = this.map.getBounds() // Get the current map bounds
      this.markers.forEach(marker => this.map.removeLayer(marker))
      this.markers = []

      towns.forEach(venue => {
        if (venue.id in this.data && venue.weight >= threshold) {
          if (bounds.contains([venue.lat, venue.lon])) {
            // Check if venue lat and lon are in the current map bounds
            const open = this.town && venue.id === this.town.id
            this.createPopover(venue, this.data[venue.id], open)
            count += 1
          }
        }
      })
      console.log(`zoom = ${zoom}, threshold = ${threshold}, created ${count} markers`)
    },

    async refresh() {
      console.log("refresh")
      var url = `{{ .Site.BaseURL | safeJS}}var/data/forecasts/${this.time_layouts[this.index_layout]}.json` {{"// eslint-disable-line no-useless-escape" | safeJS }}
      this.markers.forEach(marker => this.map.removeLayer(marker))
      this.markers = []
      this.tableData = []

      try{
        const response = await fetch(url)
        this.data = await response.json()

        this.setMarkers()
      }catch(e){
        this.data = {}
      }

      this.mountTexts()
    },

    mountTexts() {
      const region_articles = {{ (index .Site.Data "multilingual_date_names" .Page.Language.Lang "region_articles") }} {{"// eslint-disable-line no-unused-vars" | safeJS }}
      this.ready = false
      this.texts = []
      this.regions.forEach(region => {
        let text = this.bulletins.find(t => t.id_time_layout === this.time_layouts[this.index_layout] && t.id_venue === region.id)
        if (text !== undefined) {
          text.day = (this.favoritesFormatDate(new Date (text.start)).day)
          text.date = (this.favoritesFormatDate(new Date (text.start)).date)
        }
        let title = {{ if eq .Page.Language.Lang "en" }} region.name + " " + {{ i18n "weather_forecast" }} {{ else }} {{ i18n "weather_forecast" }} + " " + region_articles[region.id] + region.name {{ end }};
        let id = region.id
        if (text && text.value) {
          this.texts.push({
            id: id,
            title: title,
            region_name: region.name,
            value: text,
            classes: "alert alert-custom",
          })
        } else {
          this.texts.push({
            id: id,
            title: title,
            region_name: region.name,
            value: { value: "{{ i18n "weather_report_missing" }}", start: null },
            classes: "alert alert-secondary",
          })
        }
      })
      this.ready = true
    },

    updateCurrentFavorite(town){
      this.current_favorite = town
      if (!storageAvailable("localStorage")) return;
      if(JSON.parse(localStorage.getItem('favorites_towns')) !== null){
        favorites_town_index = favorites_towns.indexOf(this.current_favorite)
        localStorage.setItem('favorites_town_index', JSON.stringify(favorites_town_index));
      }
    }
  }))
</script>

<div x-data="stationsMap">
  <div class="row pt-4">
    <!-- Colonna sx -->
    <div class="col-lg-8">
      <div>
          <div>
            <div class="tabbable" x-init="$watch('index_layout', value => refresh());">
              <ul class="nav nav-tabs days-menu">
                <li class="nav-item">
                    <a class="nav-link" role="button" aria-current="page" x-bind:class='index_layout === 0 ? "active-tab" : ""' x-on:click='index_layout = 0' x-text="days[0]"></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" role="button" aria-current="page" x-bind:class='index_layout === 1 ? "active-tab" : ""' x-on:click='index_layout = 1' x-text="days[1]"></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" role="button" aria-current="page" x-bind:class='index_layout === 2 ? "active-tab" : ""' x-on:click='index_layout = 2' x-text="days[2]"></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" role="button" aria-current="page" x-bind:class='index_layout === 3 ? "active-tab" : ""' x-on:click='index_layout = 3' x-text="days[3]"></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" role="button" aria-current="page" x-bind:class='index_layout === 4 ? "active-tab" : ""' x-on:click='index_layout = 4' x-text="days[4]"></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" role="button" aria-current="page" x-bind:class='index_layout === 5 ? "active-tab" : ""' x-on:click='index_layout = 5' x-text="days[5]"></a>
                </li>             
              </ul>
      
              <div id="map" x-init="mountMap"></div>
      
              <!-- change area menu -->
              <template x-if="ready">
                <div class="row">
                  <ul class="nav nav-pills justify-content-center regions-pills my-3">
                    <li class="nav-item">
                      <a class="nav-link d-inline-block text-truncate"
                        role="button"
                        x-bind:class="region_id === '1aa901c4-2315-4b71-a871-a0a506f90ff1' ? 'active' : ''"
                        x-on:click="zoom_region(46.7601862, 11.4494348, '1aa901c4-2315-4b71-a871-a0a506f90ff1')"
                        x-text="regions.find(region => region.id =='1aa901c4-2315-4b71-a871-a0a506f90ff1').name"
                      ></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link d-inline-block text-truncate"
                        role="button"
                        x-bind:class="region_id === 'aadb73d3-bab3-484f-accf-01e19f7fcc04' ? 'active' : ''"
                        x-on:click="zoom_region(47.23106, 11.5344824, 'aadb73d3-bab3-484f-accf-01e19f7fcc04')"
                        x-text="regions.find(region => region.id =='aadb73d3-bab3-484f-accf-01e19f7fcc04').name"
                      ></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link d-inline-block text-truncate" role="button"
                        x-bind:class="region_id === '7d2d63a2-5f2c-4b53-841f-22c50ea03768' ? 'active' : ''"
                        x-on:click="zoom_region(46.7080914, 11.429204, '7d2d63a2-5f2c-4b53-841f-22c50ea03768')"
                        x-text="regions.find(region => region.id =='7d2d63a2-5f2c-4b53-841f-22c50ea03768').name"
                      ></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link d-inline-block text-truncate"
                        role="button"
                        x-bind:class="region_id === 'fba93146-7192-4190-adab-605435fdeea1' ? 'active' : ''"
                        x-on:click="zoom_region(46.1228446, 11.1861778, 'fba93146-7192-4190-adab-605435fdeea1')"
                        x-text="regions.find(region => region.id =='fba93146-7192-4190-adab-605435fdeea1').name"></a>
                    </li>
                  </ul>
                </div>
              </template>
              <!-- end change area menu -->
          </div>
        </div>
      </div>
    </div>
    <!-- Fine Colonna sx -->

    <!-- Text in small mode -->
    <div class="d-lg-none">
      <template x-if="ready">
        <template x-for="text in texts">
          <template x-if="text.id === region_id">
            <div :class="'active ' + text.classes">
              <div class="d-flex">
                <div>
                  <h3 class="mb-3" x-text="text.title"></h3>
                  <template x-if="text.value.start">
                    <h5 x-text="`${text.value.day + ' ' + text.value.date}`"></h5>
                  </template>
                  <p class="text-bulletin-text" x-text="text.value.value"></p>
                </div>
              </div>
            </div>
          </template>
        </template>
      </template>
    </div>
    <!-- End text in small mode -->

    <!-- Colonna dx -->
    <div class="col-lg-4" style="position: relative;">
      <!-- search -->
    <div class="pt-3">
      <form x-data="searchApp" x-init="$watch('searched', value => updateFilteredVenues())">
        <input class="form-control mb-3" type="search" x-model="searched" placeholder="{{ i18n "search" }}" aria-label="Search">
        <ul id="list" class="list-group row">
          <template x-for="venue in venuesFiltered">
            <li tabindex="-1" class="list-group-item">
              <a x-text="venue.name" x-bind:href="'forecast/' + venue.querystring"></a>
            </li>
          </template>
        </ul>
      </form>
    </div>
      <!-- end search -->
      <!-- widget -->
      <template x-if="readyfavorite" x-init="$watch('countFetch', value => favoriteFetchUpdate());">
        <section>
          <div class="h-100">
            <div class="mt-4">
              <div class="d-flex justify-content-between">
                <template x-for="town in favorites_towns.slice(0, 3)">
                  <div class="col-4">
                    <ul class="nav nav-pills nav-justified">
                      <li class="nav-item">
                        <a class="nav-link d-inline-block text-truncate"
                          style="max-width: 150px;"
                          x-bind:class="current_favorite === town ? 'active-tab' : ''" x-text="favorites_names[town]"
                          x-on:click="updateCurrentFavorite(town)" role="button">
                        </a>
                      </li>
                    </ul>
                  </div>
                </template>
              </div>
            </div>
            <div class="row d-flex justify-content-center align-items-center h-100">
              <div class="col-md-12">
                <div class="card mb-4 gradient-custom" style="border-radius: 10px; color: #fff; background-color: #515F73;">
                  <div class="card-body p-4">
                    <div id="widget1">
                      <div class="carousel-inner">
                        <div class="carousel-item active">
                          <div class="d-flex justify-content-between">
                            <div class="text-center">
                              <p class="mb-0">
                                <span x-text="favorites_data.dates[144000000].day" class="fw-bold"></span>
                                <br/>
                                <span x-text="favorites_data.dates[144000000].date"></span>
                              </p>
                              <h3 class="mb-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-building" viewBox="0 0 16 16">
                                  <title id="title">{{ i18n "town" }}</title>
                                  <path fill-rule="evenodd" d="M14.763.075A.5.5 0 0 1 15 .5v15a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V14h-1v1.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V10a.5.5 0 0 1 .342-.474L6 7.64V4.5a.5.5 0 0 1 .276-.447l8-4a.5.5 0 0 1 .487.022zM6 8.694 1 10.36V15h5V8.694zM7 15h2v-1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5V15h2V1.309l-7 3.5V15z"/>
                                  <path d="M2 11h1v1H2v-1zm2 0h1v1H4v-1zm-2 2h1v1H2v-1zm2 0h1v1H4v-1zm4-4h1v1H8V9zm2 0h1v1h-1V9zm-2 2h1v1H8v-1zm2 0h1v1h-1v-1zm2-2h1v1h-1V9zm0 2h1v1h-1v-1zM8 7h1v1H8V7zm2 0h1v1h-1V7zm2 0h1v1h-1V7zM8 5h1v1H8V5zm2 0h1v1h-1V5zm2 0h1v1h-1V5zm0-2h1v1h-1V3z"/>
                                </svg>
                                <a x-bind:href="'forecast/' + current_favorite" class="mb-0"  style="color:white" x-text="favorites_names[current_favorite]"></a>
                              </h3>
                              <p class="display-5">
                                <span x-text="favorites_data[current_favorite][144000000].temperature_minimum" style="border-radius: 5px; background-color: #1BACE4; padding: 0px 5px;"></span> / <span x-text="favorites_data[current_favorite][144000000].temperature_maximum" style="border-radius: 5px; background-color: #ED1B24; padding: 0px 5px;"></span> °C
                              </p>
                              <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-droplet" viewBox="0 0 20 20">
                                <path fill-rule="evenodd" d="M7.21.8C7.69.295 8 0 8 0c.109.363.234.708.371 1.038.812 1.946 2.073 3.35 3.197 4.6C12.878 7.096 14 8.345 14 10a6 6 0 0 1-12 0C2 6.668 5.58 2.517 7.21.8zm.413 1.021A31.25 31.25 0 0 0 5.794 3.99c-.726.95-1.436 2.008-1.96 3.07C3.304 8.133 3 9.138 3 10a5 5 0 0 0 10 0c0-1.201-.796-2.157-2.181-3.7l-.03-.032C9.75 5.11 8.5 3.72 7.623 1.82z" stroke="#1BABE4"/>
                                <path fill-rule="evenodd" d="M4.553 7.776c.82-1.641 1.717-2.753 2.093-3.13l.708.708c-.29.29-1.128 1.311-1.907 2.87z"/>
                              </svg>
                              <span class="mb-0" x-text="favorites_data[current_favorite][144000000].rain_probability +' %'"></span>
                              <p class="mb-0" x-text="favorites_data[current_favorite][144000000].rain_fall +' mm'"></p>
                            </div>
                            <div class="d-flex align-items-center justify-content-center">
                                <img height="120" :src="'/images/icons/' + favorites_data[current_favorite][144000000].sky_cond" alt="imgday1">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
        
                  </div>
                </div>
        
                <div class="card mb-4" style="border-radius: 10px; color: #fff; background-color: #515F73;">
                  <div class="card-body p-2">
                    <div class="d-flex justify-content-around text-center mb-4 pb-1 pt-4" id="widget2">
                      <template x-for="(favData, index) in favorites_data[current_favorite]">
                        <template x-if="index.toString() !== '144000000' && index.toString() !== '144007200'">
                          <div>
                              <p class="small">
                                <a
                                  class="fw-bold d-block text-white"
                                  x-bind:href="'forecast/' + current_favorite + '?time_layout=' + index"
                                  x-text="favorites_data.dates[index].day">
                                </a>
                                <span x-text="favorites_data.dates[index].date"></span>
                              </p>
                              <img :alt="'imgday' + index" height="40" :src="'/images/icons/' + favData.sky_cond" class="mb-1">
                              <p class="mb-1">
                                <span x-text="favorites_data[current_favorite][index].temperature_minimum" style="border-radius: 5px; background-color: #1BACE4; padding: 0px 2px;"></span> / <span x-text="favorites_data[current_favorite][index].temperature_maximum" style="border-radius: 5px; background-color: #ED1B24; padding: 0px 1px;"></span> °C
                              </p>
                              <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-droplet" viewBox="0 0 20 20">
                                <path fill-rule="evenodd" d="M7.21.8C7.69.295 8 0 8 0c.109.363.234.708.371 1.038.812 1.946 2.073 3.35 3.197 4.6C12.878 7.096 14 8.345 14 10a6 6 0 0 1-12 0C2 6.668 5.58 2.517 7.21.8zm.413 1.021A31.25 31.25 0 0 0 5.794 3.99c-.726.95-1.436 2.008-1.96 3.07C3.304 8.133 3 9.138 3 10a5 5 0 0 0 10 0c0-1.201-.796-2.157-2.181-3.7l-.03-.032C9.75 5.11 8.5 3.72 7.623 1.82z" stroke="#1BABE4"/>
                                <path fill-rule="evenodd" d="M4.553 7.776c.82-1.641 1.717-2.753 2.093-3.13l.708.708c-.29.29-1.128 1.311-1.907 2.87z"/>
                              </svg>
                              <span class="mb-0" x-text="favData.rain_probability+'%'"></span>
                              <p class="mb-0" x-text="favorites_data[current_favorite][index].rain_fall +' mm'"></p>
                          </div>
                        </template>
                      </template>
                    </div>
                  </div>
                </div>
        
              </div>
            </div>
        
          </div>
        </section>  
      </template>
          
      <!-- fine widget -->
    
    <!-- Fine Colonna dx -->
  </div>
  {{ .Inner }}

  </div>
  <!-- Text in large mode -->
  <div class="d-none d-lg-block">
    <template x-if="ready">
      <template x-for="text in texts">
        <template x-if="text.id === region_id">
          <div :class="'active ' + text.classes">
            <div class="d-flex">
              <div>
                <h3 class="mb-3" x-text="text.title"></h3>
                <template x-if="text.value.start">
                  <h5 x-text="`${text.value.day + ' ' + text.value.date}`"></h5>
                </template>
                <p class="text-bulletin-text" x-text="text.value.value"></p>
              </div>
            </div>
          </div>
        </template>
      </template>
    </template>
  </div>
  <!-- End text in large mode -->

  <div class="mt-5">
    {{ partial "disclaimer" (dict "context" . "disclaimer_text" "disclaimer_forecasts") }}
  </div>

</div>
