<script src="{{ .Site.BaseURL }}js/chart.umd.js"></script>
<script src="{{ .Site.BaseURL }}js/chartjs-plugin-crosshair.min.js"></script>

<script>
    const subregions = {{ (index .Site.Data "venues" .Page.Language.Lang "5") }}
    const mountainRegions = {{ (index .Site.Data "venues" .Page.Language.Lang "4") }}
    const temperature_colors = {
        "1500": "#E60001",
        "2000": "#FF8B01",
        "2500": "#63C5DA",
        "3000": "#3944BC"
    }
    const wind_colors = {
        "1500": "#7CFC00",
        "2000": "#32CD32",
        "2500": "#5d8c55",
        "3000": "#355935"
    }

  Alpine.data('chart', () => ({
    id: '',
    forecast: {},
    datasetsTemperature: [],
    datasetsWind: [],
    station: { 
        name: ""
    },
    ticks: {
      temperature: 8,
      wind: 8,
      cumulativePrecipitation: 8,
      precipitation: 8,
      pressure: 10,
    },
    parameters: [
      "temperature",
      "wind_speed",
      "wind_gust",
      "wind_direction",
      "rain_fall",
      "pressure",
      "relative_humidity"
    ],
    countFetch: 0,
    labels: [],
    labelsToShow: [],

    cleanup (value) {
      return value > 1e6 ? null : value
    },

    windRange(value){
      let max = Math.ceil(value / 5) * 5
      let min = max - 5
      if(max <=0)
        return 0
      return min + "–" + max
    },

    mountChart () {
        this.id = this.getParameterByName('id', 0)

        let values = {}

        this.station = mountainRegions.find(e => e.id === this.id)
        let mountainHeights = subregions.filter(e => e.id_region === this.id)

        this.parameters.forEach(parameter => {
            values[parameter] = []
        })

        values["cumulativeRainFall"] = []

        mountainHeights.forEach(e => {                 
            var sensorURL = `{{ .Site.BaseURL | safeJS }}var/data/mountains/${e.id}.json`
            fetch(sensorURL).then(response => response.json()).then(data => {
            let forecasts = data
            let date = new Date(forecasts.start)
            let cumulativeRain = 0
            
            this.parameters.forEach(parameter => {
                values[parameter] = []
            })

            for (const time_layout in forecasts ["180"]) {
                this.parameters.forEach(parameter => {
                    let value = forecasts["180"][time_layout][parameter]
                    values[parameter].push(this.cleanup(value))

                    if(parameter === "rain_fall"){
                    cumulativeRain += this.cleanup(value)
                    values["cumulativeRainFall"].push(cumulativeRain)
                    }
                })
                
                const mm = date.getMonth() + 1; // getMonth() is zero-based
                const dd = date.getDate();
                const year = date.getFullYear();
                const h = date.getHours();
                const m = date.getMinutes();

                const formattedData = ((dd>9 ? '' : '0') + dd) + '/' + ((mm>9 ? '' : '0') + mm) + '/' + year + ' ' + ((h>9 ? '' : '0') + h) + ':' + ((m>9 ? '' : '0') + m)

                if(this.countFetch === 0){
                    if((h === 2 || h === 1) && m === 0){
                        this.labelsToShow.push(true)
                    }else{
                        this.labelsToShow.push(false)
                    }

                    this.labels.push(formattedData)
                }
                
                date = new Date(date.getTime())
                date = new Date(date.setTime(date.getTime() + 60 * 60 * 1000 * 3))
            }


            this.datasetsTemperature.push({
                data: values["temperature"],
                type: "line",
                label: e.elevation + " m",
                borderWidth: 4,
                borderColor: temperature_colors[e.elevation.toString()],
                pointBackgroundColor: temperature_colors[e.elevation.toString()],
                unit: "°C",
                yAxisID: 'y1',
                pointRadius: 2,
                pointHitRadius: 10,
                id: e.id,
                elevation: e.elevation,
                parameter: "temperature",
                hidden: e.elevation === 2000 || e.elevation === 2500
            })


            if(e.elevation === 1500){
                this.datasetsTemperature.push({
                    data: values["rain_fall"],
                    type: "bar",
                    label: "{{ i18n "precipitation30" }}",
                    barThickness: "flex",
                    barPercentage: 1,
                    borderWidth: 0,
                    backgroundColor: 'rgba(91, 179, 243, 0.5)',
                    unit: "mm",
                    yAxisID: 'y2',
                    parameter: "precipitation",
                    elevation: 3500,
                })
            }

            this.datasetsWind.push({
                data: values["wind_gust"],
                type: "line",
                label: e.elevation + " m",
                borderWidth: 4,
                borderColor: wind_colors[e.elevation.toString()],
                pointBackgroundColor: wind_colors[e.elevation.toString()],
                pointHitRadius: 10,
                unit: "km/h",
                yAxisID: 'y1',
                parameter: "wind_gust",
                elevation: e.elevation,
                hidden: e.elevation === 2000 || e.elevation === 2500
            })

            this.countFetch += 1
        })          
        })
    },

    defineOptions(scale, labels, labelsToShow, mobile) {
      let myScale = scale

      myScale["x"] = {
        title: {
          display: false,
          text: "{{ i18n "date" }}",
          font: {
              size: 16
          },
        },
        grid: {
          lineWidth: 2
        },
        ticks: {
          maxRotation: 0,
          minRotation: 0,
          callback: function(val) {
            return labelsToShow[val] ? labels[val].slice(0,10) : null
          },
        }
      }

      let windRangeFunction = this.windRange

      let plugins = {
        tooltip: {
            mode: 'index',
            intersect: false,
            callbacks: {
              label: function(context) {
                if (context.dataset.parameter == "wind_gust") {
                  return context.dataset.label + ": " + windRangeFunction(parseFloat(context.formattedValue)) + " " + context.dataset.unit;
                }
                return context.dataset.label + ": " + context.formattedValue + " " + context.dataset.unit;
              },
            },
          },
        crosshair: {
        line: {
            color: '#F66',  // crosshair line color
            width: 1        // crosshair line width
        },
        sync: {
            enabled: true,            // enable trace line syncing with other charts
            group: 1,                 // chart group
            suppressTooltips: true   // suppress tooltips when showing a synced tracer
        },
        zoom: {
            enabled: true,                                      // enable zooming
            zoomboxBackgroundColor: 'rgba(66,133,244,0.2)',     // background color of zoom box 
            zoomboxBorderColor: '#48F',                         // border color of zoom box
            zoomButtonText: 'Reset Zoom',                       // reset zoom button text
            zoomButtonClass: 'btn btn-outline-primary col-2',                      // reset zoom button class
        },
        }
      }
      let elements = {
        point: {
          radius: 0,
          display: true
        }
      }

      if(mobile){
        myScale.x.ticks.callback = function(val) {
          return labelsToShow[val] ? labels[val].slice(0,5) : null
        }
      }

      return {
        scales: myScale,
        plugins: plugins,
        elements: elements,
      }
    },

    calculateAxisBounds(dataset, nsteps, canBelowZero){
      // https://stackoverflow.com/a/51577579
      let filtered = dataset.filter((x) => x !== null && x < 1e6)
      if(filtered.length < 2 || filtered.filter((x) => x !== 0).length < 2){
        filtered = [0, 1]
      }
      const max = Math.max(...filtered)
      const min = Math.min(...filtered)
      const min_int = Math.floor(min)
      const max_int = Math.ceil(max)
      const delta_int = Math.abs(max_int - min_int)
      const remainder = delta_int % nsteps
      if (remainder === 0) {
        return { min: min_int, max: max_int }
      } else {
        let new_steps = nsteps - remainder
        const new_delta_int = delta_int + new_steps
        let new_min_int = min_int - Math.floor(new_steps / 2)
        if(!canBelowZero && new_min_int < 0){
          new_min_int = 0
        }
        const new_max_int = new_min_int + new_delta_int
        return { min: new_min_int, max: new_max_int }
      }
    },

    getParameterByName (key, def) {
      const url_string = window.location.href
      const url = new URL(url_string);
      const value = url.searchParams.get(key)
      return value === null ? def : value          
    },

    plot(){
        if(this.countFetch > 3){

          let scale = {}
          let tdata = []
          let rdata = []

          this.datasetsTemperature.forEach(e => {
              if(e.parameter === "temperature"){
                  tdata = tdata.concat(e.data)
              }else if (e.parameter === "precipitation"){
                  rdata = rdata.concat(e.data)
              }
          })
          const boundsTemperature = this.calculateAxisBounds(tdata, this.ticks.temperature, true)
          let deltaT = Math.abs(boundsTemperature.max - boundsTemperature.min)
          let steps = deltaT / this.ticks.temperature
          
          scale["y1"] = {
              min: boundsTemperature.min,
              max: boundsTemperature.max,
              position: "left",
              title: {
                  display: true,
                  text: "{{ i18n "temperature" }} [°C]",
                  font: {
                  size: 16
                  },
              },
              grid: {
                  lineWidth: function(context) {
                    if (context.tick.value === 0) {
                      return 2;
                    }   
                    return 0;
                  },
                  color: "#616569",
              },
              ticks: {
                  callback: function(value, index) {
                    if(value === 0 || index % steps === 0){
                      return value
                    }
                    return ' ';
                  },
                  autoSkip: false,
                  stepSize: 1,
              }
          }

          const boundsRain = this.calculateAxisBounds(rdata, this.ticks.precipitation, false)
          
          scale["y2"] = {
              min: boundsRain.min,
              max: boundsRain.max,
              position: "right",
              title: {
                  display: true,
                  text: "{{ i18n "precipitation30" }} [mm]",
                  font: {
                      size: 16
                  },
              },
              grid: {
                  lineWidth: 2
              },
              ticks:{
                  count: this.ticks.precipitation + 1,
              }
          }

          this.datasetsTemperature.sort((a, b) => a.elevation - b.elevation)

          let options = this.defineOptions(scale, this.labels, this.labelsToShow)
          new Chart(document.getElementById('chart_tr'), {
          type: 'line',
          data: {
              labels: this.labels,
              datasets: this.datasetsTemperature,
          },
          options: options
          })

          //MOBILE temperature and rain
          let scaleMobile = {}
          let datasetsMobileT = []
          let datasetsMobileR = []
          
          this.datasetsTemperature.forEach(dataset => {
              let copyDataset = JSON.parse(JSON.stringify(dataset))
              if(copyDataset.parameter !== "precipitation"){
                  copyDataset.pointHitRadius = 3
                  copyDataset.pointRadius = 1
                  datasetsMobileT.push(copyDataset)
              }else{
                  datasetsMobileR.push(copyDataset)
              }   
          })

          const boundsTemperatureM = this.calculateAxisBounds(tdata, (this.ticks.temperature / 2), true)
          let deltaTm = Math.abs(boundsTemperatureM.max - boundsTemperatureM.min)
          let stepsM = deltaTm / (this.ticks.temperature / 2)
          scaleMobile["y1"] = scale.y1
          scaleMobile.y1.min = boundsTemperatureM.min
          scaleMobile.y1.max = boundsTemperatureM.max
          scaleMobile.y1.title = {}
          scaleMobile.y1.grid.lineWidth = 2
          

          scaleMobile.y1.grid.color = function(context) {
          if (context.tick.value === 0){
              return '#616569'
          }else if( context.index % stepsM === 0 ){
              return Chart.defaults.borderColor
          }
          return ''
          }

          scaleMobile.y1.ticks.callback = function(value, index) {
          if (value === 0 || index % stepsM === 0 ){
              return value
          }
          return ''
          }

          options = this.defineOptions(scaleMobile, this.labels, this.labelsToShow, true)

          
          new Chart(document.getElementById('chart_tM'), {
              type: 'line',
              data: {
                  labels: this.labels,
                  datasets: datasetsMobileT,
              },
              options: options
          })

          scaleMobile = {}

          scaleMobile["y2"] = scale.y2
          scaleMobile.y2.title = {}

          scaleMobile.y2.position = "left"

          options = this.defineOptions(scaleMobile, this.labels, this.labelsToShow, true)


          new Chart(document.getElementById('chart_rM'), {
              type: 'line',
              data: {
              labels: this.labels,
              datasets: datasetsMobileR,
              },
              options: options
          })


          let wdata = []

          this.datasetsWind.forEach(e => {
              wdata = wdata.concat(e.data)
          })

          this.datasetsWind.sort((a, b) => a.elevation - b.elevation)

          const boundsWind = this.calculateAxisBounds(wdata, this.ticks.wind, false)
          scale = {}
          scale["y1"] = {
              min: boundsWind.min,
              max: boundsWind.max,
              position: "left",
              ticks:{
                  autoSkip: true,
                  count: this.ticks.wind + 1,
              },
              title: {
                  display: true,
                  text: "{{ i18n "wind_gust" }} [km/h]",
                  font: {
                  size: 16
                  },
              },
              grid: {
                  lineWidth: 2
              },
          }

          options = this.defineOptions(scale, this.labels, this.labelsToShow)

          new Chart(document.getElementById('chart_w'), {
              type: 'line',
              data: {
                  labels: this.labels,
                  datasets: this.datasetsWind,
              },
              options: options
          })

          let datasetsMobileW = []

          this.datasetsWind.forEach(dataset => {
              let copyDataset = JSON.parse(JSON.stringify(dataset))
              copyDataset.pointHitRadius = 3
              copyDataset.pointRadius = 1
              datasetsMobileW.push(copyDataset)
          })

          scaleMobile = {}
          
          
          scaleMobile["y1"] = scale.y1
          scaleMobile.y1.title = {}

          options = this.defineOptions(scaleMobile, this.labels, this.labelsToShow, true)
          
          new Chart(document.getElementById('chart_wM'), {
              type: 'line',
              data: {
                  labels: this.labels,
                  datasets: datasetsMobileW,
              },
              options: options
          })

          Chart.registry.plugins.items.crosshair.doZoom = doZoom
        }
    }
  }))

  //redefine doZoom crosshair plugin
  function doZoom(chart, start, end) {

    // swap start/end if user dragged from right to left
    if (start > end) {
      var tmp = start;
      start = end;
      end = tmp;
    }
    /*  var beforeZoomCallback = helpers.valueOrDefault(chart.options.plugins.crosshair.callbacks ? chart.options.plugins.crosshair.callbacks.beforeZoom : undefined, defaultOptions.callbacks.beforeZoom);

    if (!beforeZoomCallback(start, end)) {
      return false;
    }  */

    chart.crosshair.dragStarted = false;

    if (!chart.crosshair.button) {
      // add restore zoom button
      var button = document.createElement('button');

      var buttonText = this.getOption(chart, 'zoom', 'zoomButtonText');
      var buttonClass = this.getOption(chart, 'zoom', 'zoomButtonClass');

      var buttonLabel = document.createTextNode(buttonText);
      button.appendChild(buttonLabel);
      button.className = buttonClass;
      button.addEventListener('click', function() {
        this.resetZoom(chart);
      }.bind(this));
      chart.canvas.parentNode.appendChild(button);
      chart.crosshair.button = button;
    }

    // set axis scale
    chart.options.scales.x.min = start;
    chart.options.scales.x.max = end;

    // make a copy of the original data for later restoration

    var storeOriginals = (chart.crosshair.originalData.length === 0) ? true : false;


    var filterDataset = (chart.config.options.scales.x.type !== 'category');

    if(filterDataset) {


      for (var datasetIndex = 0; datasetIndex < chart.data.datasets.length; datasetIndex++) {

        var newData = [];

        var index = 0;
        var started = false;
        var stop = false;
        if (storeOriginals) {
          chart.crosshair.originalData[datasetIndex] = chart.data.datasets[datasetIndex].data;
        }

        var sourceDataset = chart.crosshair.originalData[datasetIndex];

        for (var oldDataIndex = 0; oldDataIndex < sourceDataset.length; oldDataIndex++) {

          var oldData = sourceDataset[oldDataIndex];
          // var oldDataX = this.getXScale(chart).getRightValue(oldData)
          var oldDataX = oldData.x !== undefined ? oldData.x : NaN;

          // append one value outside of bounds
          if (oldDataX >= start && !started && index > 0) {
            newData.push(sourceDataset[index - 1]);
            started = true;
          }
          if (oldDataX >= start && oldDataX <= end) {
            newData.push(oldData);
          }
          if (oldDataX > end && !stop && index < sourceDataset.length) {
            newData.push(oldData);
            stop = true;
          }
          index += 1;
        }

        chart.data.datasets[datasetIndex].data = newData;
      }
    }

    chart.crosshair.start = start;
    chart.crosshair.end = end;

    if (storeOriginals) {
      var xAxes = this.getXScale(chart);
      chart.crosshair.min = xAxes.min;
      chart.crosshair.max = xAxes.max;
    }

    chart.crosshair.ignoreNextEvents = 2; // ignore next 2 events to prevent starting a new zoom action after updating the chart

    chart.update('none');


    var afterZoomCallback = this.getOption(chart, 'callbacks', 'afterZoom');

    afterZoomCallback(start, end);
  }
</script>

<div x-data="chart" x-init="mountChart">
    <div class="d-none d-md-block">
        <div>
            <h1 x-text="'{{ i18n "mountain_weather" }} ' + '{{ i18n "for" }} ' + station.name"></h1>
        </div>
        <div class="row mt-4" x-init="$watch('countFetch', value => plot());">
          <div class="mb-5">
            <h3>{{ i18n "temperature" }}</h3>
            <canvas id="chart_tr" width="800" height="450"></canvas>
          </div>
          <div class="mb-5">
            <h3>{{ i18n "wind_gust" }}</h3>      
            <canvas id="chart_w" width="800" height="450"></canvas>
          </div>
        </div>
    </div>
    <div class="my-3 d-block d-md-none">
        <div>
            <h3>{{ i18n "temperature" }} [°C]</h3>
            <div class="row d-flex justify-content-start mb-5">
              <canvas id="chart_tM" width="800" height="450"></canvas>
            </div>
        </div>
        <div>
            <h3>{{ i18n "precipitation" }} [mm]</h3>
            <div class="row d-flex justify-content-start mb-5">
              <canvas id="chart_rM" width="800" height="450"></canvas>
            </div>
        </div>
        <div>
            <h3>{{ i18n "wind" }} [km/h]</h3>  
            <div class="row d-flex justify-content-start mb-5">    
              <canvas id="chart_wM" width="800" height="450"></canvas>
            </div>
        </div>
    </div> 
</div>

<div class="mt-5">
  {{ partial "disclaimer" (dict "context" . "disclaimer_text" "disclaimer_mountains") }}
</div>
