<script src="{{ .Site.BaseURL }}js/leaflet.js"></script>

<link rel="stylesheet" href="{{ .Site.BaseURL }}css/leaflet.css" />
<script>
  var geojson;
  var map;
  const mountains = {{ (index .Site.Data "TINIA_mountain_subregions") }}
  const mainregions = {{ (index .Site.Data "venues" .Page.Language.Lang "0") }}
  const submountains = {{ (index .Site.Data "venues" .Page.Language.Lang "5") }}
  const mountainAreas = {{ (index .Site.Data "venues" .Page.Language.Lang "4") }}

  Alpine.data('mountainsMap', () => ({
    map: null,
    time_layouts: [],
    index_layout: 0,
    days: [],
    locked: false,
    current_id: "",
    id_focusedZone: "",
    indexTimeLayout: 6,
    testv: {},
    shapesAndVenues: {},
    mountaindata: {
      mountain_selected: false
    },
    selectedMountain: "",
    allLayers: {},
    markers: [],
    texts: [],
    regions: [],
    mountainRegions: [],
    region_id: '4c7f3360-08cc-11ed-861d-0242ac120002', // Euregio
    ready: false,
    desktop_screen: true,

    check_screen_width () {
      if (window.innerWidth < 768) {
        this.desktop_screen = false
      } else {
        this.desktop_screen = true
      }
    },

    widthResizer( ){
      this.check_screen_width()
    },

    zoom_region(lat, lon, id, region) {
      this.check_screen_width()
      var zoom_level = null
      if (this.desktop_screen) {
        if (id == '1aa901c4-2315-4b71-a871-a0a506f90ff1') {
          zoom_level = 8
        } else {
          zoom_level = 9
        }
      } else {
        if (id == '1aa901c4-2315-4b71-a871-a0a506f90ff1') {
          zoom_level = 7
        } else if (id == 'aadb73d3-bab3-484f-accf-01e19f7fcc04') {
          zoom_level = 7.25
        } else if (id == '7d2d63a2-5f2c-4b53-841f-22c50ea03768') {
          zoom_level = 7.5
        } else {
          zoom_level = 8
        }
      }

      this.map.setView([lat, lon], zoom_level)
      this.region_id = region
    },

    async mountMap() {
      window.addEventListener('resize', this.widthResizer.bind(this))
      this.check_screen_width()

      this.ready = false
      this.regions = {{ (index .Site.Data "venues" .Page.Language.Lang "0") }}
      this.mountainRegions = {{ (index .Site.Data "venues" .Page.Language.Lang "1") }}
      this.time_layouts = {{ (index .Site.Data "time_layouts") }}["1440"].filter(tl => tl >= 144000000)

      this.map = L.map('map', {
        dragging: !L.Browser.mobile,
        tap: !L.Browser.mobile,
        minZoom: 7,
        maxZoom: 11,
        zoomSnap: 0.25,
        zoomDelta: 0.25,
        scrollWheelZoom: true
      })
      L.tileLayer('/tms/{z}/{x}/{y}.webp', {
        attribution: 'CC BY avalanche.report',
        dragging: !L.Browser.mobile,
        tap: !L.Browser.mobile
      }).addTo(this.map)

      let position = [46.7601862, 11.4494348]
      var zoom_level = null
      if (this.desktop_screen) {
         zoom_level = 8
       } else {
         zoom_level = 7
       }

      this.map.setView(position, zoom_level)    

      map = this.map

      this.fetchmountain("144000000")

      geojson = L.geoJson(mountains, {
        style: style,
        onEachFeature: this.myOnEachFeature() 
      }).addTo(this.map)

      for(const zone in geojson._layers){
        this.allLayers[geojson._layers[zone].feature.properties.id] = geojson._layers[zone]
      }

      const layer_highlight = {{ (index .Site.Data "euregio_outside_highlight") }}

      L.geoJson(layer_highlight, {
        style: function () {
          return {
            color: 'black',
            opacity: 0.65,
            fillColor: 'black',
            fillOpacity: 0.1,
          }
        }
      }).addTo(this.map)

    },

    async fetchmountain(timelayout){

      var forecasts_bulletin = `{{ .Site.BaseURL | safeJS }}var/data/mountains/bulletin.json`
      const bulletinresponse = await fetch(forecasts_bulletin)
      const bulletinjson = await bulletinresponse.json()
      let start = new Date (bulletinjson.reference)
      for (let i = 0; i < 6; i++) {
        this.days.push({date: this.formatDate(this.addDays(start, i)), raw: this.addDays(start, i)})
      }
      
      this.markers.forEach(marker => this.map.removeLayer(marker))
      const url = `{{ .Site.BaseURL | safeJS }}var/data/mountains/${timelayout}.json`
      try{
        const response = await fetch(url)
        let mountainjson = await response.json()

        mountains.features.forEach(e => {
          let allElevation = submountains.filter(m => m.id_region === e.properties.id)
          this.mountaindata[e.properties.id] = {}
          this.mountaindata[e.properties.id]["info"] = mountainAreas.find(m => m.id === e.properties.id)
          this.mountaindata[e.properties.id]["missing_data"] = false
          allElevation.forEach(m => {
            if(mountainjson[m.id]){
              this.mountaindata[e.properties.id][m.elevation] = mountainjson[m.id]
              let sky_cond = sky_conditions.find(e => e.id === mountainjson[m.id].sky_condition.toLowerCase())
              this.mountaindata[e.properties.id][m.elevation].weather_icon = `{{ .Site.BaseURL | safeJS }}images/icons/${sky_cond.icon_day}`
              this.mountaindata[e.properties.id][m.elevation]["elevation"] = m.elevation
            }
          })
        })
        
        this.mountaindata["start"] = favoritesFormatDate(new Date (this.days[this.index_layout].raw))

        this.populateMountains()
      }catch(e){
        mountains.features.forEach(e => {
          this.mountaindata[e.properties.id] = {}
          this.mountaindata[e.properties.id]["info"] = mountainAreas.find(m => m.id === e.properties.id)
          this.mountaindata[e.properties.id]["missing_data"] = true
        })

        this.mountaindata["start"] = favoritesFormatDate(new Date (this.days[this.index_layout].raw))
      }
      
      this.mountTexts()
      this.ready = true
    },

    populateMountains(){
      this.markers = []
      mountainAreas.forEach(m => {
        this.addMarker(m)
      })
    },

    myOnEachFeature(){
      const self = this
      return function onEachFeature(feature, layer) {
        layer.on({
          mouseover: (e) => {
            self.current_id = feature.properties.id
            self.highlightFeature(e)
            self.mountData(feature)
          },
          mouseout: (e) => {
            if (feature.properties.id !== self.id_focusedZone) {
              self.resetHighlight(e)
            }
          },
          click: (e) => {
            self.region_id = feature.properties.id_mountain
            self.current_id = feature.properties.id
            if (e && (!self.id_focusedZone || feature.properties.id !== self.id_focusedZone)) {
              self.resetHighlight(e)
            }
            if(self.id_focusedZone !== ""){
              self.resetHighlight({target: self.allLayers[self.id_focusedZone]})
            }
            self.highlightFeature(e)
            self.lockin(feature)
          }
        });
      }
    },

    resetHighlight(e){
      geojson.resetStyle(e.target);
    },

    highlightFeature(e) {
      let id = e.target.feature.properties.id
      if (id !== this.id_focusedZone) {
        var layer = e.target;
        layer.setStyle({
            weight: 5,
            color: '#655',
            dashArray: '',
            fillColor: "#655",
            fillOpacity: 0.7
        });
        if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
            layer.bringToFront();
        }
      }
    },

    addMarker(m){
      let venue_data = this.mountaindata[m.id]["1500"]
      var sky_cond = sky_conditions.find(e => e.id === venue_data.sky_condition.toLowerCase())
      var svg = sky_cond.svg_day
      var sky_cond_icon = L.divIcon({
        html: '<div aria-label="Icon of sky condition">' + svg + '</div>',
        className: "myshadow",
        style: "box-shadow: none;",
        iconSize: [60, 60],
        iconAnchor: [25, 40],
        id: m.id,
        id_region: m.id_region,
        name: m.name
      });
      let marker = L.marker([m.lat, m.lon], {icon: sky_cond_icon}).on('mouseover', (event) => { 
        this.highlightFeature({target: this.allLayers[event.target.options.icon.options.id]})
        this.mountData(event) 
      }).on('click', (event) => {
        if(this.id_focusedZone !== "" && this.id_focusedZone !== event.target.options.icon.options.id){
          this.resetHighlight({target: this.allLayers[this.id_focusedZone]})
        }
        this.region_id = m.id_region
        this.lockin(event) 
      })
      .on('mouseout', (event) => {
        if (event.target.options.icon.options.id !== this.id_focusedZone) {
          this.resetHighlight({target: this.allLayers[event.target.options.icon.options.id]})
        }
      })
      marker.addTo(map)
      this.markers.push(marker)
    },

    lockin(e){
      this.locked = !this.locked
      if(this.locked){
        if(e.target){
          this.id_focusedZone = e.target.options.icon.options.id
        }else{
          this.id_focusedZone = e.properties.id
        }
        
      }else{
        this.id_focusedZone = ""
      }
      this.mountData(e)
    },

    addDays(date, days) {
      let date1 = new Date(date);
      date1.setDate(date1.getDate() + days);
      return date1;
    },

    mountData(e){
      if(!this.locked){
        let id = ""
        if(e.target){
          id = e.target.options.icon.options.id
        }else{
          id = e.properties.id
        }
        this.selectedMountain = id
        this.mountaindata["mountain_selected"] = true
      }
    },

    pushToChart(){
      window.location.href = '../mountain/?id=' + this.current_id
    },

    formatDate(date) {
      const days = {{ (index .Site.Data "multilingual_date_names" .Page.Language.Lang "days_short_lower") }}
      const months = {{ (index .Site.Data "multilingual_date_names" .Page.Language.Lang "months_short_lower") }}
      const day = days[date.getDay()]
      const mm = months[date.getMonth()]
      return `${day} ${date.getDate()} ${mm}`
    },

    windRange(value){
      let max = Math.ceil(value / 5) * 5
      let min = max - 5
      if(max <=0)
        return 0
      return min + "–" + max
    },

    refresh(){
      this.fetchmountain(this.time_layouts[this.index_layout])
    },

    async mountTexts() {
      const region_articles = {{ (index .Site.Data "multilingual_date_names" .Page.Language.Lang "region_articles") }} {{"// eslint-disable-line no-unused-vars" | safeJS }}
      let url = `{{ .Site.BaseURL | safeJS }}var/data/bulletins/{{ .Page.Language.Lang | safeJS }}/bulletins.json`
      const response = await fetch(url)
      const bulletin = await response.json()
      
      const text_layouts = {{ (index .Site.Data "time_layouts") }}["4320"].filter(tl => tl <= 432000000 && tl >= 431997120)
      this.texts = []
      this.mountainRegions.forEach(region => {   
        let i = text_layouts.length - 1
        let counter = -1
        let text = undefined

        do{
          text = bulletin.find(t => t.id_time_layout === text_layouts[i] && t.id_venue === region.id)
          if (text !== undefined) {
            i = -1
          }
          counter = counter + 1
          i += -1
        }while(i >= 0)

        if(this.index_layout > (2 - counter)){
          text = undefined
        }
        
        if (text !== undefined) {
          text.startday = (favoritesFormatDate(new Date (text.start)).day)
          text.endday = (favoritesFormatDate(this.addDays(text.start, 2)).day)
          text.startdate = (favoritesFormatDate(new Date (text.start)).date)
          text.enddate = (favoritesFormatDate(this.addDays(text.start, 2)).date)
        }
        
        let mainregion = mainregions.find(r => r.id === region.id_region)

        let title = {{ if eq .Page.Language.Lang "en" }} mainregion.name + " " + {{ i18n "weather_forecast" }} {{ else }} {{ i18n "weather_forecast" }} + " " + region_articles[mainregion.id] + mainregion.name {{ end }};
        let id = region.id
        if (text && text.value) {
          this.texts.push({
            id: id,
            title: title,
            region_name: mainregion.name,
            value: text,
            classes: "alert alert-custom",
          })
        }
      })
    },

  }))

  function favoritesFormatDate(date){
    const dd = date.getDate()
    const mm = date.getMonth() + 1
    const yy = date.getFullYear()
    const days = {{ (index .Site.Data "multilingual_date_names" .Page.Language.Lang "days") }}
    const day = days[date.getDay()]
    return {day: day, date:`${(dd>9 ? '' : '0') + dd}-${(mm>9 ? '' : '0') + mm}-${yy}`}
  }

  function style(feature) {
    return {
      feature: feature,
      weight: 2,
      opacity: 1,
      color: 'black',
      dashArray: '3',
      fillOpacity: 0.0
    };
  }

</script>

<div x-data="mountainsMap">
  <div class="row">
    <div class="col-lg-8">
      <div class="tabbable" x-init="$watch('index_layout', value => refresh());">
        <template x-if="ready">
          <ul class="nav nav-tabs days-menu">
            <li class="nav-item">
              <a class="nav-link" role="button" aria-current="page"
                x-bind:class='index_layout === 0 ? "active-tab" : ""' x-on:click='index_layout = 0'
                x-text="days[0].date"></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" role="button" aria-current="page"
                x-bind:class='index_layout === 1 ? "active-tab" : ""' x-on:click='index_layout = 1'
                x-text="days[1].date"></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" role="button" aria-current="page"
                x-bind:class='index_layout === 2 ? "active-tab" : ""' x-on:click='index_layout = 2'
                x-text="days[2].date"></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" role="button" aria-current="page"
                x-bind:class='index_layout === 3 ? "active-tab" : ""' x-on:click='index_layout = 3'
                x-text="days[3].date"></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" role="button" aria-current="page"
                x-bind:class='index_layout === 4 ? "active-tab" : ""' x-on:click='index_layout = 4'
                x-text="days[4].date"></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" role="button" aria-current="page"
                x-bind:class='index_layout === 5 ? "active-tab" : ""' x-on:click='index_layout = 5'
                x-text="days[5].date"></a>
            </li>
          </ul>
        </template>
        <div id="map" class="mb-3" x-init="mountMap"></div>
        <!-- change area menu -->
        <div class="row">
          <ul class="nav nav-pills justify-content-center regions-pills my-3">
            <li class="nav-item">
              <a class="nav-link d-inline-block text-truncate"
                role="button"
                x-bind:class="region_id === '4c7f3360-08cc-11ed-861d-0242ac120002' ? 'active' : ''"
                x-on:click="zoom_region(46.7601862, 11.4494348, '1aa901c4-2315-4b71-a871-a0a506f90ff1', '4c7f3360-08cc-11ed-861d-0242ac120002')"
                x-text="regions.find(region => region.id =='1aa901c4-2315-4b71-a871-a0a506f90ff1').name"></a>
            </li>
            <li class="nav-item">
              <a class="nav-link d-inline-block text-truncate"
                role="button"
                x-bind:class="region_id === '9f5c2ad3-eafd-4c75-95cd-a3fac22f4d4b' ? 'active' : ''"
                x-on:click="zoom_region(47.23106, 11.5344824, 'aadb73d3-bab3-484f-accf-01e19f7fcc04', '9f5c2ad3-eafd-4c75-95cd-a3fac22f4d4b')"
                x-text="regions.find(region => region.id =='aadb73d3-bab3-484f-accf-01e19f7fcc04').name"></a>
            </li>
            <li class="nav-item">
              <a class="nav-link d-inline-block text-truncate"
                role="button"
                x-bind:class="region_id === '1ce7b98d-6431-4540-8be8-0c9a710bc61b' ? 'active' : ''"
                x-on:click="zoom_region(46.7080914, 11.429204, '7d2d63a2-5f2c-4b53-841f-22c50ea03768', '1ce7b98d-6431-4540-8be8-0c9a710bc61b')"
                x-text="regions.find(region => region.id =='7d2d63a2-5f2c-4b53-841f-22c50ea03768').name"></a>
            </li>
            <li class="nav-item">
              <a class="nav-link d-inline-block text-truncate"
                role="button"
                x-bind:class="region_id === 'd1e9a3da-4ed5-4ec7-87e6-bb05b43d0f49' ? 'active' : ''"
                x-on:click="zoom_region(46.1228446, 11.1861778, 'fba93146-7192-4190-adab-605435fdeea1', 'd1e9a3da-4ed5-4ec7-87e6-bb05b43d0f49')"
                x-text="regions.find(region => region.id =='fba93146-7192-4190-adab-605435fdeea1').name"></a>
            </li>
          </ul>
        </div>
        <!-- end change area menu -->
      </div>
    </div>

    <!-- Text in small mode -->
    <div class="d-lg-none">
    <template x-for="text in texts">
      <template x-if="text.id === region_id && region_id !== '4c7f3360-08cc-11ed-861d-0242ac120002'">
        <div :class="'active ' + text.classes">
          <div class="d-flex">
            <div>
              <h3 class="mb-3" x-text="text.title"></h3>
              <template x-if="text.value.start">
                <h5>{{ i18n "last_updated"}}: <span x-text="`${text.value.startday} ${text.value.startdate}`"></span>
                </h5>
              </template>
              <p class="text-bulletin-text" x-text="text.value.value"></p>
            </div>
          </div>
        </div>
      </template>
    </template>
  </div>
  <!-- End in small mode -->

    <div class="col-lg-4">
      <div class="col-md-12 mt-5">
        <div class="card my-4 gradient-custom" style="border-radius: 10px; background-color: #515F73; color: #fff;">
          <div class="card-body p-4">
            <div id="widget1">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="text-center">
                    <template x-if="mountaindata.mountain_selected">
                      <div class="d-flex flex-wrap justify-content-center mb-2">
                        <p class="mb-2">
                          <span x-text="mountaindata.start.day" class="fw-bold"></span>
                          <br />
                          <span x-text="mountaindata.start.date"></span>
                        </p>
                      </div>
                    </template>
                    <template x-if="mountaindata.mountain_selected">
                      <div class="text-center">
                        <h2 class="mb-2">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="me-2" data-icon="mountain" width="32" height="32">
                            <!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc. -->
                            <path fill="currentColor" d="M256 32c12.5 0 24.1 6.4 30.8 17L503.4 394.4c5.6 8.9 8.6 19.2 8.6 29.7c0 30.9-25 55.9-55.9 55.9H55.9C25 480 0 455 0 424.1c0-10.5 3-20.8 8.6-29.7L225.2 49c6.6-10.6 18.3-17 30.8-17zm65 192L256 120.4 176.9 246.5l18.3 24.4c6.4 8.5 19.2 8.5 25.6 0l25.6-34.1c6-8.1 15.5-12.8 25.6-12.8h49z"/>
                          </svg>                          
                          <a x-bind:href="'../mountain/?id=' + selectedMountain" class="mb-0" style="color:white"
                            x-text="mountaindata[selectedMountain].info.name"></a>
                        </h2>
                      </div>
                    </template>
                    <template x-if="!mountaindata.mountain_selected">
                      <div class="text-center">
                        <h2 class="mb-2">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="mx-3" data-icon="mountain" width="32" height="32">
                            <!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc. -->
                            <path fill="currentColor" d="M256 32c12.5 0 24.1 6.4 30.8 17L503.4 394.4c5.6 8.9 8.6 19.2 8.6 29.7c0 30.9-25 55.9-55.9 55.9H55.9C25 480 0 455 0 424.1c0-10.5 3-20.8 8.6-29.7L225.2 49c6.6-10.6 18.3-17 30.8-17zm65 192L256 120.4 176.9 246.5l18.3 24.4c6.4 8.5 19.2 8.5 25.6 0l25.6-34.1c6-8.1 15.5-12.8 25.6-12.8h49z"/>
                          </svg>
                          <span>{{ i18n "select_mountain" }}</span></h2>
                      </div>
                    </template>
                    <template x-if="mountaindata.mountain_selected && !mountaindata[selectedMountain].missing_data">
                      <div class="row">
                        <div class="col-6">
                          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"
                            class="bi bi-droplet" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                              d="M7.21.8C7.69.295 8 0 8 0c.109.363.234.708.371 1.038.812 1.946 2.073 3.35 3.197 4.6C12.878 7.096 14 8.345 14 10a6 6 0 0 1-12 0C2 6.668 5.58 2.517 7.21.8zm.413 1.021A31.25 31.25 0 0 0 5.794 3.99c-.726.95-1.436 2.008-1.96 3.07C3.304 8.133 3 9.138 3 10a5 5 0 0 0 10 0c0-1.201-.796-2.157-2.181-3.7l-.03-.032C9.75 5.11 8.5 3.72 7.623 1.82z"
                              stroke="#1BABE4" />
                            <path fill-rule="evenodd"
                              d="M4.553 7.776c.82-1.641 1.717-2.753 2.093-3.13l.708.708c-.29.29-1.128 1.311-1.907 2.87z" />
                          </svg>
                          <span class="mb-0"
                            x-text="mountaindata[selectedMountain][2000].rain_probability + ' %'"></span>
                          <p class="mb-0" x-text="mountaindata[selectedMountain][2000].rain_fall + ' mm'"></p>
                        </div>
                        <div class="col-6">
                          <p class="mb-0" x-text="'{{ i18n "freezing_level" }}: ' + mountaindata[selectedMountain][2000].freezing_level + ' m'"></p>
                          <template x-if="mountaindata[selectedMountain][1500].rain_fall > 0">
                            <p class="mb-0" x-text="'{{ i18n "snow_level" }}: ' + mountaindata[selectedMountain][2000].freezing_level + ' m'"></p>
                          </template>
                        </div>
                      </div>
                    </template>
                    <template x-if="mountaindata[selectedMountain] && mountaindata[selectedMountain].missing_data">
                      <div class="mt-3">
                        <span>{{ i18n "weather_report_missing" }}</span>
                      </div>
                    </template>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <template x-if="mountaindata.mountain_selected && !mountaindata[selectedMountain].missing_data">
          <div class="card mb-4" style="border-radius: 10px; background-color: #515F73; color: #fff;">
            <div class="card-body p-2">
              <div id="widget2">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <div class="d-flex flex-wrap justify-content-around text-center mb-4 pb-1 pt-4">
                      <template x-for="mdata in mountaindata[selectedMountain]">
                        <template x-if="mdata.elevation">
                          <div style="width: 25%;" class="mb-4">
                            <p>
                              <span class="fw-bold" style="color:white" x-text="mdata.elevation + ' m'"></span>
                            </p>
                            <img :alt="mdata.weather_icon" height="40" :src="mdata.weather_icon" class="mb-1">
                            <p class="mb-1">
                              <span x-text="mdata.temperature_minimum"
                                style="border-radius: 5px; background-color: #1BACE4; padding: 0px 5px;"></span> / <span
                                x-text="mdata.temperature_maximum"
                                style="border-radius: 5px; background-color: #ED1B24; padding: 0px 5px;"></span> °C
                            </p>
                            <span class="mb-0" x-text="windRange(mdata.wind_gust) + ' km/h'"></span>
                          </div>
                        </template>
                      </template>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </template>
        <div class="card mb-2" style="border-radius: 10px; background-color: #fff; color: black;">
          <div class="card-body p-2">
            <div id="avalanche-link">
              <div class="d-flex flex-wrap justify-content-center text-center mb-4 pb-1 pt-4">
                {{ i18n "avalanche_first"}}&nbsp;
                <a href="https://{{ if eq .Page.Language.Lang "en" }}avalanche{{ else if eq .Page.Language.Lang "de" }}lawinen{{ else }}valanghe{{ end }}.report/bulletin/latest" target="_blank">
                  {{ if eq .Page.Language.Lang "en" }}<img alt="avalanche_logo" width="30" height="20" class="mx-1" src="/images/avalanche.svg"/>{{ else if eq .Page.Language.Lang "de" }}<img alt="lawinen_logo" width="23" height="32" class="mx-1" src="/images/lawinen.svg"/>{{ else }}<img alt="valanche_logo" width="30" height="20" class="mx-1" src="/images/valanghe.svg"/>{{ end }}{{ if eq .Page.Language.Lang "en" }}<img alt="avalanche_report_logo" src="/images/avalanche_report.svg"/>{{ else if eq .Page.Language.Lang "de" }}<img alt="lawinen_report_logo" class="pb-1" src="/images/lawinen_report.svg"/>{{ else }}<img alt="valanghe_report_logo" src="/images/valanghe_report.svg"/>{{ end }}
                </a>
                &nbsp;{{ i18n "avalanche_last"}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Text in large mode -->
  <div class="d-none d-lg-block">
    <template x-for="text in texts">
      <template x-if="text.id === region_id && region_id !== '4c7f3360-08cc-11ed-861d-0242ac120002'">
        <div :class="'active ' + text.classes">
          <div class="d-flex">
            <div>
              <h3 class="mb-3" x-text="text.title"></h3>
              <template x-if="text.value.start">
                <h5>{{ i18n "last_updated"}}: <span x-text="`${text.value.startday} ${text.value.startdate}`"></span>
                </h5>
              </template>
              <p class="text-bulletin-text" x-text="text.value.value"></p>
            </div>
          </div>
        </div>
      </template>
    </template>
  </div>
  <!-- End in large mode -->

  <div class="mt-5">
    {{ partial "disclaimer" (dict "context" . "disclaimer_text" "disclaimer_mountains") }}
  </div>

</div>
