<script src="{{ .Site.BaseURL }}js/chart.umd.js"></script>
<script src="{{ .Site.BaseURL }}js/chartjs-plugin-crosshair.min.js"></script>

<script>
  const station = {{ .Page.Params.station }}
  Alpine.data('chart', () => ({
    venue: {},
    isFavorite: false,
    ticks: {
      temperature: 8,
      wind: 8,
      cumulativePrecipitation: 8,
      precipitation: 8,
      pressure: 10,
    },
    nullValues: {},
    availableChart: {
      temperature: true,
      wind_speed: true,
      wind_gust: true,
      wind_direction: true,
      rain_fall: true,
      pressure: true,
      relative_humidity: true
    },
    parameters: [
      "temperature",
      "wind_speed",
      "wind_gust",
      "wind_direction",
      "rain_fall",
      "pressure",
      "relative_humidity"
    ],

    cleanup (value) {
      return value !== null ? value > 1e6 ? null : value : null
    },

    async mountChart () {
      this.venue = station

      if (favorites_stations.find(idvenue => idvenue === this.venue.id)) {
        this.isFavorite = true
      }

      const url = `{{ .Site.BaseURL | safeJS }}var/data/webcams.json`
      const response = await fetch(url)
      let webcamjson = await response.json()

      for (const i in station.neighbors.webcams) {
        let webcam = station.neighbors.webcams[i]
        const idvenue = webcam.id
        let webcamstatus = webcamjson.find(e => e.venue_id === idvenue)
        if (webcamstatus) {
          webcam.alive = webcamstatus.alive
        }
      }

      let values = {}
      let datasets = []
      let datasetsMobile = []

      this.parameters.forEach(parameter => {
        values[parameter] = []
        this.nullValues[parameter] = []
        this.availableChart[parameter] = true
      })

      values["cumulativeRainFall"] = []

      const bulletinURL = `{{ .Site.BaseURL | safeJS }}var/data/observations/bulletin.json`
      const bresponse = await fetch(bulletinURL)
      let bulletin = await bresponse.json()

      var sensorURL = `{{ .Site.BaseURL | safeJS }}var/data/observations/${this.venue.id}.json`
      fetch(sensorURL).then(response => response.json()).then(data => {
        const observations = data
        let labels = []
        let labelsToShow = []
        let end = observations.end
        let minutes = end.slice(14,16)

        if(minutes == "59"){
          end = end.slice(0,14) + "30:00"
        }else{
          end = end.slice(0,14) + "00:00"
        }

        let last_tl = bulletin.instant.find(e => e.start === end)

        let cumulativeRain = 0
        bulletin.instant.forEach(time_layout => {
          let date = new Date(time_layout.end)
          date.setSeconds(date.getSeconds() + 1)
          this.parameters.forEach(parameter => {
            let value = null
            if(observations["30"][time_layout.id]){
              value = observations["30"][time_layout.id][parameter]
            }
            if(time_layout.id > last_tl.id){
              value = null
            }
            this.nullValues[parameter].push(this.cleanup(value) === null)
            values[parameter].push(this.cleanup(value))
            if(parameter === "rain_fall"){
              cumulativeRain += this.cleanup(value)
              if(time_layout.id > last_tl.id){
                cumulativeRain = null
              }
              values["cumulativeRainFall"].push(cumulativeRain)
            }
          })
          
          const mm = date.getMonth() + 1; // getMonth() is zero-based
          const dd = date.getDate();
          const year = date.getFullYear();
          const h = date.getHours();
          const m = date.getMinutes();

          const formattedData = ((dd>9 ? '' : '0') + dd) + '/' + ((mm>9 ? '' : '0') + mm) + '/' + year + ' ' + ((h>9 ? '' : '0') + h) + ':' + ((m>9 ? '' : '0') + m)

          if(h === 0 && m === 0){
            labelsToShow.push(true)
          }else{
            labelsToShow.push(false)
          }

          labels.push(formattedData)
        })

        for(const parameter in this.nullValues){
          let i = 0
          this.nullValues[parameter].forEach(e => {
            if(e){
              i += 1
            }
          })
          this.availableChart[parameter] = i !== values[parameter].length
        }

        datasets.push({
          data: values["temperature"],
          type: "line",
          label: "{{ i18n "temperature" }}",
          borderWidth: 4,
          pointHitRadius: 2,
          borderColor: "#C41E3A",
          pointBackgroundColor: "#C41E3A",
          unit: "°C",
          yAxisID: 'y1'
        })

        datasets.push({
          data: values["cumulativeRainFall"],
          type: "line",
          label: "{{ i18n "total_precipitation" }}",
          borderWidth: 4,
          pointHitRadius: 2,
          borderColor: "#154c79",
          pointBackgroundColor: "#154c79",
          unit: "mm",
          pointRadius: 0,
          yAxisID: 'y3'
        })

        datasets.push({
          data: values["rain_fall"],
          type: "bar",
          label: "{{ i18n "precipitation30" }}",
          barThickness: "flex",
          barPercentage: 1,
          borderWidth: 0,
          backgroundColor: 'rgba(91, 179, 243, 0.5)',
          unit: "mm",
          yAxisID: 'y2'
        })
        let scale = {}

        const boundsTemperature = this.calculateAxisBounds(values["temperature"], this.ticks.temperature, true) 

        const boundsRain = this.calculateAxisBounds(values["rain_fall"], this.ticks.precipitation, false)
        let deltaT = Math.abs(boundsTemperature.max - boundsTemperature.min)
        let steps = deltaT / this.ticks.temperature

        scale["y1"] = {
          min: boundsTemperature.min,
          max: boundsTemperature.max,
          position: "left",
          title: {
            display: true,
            text: "{{ i18n "temperature" }} [°C]",
            font: {
              size: 16
            },
          },
          grid: {
            lineWidth: function(context) {
              if (context.tick.value === 0) {
                return 2;
              }   
              return 0;
            },
            color: "#616569",
          },
          ticks: {
            callback: function(value, index) {
              if(value === 0 || index % Math.floor(steps) === 0 || index % Math.ceil(steps) === 0){
                return value
              }
              return "";
            },
            autoSkip: false,
            stepSize: 1,
          }
        }
        
        scale["y2"] = {
          min: boundsRain.min,
          max: boundsRain.max,
          position: "right",
          title: {
            display: true,
            text: "{{ i18n "precipitation30" }} [mm]",
            font: {
                size: 16
            },
          },
          grid: {
            lineWidth: 2
          },
          ticks:{
            count: this.ticks.precipitation + 1,
          }
        }
        
        const boundsCumulativeRain = this.calculateAxisBounds(values["cumulativeRainFall"], this.ticks.cumulativePrecipitation, false)

        scale["y3"] = {
          min: boundsCumulativeRain.min,
          max: boundsCumulativeRain.max,
          position: "right",
          title: {
            display: true,
            text: "{{ i18n "accumulated_precipitation" }} [mm]",
            font: {
              size: 16
            },
          },
          grid: {
            display: false,
          },
          ticks:{
            count: this.ticks.cumulativePrecipitation + 1,
          }
        }
      

        let options = this.defineOptions(scale, labels, labelsToShow, false)

        if(this.availableChart.temperature && this.availableChart.rain_fall){
          new Chart(document.getElementById('chart_tw'), {
            type: 'line',
            data: {
              labels: labels,
              datasets: datasets,
            },
            options: options
          })
        }

        //MOBILE temperature and rain
        let scaleMobile = {}
        
        datasetsMobile.push(datasets[0])
        datasetsMobile[0].pointHitRadius = 0.5

        const boundsTemperatureM = this.calculateAxisBounds(values["temperature"], (this.ticks.temperature / 2), true)
        let deltaTm = Math.abs(boundsTemperatureM.max - boundsTemperatureM.min) 

        scaleMobile["y1"] = scale.y1
        scaleMobile.y1.min = boundsTemperatureM.min
        scaleMobile.y1.max = boundsTemperatureM.max
        scaleMobile.y1.title = {}
        scaleMobile.y1.grid.lineWidth = 2
         
        let stepsM = deltaTm / (this.ticks.temperature / 2)

        scaleMobile.y1.grid.color = function(context) {
          if (context.tick.value === 0){
            return '#616569'
          }else if( context.index % stepsM === 0 ){
            return Chart.defaults.borderColor
          }
          return ''
        }

        scaleMobile.y1.ticks.callback = function(value, index) {
          if (value === 0 || index % stepsM === 0 ){
            return value
          }
          return ''
        }
        
        options = this.defineOptions(scaleMobile, labels, labelsToShow, true)

        if(this.availableChart.temperature){
          new Chart(document.getElementById('chart_tM'), {
            type: 'line',
            data: {
              labels: labels,
              datasets: datasetsMobile,
            },
            options: options
          })
        }

        scaleMobile = {}
        datasetsMobile = []
        datasetsMobile.push(datasets[1])
        datasetsMobile.push(datasets[2])
        datasetsMobile[0].pointHitRadius = 0.5

        scaleMobile["y2"] = scale.y2
        scaleMobile["y3"] = scale.y3
        scaleMobile.y2.title = {}
        scaleMobile.y3.title = {}

        scaleMobile.y2.position = "left"
        scaleMobile.y3.position = "left"

        options = this.defineOptions(scaleMobile, labels, labelsToShow, true)

        if(this.availableChart.rain_fall){
          new Chart(document.getElementById('chart_rM'), {
            type: 'line',
            data: {
              labels: labels,
              datasets: datasetsMobile,
            },
            options: options
          })
        }
        

        datasets = []

        datasets.push({
          data: values["wind_speed"],
          type: "line",
          label: "{{ i18n "wind_speed" }}",
          borderWidth: 3,
          pointHitRadius: 2,
          borderColor: "#03C04A",
          pointBackgroundColor: "#03C04A",
          unit: "km/h",
          yAxisID: 'y1'
        })

        datasets.push({
          data: values["wind_gust"],
          type: "line",
          label: "{{ i18n "wind_gust" }}",
          borderWidth: 3,
          pointHitRadius: 2,
          borderColor: "#B0FC38",
          pointBackgroundColor: "#B0FC38",
          unit: "km/h",
          yAxisID: 'y1'
        })
        
        datasets.push({
          data: values["wind_direction"],
          type: "line",
          label: "{{ i18n "wind_direction" }}",
          borderWidth: 0,
          pointRadius: 2,
          pointHitRadius: 2,
          borderColor: "#000000",
          backgroundColor: "#000000",
          unit: "°",
          yAxisID: 'y2',
          hidden: true
        })

        const boundsWind = this.calculateAxisBounds(values["wind_speed"].concat(values["wind_gust"]), this.ticks.wind, false)

        scale = {}

        scale["y1"] = {
          min: boundsWind.min,
          max: boundsWind.max,
          position: "left",
          ticks:{
            autoSkip: true,
            count: this.ticks.wind + 1,
          },
          title: {
            display: true,
            text: "{{ i18n "wind_speed" }} [km/h]",
            font: {
              size: 16
            },
          },
          grid: {
            lineWidth: 2
          },
        }

        scale["y2"] = {
          min: 0,
          max: 360,
          position: "left",
          title: {
            display: false,
            text: "{{ i18n "wind_direction" }}",
            font: {
                size: 16
            },
          },
          ticks: {
            callback: function(val, index) {
              const windRose = {{ (index .Site.Data "multilingual_date_names" .Page.Language.Lang "compass") }}
              return windRose[index]
            },
            count: 9,
          },
          grid: {
            lineWidth: 0
          },
        }
  
        options = this.defineOptions(scale, labels, labelsToShow, false)
        
        if(this.availableChart.wind_speed && this.availableChart.wind_gust){
          new Chart(document.getElementById('chart_r'), {
            type: 'line',
            data: {
              labels: labels,
              datasets: datasets,
            },
            options: options
          })
        }
        

        scaleMobile = {}
        datasetsMobile = []
        datasetsMobile.push(datasets[0])
        datasetsMobile.push(datasets[1])
        datasetsMobile[0].pointHitRadius = 0.5
        datasetsMobile[1].pointHitRadius = 0.5

        scaleMobile["y1"] = scale.y1
        scaleMobile.y1.title = {}

        options = this.defineOptions(scaleMobile, labels, labelsToShow, true)

        if(this.availableChart.wind_speed && this.availableChart.wind_gust){
          new Chart(document.getElementById('chart_wM'), {
            type: 'line',
            data: {
              labels: labels,
              datasets: datasetsMobile,
            },
            options: options
          })
        }

        datasets = []

        datasets.push({
          data: values["relative_humidity"],
          type: "line",
          label: "{{ i18n "relative_humidity" }}",
          borderWidth: 4,
          pointHitRadius: 2,
          borderColor: "#0492C2",
          pointBackgroundColor: "#0492C2",
          unit: "%",
          yAxisID: 'y1'
        })

        datasets.push({
          data: values["pressure"],
          type: "line",
          label: "{{ i18n "pressure" }}",
          borderWidth: 4,
          pointHitRadius: 2,
          borderColor: "#0C0908",
          pointBackgroundColor: "#0C0908",
          unit: "hPa",
          yAxisID: 'y2'
        })

        scale = {}

        scale["y1"] = {
          min: 0,
          max: 100,
          position: "left",
          title: {
            display: true,
            text: "{{ i18n "relative_humidity" }} [%]",
            font: {
                size: 16
            },
          },
          grid: {
            lineWidth: 2
          },
          ticks:{
            count: 11,
          }
        }

        const boundsPressure = this.calculateAxisBounds(values["pressure"], this.ticks.pressure, false)
        
        scale["y2"] = {
          min: boundsPressure.min,
          max: boundsPressure.max,
          position: "right",
          title: {
            display: true,
            text: "{{ i18n "pressure" }} [hPa]",
            font: {
                size: 16
            },
          },
          grid: {
            lineWidth: 0
          },
          ticks:{
            count: this.ticks.pressure + 1,
          }
        }

        options = this.defineOptions(scale, labels, labelsToShow, false)

        if(this.availableChart.relative_humidity && this.availableChart.pressure){
          new Chart(document.getElementById('chart_hp'), {
            type: 'line',
            data: {
              labels: labels,
              datasets: datasets,
            },
            options: options
          })
        }

        scaleMobile = {}
        datasetsMobile = []
        datasetsMobile.push(datasets[0])
        datasetsMobile[0].pointHitRadius = 0.5

        scaleMobile["y1"] = scale.y1
        scaleMobile.y1.title = {}

        options = this.defineOptions(scaleMobile, labels, labelsToShow, true)

        if(this.availableChart.relative_humidity){
          new Chart(document.getElementById('chart_hM'), {
            type: 'line',
            data: {
              labels: labels,
              datasets: datasetsMobile,
            },
            options: options
          })
        }

        scaleMobile = {}
        datasetsMobile = []
        datasetsMobile.push(datasets[1])
        datasetsMobile[0].pointHitRadius = 0.5

        scaleMobile["y2"] = scale.y2
        scaleMobile.y2.title = {}
        scaleMobile.y2.position = "left"

        options = this.defineOptions(scaleMobile, labels, labelsToShow, true)

        if(this.availableChart.pressure){
          new Chart(document.getElementById('chart_pM'), {
            type: 'line',
            data: {
              labels: labels,
              datasets: datasetsMobile,
            },
            options: options
          })
        }

        Chart.registry.plugins.items.crosshair.doZoom = doZoom
        
      })          
    },

    
    defineOptions(scale, labels, labelsToShow, mobile) {
      let myScale = scale
    

      myScale["x"] = {
        title: {
          display: false,
          text: "{{ i18n "date" }}",
          font: {
              size: 16
          },
        },
        grid: {
          offset: false,
          lineWidth: 2
        },
        ticks: {
          maxRotation: 0,
          minRotation: 0,
          callback: function(val) {
            return labelsToShow[val] ? labels[val].slice(0,10) : null
          },
        }
      }

      let plugins = {
        tooltip: {
          mode: 'index',
          intersect: false,
          callbacks: {
            label: function(context) {
              return context.dataset.label + " " + context.formattedValue + " " + context.dataset.unit;
            },
          },
        },
        crosshair: {
        line: {
            color: '#F66',  // crosshair line color
            width: 1        // crosshair line width
        },
        sync: {
            enabled: true,            // enable trace line syncing with other charts
            group: 1,                 // chart group
            suppressTooltips: true   // suppress tooltips when showing a synced tracer
        },
        zoom: {
            enabled: true,                                      // enable zooming
            zoomboxBackgroundColor: 'rgba(66,133,244,0.2)',     // background color of zoom box 
            zoomboxBorderColor: '#48F',                         // border color of zoom box
            zoomButtonText: 'Reset Zoom',                       // reset zoom button text
            zoomButtonClass: 'btn btn-outline-primary col-2',                      // reset zoom button class
        },
        }
      }

      let elements = {
        point: {
          radius: 0,
          display: true
        }
      }

      if(mobile){
        myScale.x.ticks.callback = function(val) {
          return labelsToShow[val] ? labels[val].slice(0,5) : null
        }
      }

      return {
        scales: myScale,
        plugins: plugins,
        elements: elements,
      }
    },

    calculateAxisBounds(dataset, nsteps, canBelowZero){
      // https://stackoverflow.com/a/51577579
      let filtered = dataset.filter((x) => x !== null && x < 1e6)
      if(filtered.length < 2 || filtered.filter((x) => x !== 0).length < 2){
        filtered = [0, 1]
      }
      const max = Math.max(...filtered)
      const min = Math.min(...filtered)
      const min_int = Math.floor(min)
      const max_int = Math.ceil(max)
      const delta_int = Math.abs(max_int - min_int)
      const remainder = delta_int % nsteps
      if (remainder === 0) {
        return { min: min_int, max: max_int }
      } else {
        let new_steps = nsteps - remainder
        const new_delta_int = delta_int + new_steps
        let new_min_int = min_int - Math.floor(new_steps / 2)
        if(!canBelowZero && new_min_int < 0){
          new_min_int = 0
        }
        const new_max_int = new_min_int + new_delta_int
        return { min: new_min_int, max: new_max_int }
      }
    },

    getParameterByName (key, def) {
      const url_string = window.location.href
      const url = new URL(url_string);
      const value = url.searchParams.get(key)
      return value === null ? def : value          
    },

    updateFavorites() {
      if (!storageAvailable("localStorage")) {
        alert("{{ i18n "favorites_not_supported" | safeJS }}");
        return;
      }
      let updateFav = false
      if(JSON.parse(localStorage.getItem('favorites_stations')) === null){
        if(confirm("{{ i18n "favorites_confirm" | safeJS }}")){
          updateFav = true

          localStorage.setItem('favorites_towns', JSON.stringify(favorites_towns));
          localStorage.setItem('favorites_webcams', JSON.stringify(favorites_webcams));
        }
      }else{
        updateFav = true
      }

      if(updateFav){
        if (!favorites_stations.find(e => e === this.venue.id)) {
          console.log("Update Favorites")
          favorites_stations = favorites_stations.slice(0, 3)
          favorites_stations.pop()
          favorites_stations.unshift(this.venue.id)
          console.log(favorites_stations)
          localStorage.setItem('favorites_stations', JSON.stringify(favorites_stations));
          this.isFavorite = true
          console.log(this.isFavorite)
          let dangling_tooltips = document.getElementsByClassName("tooltip bs-tooltip-auto fade show")
          if (dangling_tooltips.length > 0) {
            dangling_tooltips[0].remove()
          }
          favorites_station_index = 0
          localStorage.setItem('favorites_station_index', JSON.stringify(favorites_station_index));
        }
      }
    }
  }))

  document.addEventListener("DOMContentLoaded", function() {
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
    var tooltipList = tooltipTriggerList.map(function(element) {
        return new bootstrap.Tooltip(element); {{"// eslint-disable-line" | safeJS }}
    });
    console.log(tooltipList)
  });

  //redefine doZoom crosshair plugin
  function doZoom(chart, start, end) {

    // swap start/end if user dragged from right to left
    if (start > end) {
      var tmp = start;
      start = end;
      end = tmp;
    }
    /*  var beforeZoomCallback = helpers.valueOrDefault(chart.options.plugins.crosshair.callbacks ? chart.options.plugins.crosshair.callbacks.beforeZoom : undefined, defaultOptions.callbacks.beforeZoom);

    if (!beforeZoomCallback(start, end)) {
      return false;
    }  */

    chart.crosshair.dragStarted = false;

    if (!chart.crosshair.button) {
      // add restore zoom button
      var button = document.createElement('button');

      var buttonText = this.getOption(chart, 'zoom', 'zoomButtonText');
      var buttonClass = this.getOption(chart, 'zoom', 'zoomButtonClass');

      var buttonLabel = document.createTextNode(buttonText);
      button.appendChild(buttonLabel);
      button.className = buttonClass;
      button.addEventListener('click', function() {
        this.resetZoom(chart);
      }.bind(this));
      chart.canvas.parentNode.appendChild(button);
      chart.crosshair.button = button;
    }

    // set axis scale
    chart.options.scales.x.min = start;
    chart.options.scales.x.max = end;

    // make a copy of the original data for later restoration

    var storeOriginals = (chart.crosshair.originalData.length === 0) ? true : false;


    var filterDataset = (chart.config.options.scales.x.type !== 'category');

    if(filterDataset) {


      for (var datasetIndex = 0; datasetIndex < chart.data.datasets.length; datasetIndex++) {

        var newData = [];

        var index = 0;
        var started = false;
        var stop = false;
        if (storeOriginals) {
          chart.crosshair.originalData[datasetIndex] = chart.data.datasets[datasetIndex].data;
        }

        var sourceDataset = chart.crosshair.originalData[datasetIndex];

        for (var oldDataIndex = 0; oldDataIndex < sourceDataset.length; oldDataIndex++) {

          var oldData = sourceDataset[oldDataIndex];
          // var oldDataX = this.getXScale(chart).getRightValue(oldData)
          var oldDataX = oldData.x !== undefined ? oldData.x : NaN;

          // append one value outside of bounds
          if (oldDataX >= start && !started && index > 0) {
            newData.push(sourceDataset[index - 1]);
            started = true;
          }
          if (oldDataX >= start && oldDataX <= end) {
            newData.push(oldData);
          }
          if (oldDataX > end && !stop && index < sourceDataset.length) {
            newData.push(oldData);
            stop = true;
          }
          index += 1;
        }

        chart.data.datasets[datasetIndex].data = newData;
      }
    }

    chart.crosshair.start = start;
    chart.crosshair.end = end;

    if (storeOriginals) {
      var xAxes = this.getXScale(chart);
      chart.crosshair.min = xAxes.min;
      chart.crosshair.max = xAxes.max;
    }

    chart.crosshair.ignoreNextEvents = 2; // ignore next 2 events to prevent starting a new zoom action after updating the chart

    chart.update('none');


    var afterZoomCallback = this.getOption(chart, 'callbacks', 'afterZoom');

    afterZoomCallback(start, end);
  }
</script>

<div x-data="chart" x-init="mountChart">
  
  <div class="row">
    <div>
      <a x-bind:href="'../../observations/?id=' + venue.id" role="button" class="btn btn-outline-success">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" width="12" height="16" data-icon="location-pin">
          <!-- Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc. -->
          <path fill="currentColor" d="M384 192c0 87.4-117 243-168.3 307.2c-12.3 15.3-35.1 15.3-47.4 0C117 435 0 279.4 0 192C0 86 86 0 192 0S384 86 384 192z"/>
        </svg> {{ i18n "locate" }}
      </a>
      <template x-if="isFavorite">
        <span data-bs-toggle="tooltip" data-bs-placement="top" x-bind:title="venue.name + ' {{ i18n "favorites_already" }}'">
          <button type="button" class="btn btn-outline-primary" x-bind:disabled="isFavorite" x-on:click="updateFavorites" aria-label="Favorite button">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" width="18" height="16" data-icon="star">
              <!-- Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc. -->
              <path fill="currentColor" d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"/>
            </svg>
          </button>
        </span>
      </template>
      <template x-if="!isFavorite">
        <span data-bs-toggle="tooltip" data-bs-placement="top" x-bind:title="'{{ i18n "favorites_mark" }} ' + venue.name + ' {{ i18n "favorites_mark_station" }}'">
          <button type="button" class="btn btn-outline-primary" x-bind:disabled="isFavorite" x-on:click="updateFavorites" aria-label="Favorite button">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" width="18" height="16" data-icon="star regular">
              <!-- Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc. -->
              <path fill="currentColor" d="M287.9 0c9.2 0 17.6 5.2 21.6 13.5l68.6 141.3 153.2 22.6c9 1.3 16.5 7.6 19.3 16.3s.5 18.1-5.9 24.5L433.6 328.4l26.2 155.6c1.5 9-2.2 18.1-9.7 23.5s-17.3 6-25.3 1.7l-137-73.2L151 509.1c-8.1 4.3-17.9 3.7-25.3-1.7s-11.2-14.5-9.7-23.5l26.2-155.6L31.1 218.2c-6.5-6.4-8.7-15.9-5.9-24.5s10.3-14.9 19.3-16.3l153.2-22.6L266.3 13.5C270.4 5.2 278.7 0 287.9 0zm0 79L235.4 187.2c-3.5 7.1-10.2 12.1-18.1 13.3L99 217.9 184.9 303c5.5 5.5 8.1 13.3 6.8 21L171.4 443.7l105.2-56.2c7.1-3.8 15.6-3.8 22.6 0l105.2 56.2L384.2 324.1c-1.3-7.7 1.2-15.5 6.8-21l85.9-85.1L358.6 200.5c-7.8-1.2-14.6-6.1-18.1-13.3L287.9 79z"/>
            </svg>
          </button>
        </span>
      </template>
    </div>
  </div>
  <div class="row mt-3">
    <div class="d-none d-md-block">
      <template x-if="Object.values(availableChart).every(value => !value)">
        <div class="alert alert-danger d-flex align-items-center" role="alert">
          {{ i18n "no_graphs_data"}}
        </div>
      </template>
      <div x-bind:hidden="!availableChart.temperature || !availableChart.rain_fall">
        <h3>{{ i18n "temperature_precipitation" }}</h3>
        <div class="row d-flex justify-content-start mb-5">
          <canvas id="chart_tw" width="800" height="450"></canvas>
        </div>
      </div>
      <div x-bind:hidden="!availableChart.wind_gust || !availableChart.wind_speed">
        <h3>{{ i18n "wind" }}</h3>  
        <div class="row d-flex justify-content-start mb-5">    
          <canvas id="chart_r" width="800" height="450"></canvas>
        </div>
      </div>
      <div x-bind:hidden="!availableChart.relative_humidity || !availableChart.pressure">
        <h3>{{ i18n "relative_humidity_pressure" }}</h3>
        <div class="row d-flex justify-content-start mb-5"> 
          <canvas id="chart_hp" width="800" height="450"></canvas>
        </div>
      </div>
    </div>
    <div class="my-3 d-block d-md-none">
      <div x-bind:hidden="!availableChart.temperature">
        <h3>{{ i18n "temperature" }} [°C]</h3>
        <div class="row d-flex justify-content-start mb-5">
          <canvas id="chart_tM" width="800" height="450"></canvas>
        </div>
      </div>
      <div x-bind:hidden="!availableChart.rain_fall">
        <h3>{{ i18n "precipitation" }} [mm]</h3>
        <div class="row d-flex justify-content-start mb-5">
          <canvas id="chart_rM" width="800" height="450"></canvas>
        </div>
      </div>
      <div x-bind:hidden="!availableChart.wind_gust || !availableChart.wind_speed">
        <h3>{{ i18n "wind" }} [km/h]</h3>  
        <div class="row d-flex justify-content-start mb-5">    
          <canvas id="chart_wM" width="800" height="450"></canvas>
        </div>
      </div>
      <div x-bind:hidden="!availableChart.relative_humidity">
        <h3>{{ i18n "relative_humidity" }} [%]</h3>  
        <div class="row d-flex justify-content-start mb-5">    
          <canvas id="chart_hM" width="800" height="450"></canvas>
        </div>
      </div>
      <div x-bind:hidden="!availableChart.pressure">
        <h3>{{ i18n "pressure" }} [hPa]</h3>  
        <div class="row d-flex justify-content-start mb-5">    
          <canvas id="chart_pM" width="800" height="450"></canvas>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    {{ partial "nearby_venues.html" }}
  </div>
  <div>
    {{ partial "nearby_webcams.html" }}
  </div>
</div>

<div class="mt-5">
  {{ partial "disclaimer" (dict "context" . "disclaimer_text" "disclaimer_observations") }}
</div>
