<script src="{{ .Site.BaseURL }}js/leaflet.js"></script>
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/leaflet.css" />
<script>
  Alpine.data('stationsMap', () => ({
    map: null,
    regions: [],
    fullDays: [],
    months: [],
    text_homepage: {},
    view: 0,
    image: null,
    steps: [],
    date: "",
    hours: [],
    //imageBounds: [[49.36380073591149, 8.098255456623583], [45.53441887907679, 17.43150154055659]],
    imageBounds: [[47.982, 9.584], [45.634239, 13.766]],
    index: 0,
    images: Array.from({length: 49}, (e, i) => ("000" + i).slice(-3) + ".png"),
    imageset: [],
    timeoutID: null,
    started: false,
    paused: false,
    delay: 250,
    desktop_screen: true,
    regions_ids: [
      "1aa901c4-2315-4b71-a871-a0a506f90ff1",
      "fba93146-7192-4190-adab-605435fdeea1",
      "7d2d63a2-5f2c-4b53-841f-22c50ea03768",
      "aadb73d3-bab3-484f-accf-01e19f7fcc04"
      ],

    check_screen_width () {
      if (window.innerWidth < 768) {
        this.desktop_screen = false
      } else {
        this.desktop_screen = true
      }
    },

    widthResizer( ){
      this.check_screen_width()
    },

    zoom_region(lat, lon, viewN) {
      var zoom_level = null
      this.check_screen_width()
      if (this.desktop_screen) {
        if (this.regions_ids[viewN] == '1aa901c4-2315-4b71-a871-a0a506f90ff1') {
          zoom_level = 8
        } else {
          zoom_level = 9
        }
      } else {
        if (this.regions_ids[viewN] == '1aa901c4-2315-4b71-a871-a0a506f90ff1') {
          zoom_level = 7
        } else if (this.regions_ids[viewN] == 'aadb73d3-bab3-484f-accf-01e19f7fcc04') {
          zoom_level = 7.25
        } else if (this.regions_ids[viewN] == '7d2d63a2-5f2c-4b53-841f-22c50ea03768') {
          zoom_level = 7.5
        } else {
          zoom_level = 8
        }
      }
      this.map.setView([lat, lon], zoom_level)     
      this.view = viewN
    },
    mountMap () {
      window.addEventListener('resize', this.widthResizer.bind(this))
      this.check_screen_width()

      this.regions = {{ (index .Site.Data "venues" .Page.Language.Lang "0") }}
      this.fullDays = {{ (index .Site.Data "multilingual_date_names" .Page.Language.Lang "days") }}
      this.months = {{ (index .Site.Data "multilingual_date_names" .Page.Language.Lang "months_short_lower") }}

      this.index = this.images.length - 1
      var imageUrl = '/var/images/radar/' + this.images[this.index]

      this.map = L.map('map', {
        dragging: !L.Browser.mobile,
        tap: !L.Browser.mobile,
        minZoom: 7,
        maxZoom: 11,
        zoomSnap: 0.25,
        zoomDelta: 0.25,
        scrollWheelZoom: true
      })

      let position = [46.7601862, 11.4494348]
      var zoom_level = null
      if (this.desktop_screen) {
        zoom_level = 8
      } else {
        zoom_level = 7
      }
      this.map.setView(position, zoom_level)

      L.tileLayer('/tms/{z}/{x}/{y}.webp', {
        attribution: 'CC BY avalanche.report',
        dragging: !L.Browser.mobile,
        tap: !L.Browser.mobile            
      }).addTo(this.map)

      this.mountradar(imageUrl)
      this.images.forEach(imagename => {
        let imgUrl = '/var/images/radar/' + imagename
        let imgobj = L.imageOverlay(imgUrl, this.imageBounds)
        this.imageset.push(imgobj)
        imgobj.addTo(this.map);
      })
      this.imageset.forEach(imgobj => {
        this.map.removeLayer(imgobj)
      })

      this.image = this.imageset[this.imageset.length - 1].addTo(this.map);

      const layer_highlight = {{ (index .Site.Data "euregio_outside_highlight") }}

      L.geoJson(layer_highlight, {
        style: function () {
          return {
            color: 'black',
            opacity: 0.65,
            fillColor: 'black',
            fillOpacity: 0.1,
          }
        }
      }).addTo(this.map)
    },

    mountradar(imageUrl) {
      fetch(imageUrl).then(response => {
        this.steps = []
        this.hours = []

        let startdate = new Date(response.headers.get('last-modified'))

        this.date = this.formatDate(startdate)
        console.log(startdate)
        startdate = new Date(startdate.getTime())
        let minutes = startdate.getMinutes()

        const ranges = Array.from({length: 13}, (e, i) => i * 5)

        let referencemin = 0

        for (let i = 0; i < ranges.length - 1; i++) {
          if (minutes >= ranges[i] && minutes < ranges[i+1]) {
            startdate.setMinutes(ranges[i])
            referencemin = ranges[i]
          }
        }

        for (const index in this.images) {
          let m = ("0" + startdate.getMinutes()).slice(-2);
          let h = ("0" + startdate.getHours()).slice(-2);
          let datestring = h + ":" + m
          if (m === ("0" + referencemin).slice(-2) || index == this.images.length - 1) {
            this.steps.push(datestring)
          }
          this.hours.push(datestring)
          startdate = new Date(startdate.getTime() - 60000 * 5)
        }

        this.steps.reverse()
        this.hours.reverse()
        this.refresh()

        setTimeout(() => {this.mountradar(imageUrl)}, 60000 * 5);
      })
    },

    formatDate(date) {
      const day = this.fullDays[date.getDay()]
      const mm = date.getMonth() + 1
      const yy = date.getFullYear()

      return (day + ", " + (date.getDate()) + "-" + mm + "-" + yy + ", ")
    },
    refresh() {
      this.map.removeLayer(this.image);
      this.index = Number(this.index)
      this.image = this.imageset[this.index].addTo(this.map);
    },

    play() {
      this.stop()
      this.started = true
      this.paused = false
      this.timeoutID = window.setTimeout(this.step, this.delay, this)
    },

    togglePause() {
      this.paused = !this.paused
    },

    step(self) {
      if (!self.paused) {
        self.index = (self.index + 1) % self.images.length
      }
      self.timeoutID = window.setTimeout(self.step, self.delay, self)
    },

    rewind() {
      this.togglePause()
      this.index = parseInt(this.index)
      if(this.index == 0){
          this.index = this.images.length -1
      }else{
          this.index = this.index - 1
      }
      this.togglePause()
    },

    forward() {
      this.togglePause()
      this.index = parseInt(this.index)
      if(this.index === this.images.length - 1){
          this.index = 0
      }else{
          this.index = this.index + 1
      }
      this.togglePause()
    },

    last() {
      this.paused = true
      this.index = parseInt(this.images.length - 1)
    },

    stop() {
      this.started = false
      this.paused = false
      if (this.timeoutID) {
          window.clearTimeout(this.timeoutID)
          this.timeoutID = null
      }
    },
  }));
</script>

<div>
    <div x-data="stationsMap" x-init="mountMap">
      <div id="map"></div>
      <!-- change area menu -->
      <div class="row">
          <ul class="nav nav-pills justify-content-center regions-pills mt-3">
            <li class="nav-item">
              <button class="nav-link d-inline-block text-truncate" x-bind:class="view === 0 ? 'active' : ''" x-on:click="zoom_region(46.7601862, 11.4494348, 0)"  x-text="regions.find(region => region.id =='1aa901c4-2315-4b71-a871-a0a506f90ff1').name"></button>
            </li>
            <li class="nav-item">
              <button class="nav-link d-inline-block text-truncate" x-bind:class="view === 3 ? 'active' : ''" x-on:click="zoom_region(47.23106, 11.5344824, 3)" x-text="regions.find(region => region.id =='aadb73d3-bab3-484f-accf-01e19f7fcc04').name"></button>
            </li>
            <li class="nav-item">
              <button class="nav-link d-inline-block text-truncate" x-bind:class="view === 2 ? 'active' : ''" x-on:click="zoom_region(46.7080914, 11.429204, 2)" x-text="regions.find(region => region.id =='7d2d63a2-5f2c-4b53-841f-22c50ea03768').name"></button>
            </li>
            <li class="nav-item">
              <button class="nav-link d-inline-block text-truncate" x-bind:class="view === 1 ? 'active' : ''" x-on:click="zoom_region(46.1228446, 11.1861778, 1)" x-text="regions.find(region => region.id =='fba93146-7192-4190-adab-605435fdeea1').name"></button>
            </li>
          </ul>
      </div>
      <div class="row mt-3">
        <div class="col-12" x-init="$watch('index', value => refresh());">
          <label for="slider-precipitations">
            <span class="fw-bold" x-text="date + ' ' + hours[index]"></span>
          </label>
          <input id="slider-precipitations" type="range" class="form-range " x-model="index" min="0" x-bind:max="images.length-1" step="1" >
        </div>
      </div>
      <div>
        <table class="w-100 h-40">
          <tbody>
            <tr>
              <td x-text="steps[0]" class="text-start" style="width: 20%"></td>
              <td x-text="steps[1]" class="text-center" style="width: 10%"></td>
              <td x-text="steps[2]" class="text-center" style="width: 40%"></td>
              <td x-text="steps[3]" class="text-center" style="width: 10%"></td>
              <td x-text="steps[4]" class="text-end" style="width: 20%"></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="mt-3 d-flex justify-content-center">
        <div class="btn-group">
          <button type="button" class="btn btn-outline-primary" x-on:click="rewind" aria-label="Rewind button">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-skip-start-fill" viewBox="0 0 16 16">
              <path d="M4 4a.5.5 0 0 1 1 0v3.248l6.267-3.636c.54-.313 1.232.066 1.232.696v7.384c0 .63-.692 1.01-1.232.697L5 8.753V12a.5.5 0 0 1-1 0z"/>
            </svg>
          </button>
          <button type="button" class="btn btn-outline-primary" x-on:click="play" aria-label="Play button">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16 16">
              <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393"/>
            </svg>
          </button>
          <button type="button" class="btn btn-outline-primary" x-on:click="togglePause" aria-label="Pause button">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pause-fill" viewBox="0 0 16 16">
              <path d="M5.5 3.5A1.5 1.5 0 0 1 7 5v6a1.5 1.5 0 0 1-3 0V5a1.5 1.5 0 0 1 1.5-1.5m5 0A1.5 1.5 0 0 1 12 5v6a1.5 1.5 0 0 1-3 0V5a1.5 1.5 0 0 1 1.5-1.5"/>
            </svg>
          </button>
          <button type="button" class="btn btn-outline-primary" x-on:click="forward" aria-label="Forward button">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-skip-end-fill" viewBox="0 0 16 16">
              <path d="M12.5 4a.5.5 0 0 0-1 0v3.248L5.233 3.612C4.693 3.3 4 3.678 4 4.308v7.384c0 .63.692 1.01 1.233.697L11.5 8.753V12a.5.5 0 0 0 1 0z"/>
            </svg>
          </button>
          <button type="button" class="btn btn-outline-primary" x-on:click="last" aria-label="Last image button">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-skip-forward-fill" viewBox="0 0 16 16">
              <path d="M15.5 3.5a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0V8.753l-6.267 3.636c-.54.313-1.233-.066-1.233-.697v-2.94l-6.267 3.636C.693 12.703 0 12.324 0 11.693V4.308c0-.63.693-1.01 1.233-.696L7.5 7.248v-2.94c0-.63.693-1.01 1.233-.696L15 7.248V4a.5.5 0 0 1 .5-.5"/>
            </svg>
          </button>
        </div>
      </div>
      <!-- end change area menu -->
      <div class="my-3">
        <h5>{{ i18n "precipitation_mmh" }}</h5>
          <table class="w-100 h-40">
            <tbody>
              <tr class="mx-3">
                <td class="text-center precipitation-color0" style="border-left: 1px solid; width: 5.5%;">&nbsp;</td>
                <td class="text-center precipitation-color1" style="width: 5.5%;">&nbsp;</td>
                <td class="text-center precipitation-color2" style="width: 5.5%;">&nbsp;</td>
                <td class="text-center precipitation-color3" style="border-left: 1px solid; width: 5.5%;">&nbsp;</td>
                <td class="text-center precipitation-color4" style="width: 5.5%;">&nbsp;</td>
                <td class="text-center precipitation-color5" style="width: 5.5%;">&nbsp;</td>
                <td class="text-center precipitation-color6" style="border-left: 1px solid; width: 5.5%;">&nbsp;</td>
                <td class="text-center precipitation-color7" style="width: 5.5%;">&nbsp;</td>
                <td class="text-center precipitation-color8" style="width: 5.5%;">&nbsp;</td>
                <td class="text-center precipitation-color9" style="border-left: 1px solid; width: 5.5%;">&nbsp;</td>
                <td class="text-center precipitation-color10" style="width: 5.5%;">&nbsp;</td>
                <td class="text-center precipitation-color11" style="width: 5.5%;">&nbsp;</td>
                <td class="text-center precipitation-color12" style="border-left: 1px solid; width: 5.5%;">&nbsp;</td>
                <td class="text-center precipitation-color13" style="width: 5.5%;">&nbsp;</td>
                <td class="text-center precipitation-color14" style="width: 5.5%;">&nbsp;</td>
                <td class="text-center precipitation-color15" style="border-left: 1px solid; width: 5.5%;">&nbsp;</td>
                <td class="text-center precipitation-color16" style="width: 5.5%;">&nbsp;</td>
                <td class="text-center precipitation-color17" style="border-right: 1px solid; width: 5.5%;">&nbsp;</td>
              </tr>
              <tr class="mx-3">
                <td class="text-start" colspan="2" style="border-left: 1px solid; width: 5.5%;">0.1</td>
                <td class="text-end" colspan="1" style="border-right: 1px solid; width: 5.5%;">2</td>
                <td class="text-end" colspan="3" style="border-right: 1px solid; width: 5.5%;">7</td>
                <td class="text-end" colspan="3" style="border-right: 1px solid; width: 5.5%;">16</td>
                <td class="text-end" colspan="3" style="border-right: 1px solid; width: 5.5%;">30</td>
                <td class="text-end" colspan="3" style="border-right: 1px solid; width: 5.5%;">70</td>
                <td class="text-end" colspan="3" style="border-right: 1px solid; width: 5.5%;">120+</td>
              </tr>
            </tbody> 
          </table>
        </div>
      </div>

    <div class="mt-5">
      {{ partial "disclaimer" (dict "context" . "disclaimer_text" "disclaimer_precipitations") }}
    </div>
</div>
