<script src="{{ .Site.BaseURL }}js/leaflet.js"></script>
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/leaflet.css" />
<script>
  const stations = {{ (index .Site.Data "venues" .Page.Language.Lang "3") }} {{"// eslint-disable-line no-unused-vars" | safeJS }}

  Alpine.data('stationsMap', () => ({
    ready: false,
    countFetch: 0,
    readyfavorite: false,
    view: 0,
    map: null,
    months: [],
    days: [],
    fullMonths: [],
    fullDays: [],
    markers: [],
    carousel_text: [],
    ts: [],
    temperature_color_bar: [],
    index_layout: 0,
    time_layouts: [],
    rangeTimeLayouts: "",
    pageName: '',
    parameter: 'temperature',
    tableData: [],
    steps: [],
    dates_instant: [],
    dates_24h: [],
    mapStatus: [],
    weights: [],
    data: {},
    initial: 0,
    mode: false,
    sortCol: null,
    sortAsc: false,
    regions: [],
    region: {},
    regions_ids: [
      "1aa901c4-2315-4b71-a871-a0a506f90ff1",
      "fba93146-7192-4190-adab-605435fdeea1",
      "7d2d63a2-5f2c-4b53-841f-22c50ea03768",
      "aadb73d3-bab3-484f-accf-01e19f7fcc04"
      ],
    bulletin: {},
    time_layout: "",
    max_length: null,
    venue: null,
    refreshing: false,
    favorites_data: {},
    favorites_names: {},
    current_favorite: "",
    desktop_screen: true,

    handleMapChange () {
      let latlng = this.map.getCenter()
      let z = this.map.getZoom()
      this.mapStatus = [latlng.lat, latlng.lng, z]
      this.markers.forEach(marker => this.map.removeLayer(marker))
      this.markers = []
      if (this.initial!=0) {this.tableData = []}
      this.initial++
      this.setMarkers()
    },

    check_screen_width () {
      if (window.innerWidth < 768) {
        this.desktop_screen = false
      } else {
        this.desktop_screen = true
      }
    },

    widthResizer( ){
      this.check_screen_width()
    },

    zoom_region(lat, lon, viewN) {
      this.check_screen_width()
      var zoom_level = null
      if (this.desktop_screen) {
        if (this.regions_ids[viewN] == '1aa901c4-2315-4b71-a871-a0a506f90ff1') {
          zoom_level = 8
        } else {
          zoom_level = 9
        }
      } else {
        if (this.regions_ids[viewN] == '1aa901c4-2315-4b71-a871-a0a506f90ff1') {
          zoom_level = 7
        } else if (this.regions_ids[viewN] == 'aadb73d3-bab3-484f-accf-01e19f7fcc04') {
          zoom_level = 7.25
        } else if (this.regions_ids[viewN] == '7d2d63a2-5f2c-4b53-841f-22c50ea03768') {
          zoom_level = 7.5
        } else {
          zoom_level = 8
        }
      }
      this.map.setView([lat, lon], zoom_level)     
      this.view = viewN
      this.updateMap()
    },

    getParameterByName (key, def) {
      const url_string = window.location.href
      const url = new URL(url_string);
      const value = url.searchParams.get(key)
      return value === null ? def : value          
    },

    mountMap () {
      window.addEventListener('resize', this.widthResizer.bind(this))
      this.check_screen_width()

      this.ready = false
      this.temperature_color_bar = {{ (index .Site.Data "temperature_color_bar") }}
      this.pageName = {{ .Get "pagename" }}

      this.months = {{ (index .Site.Data "multilingual_date_names" .Page.Language.Lang "months_short_lower") }}
      this.days = {{ (index .Site.Data "multilingual_date_names" .Page.Language.Lang "days_short_lower") }}

      this.fullMonths = {{ (index .Site.Data "multilingual_date_names" .Page.Language.Lang "months") }}
      this.fullDays = {{ (index .Site.Data "multilingual_date_names" .Page.Language.Lang "days") }}

      if (this.pageName === "observations") {
        this.ts = {{ (index .Site.Data "venues" .Page.Language.Lang "3") }}
      }
      
      this.ts = this.ts.sort((a, b) => b.weight - a.weight)
      this.ts.forEach(venue => {
        this.weights.push(venue.weight)
      })

      this.regions = {{ (index .Site.Data "venues" .Page.Language.Lang "0") }}

      const region_articles = {{ (index .Site.Data "multilingual_date_names" .Page.Language.Lang "region_articles") }} {{"// eslint-disable-line no-unused-vars" | safeJS }}

      this.regions.forEach(region => {
        let missing = {{ if eq .Page.Language.Lang "en" }} region.name + " " + {{ i18n "weather_observation" }} {{ else }} {{ i18n "weather_observation" }} + " " + region_articles[region.id] + region.name {{ end }};
        region.missing = missing
      })

      this.region = this.regions.find(region => region.id == this.regions_ids[0])

      this.map = L.map('map', {
        dragging: !L.Browser.mobile,
        tap: !L.Browser.mobile,
        minZoom: 7,
        maxZoom: 11,
        zoomSnap: 0.25,
        zoomDelta: 0.25,
        scrollWheelZoom: true
      })
      this.map.on('load', () => this.handleMapChange())
      this.map.on('zoomend', () => this.handleMapChange())
      this.map.on('moveend', () => this.setMarkers())

      const layer_highlight = {{ (index .Site.Data "euregio_outside_highlight") }}

      L.geoJson(layer_highlight, {
        style: function () {
          return {
            color: 'black',
            opacity: 0.65,
            fillColor: 'black',
            fillOpacity: 0.1,
          }
        }
      }).addTo(this.map)

      const venue_id = this.getParameterByName('id')
      let position = [46.7601862, 11.4494348]
      var zoom_level = null
      if (this.desktop_screen) {
        zoom_level = 8
      } else {
        zoom_level = 7
      }
      if (venue_id) {
        this.venue = stations.find(e => e.id === venue_id)
        if (this.venue === undefined) {
          window.location.href = "../404.html"
        }
        position = [this.venue.lat, this.venue.lon]
        zoom_level = 11
      }

      L.tileLayer('/tms/{z}/{x}/{y}.webp', {
        attribution: 'CC BY avalanche.report',
        dragging: !L.Browser.mobile,
        tap: !L.Browser.mobile
      }).addTo(this.map)
      this.map.setView(position, zoom_level)

      var url = `{{ .Site.BaseURL | safeJS }}var/data/{{ .Get "pagename" | safeJS }}/bulletin.json`
      fetch(url).then(response => {
        if (!response.ok) {
          this.tableData = []
          throw new Error("response !ok");
        } else {
          return response.json()
        }
      }).then(data => {
        this.bulletin = data
        this.max_length = this.bulletin['instant'].length
        if (venue_id) {
          this.index_layout = this.bulletin['current_instant'] - 1
        } else {
          this.index_layout = this.bulletin['current_instant']
        }

        this.steps = []
        this.dates_instant = []
        this.dates_24h = []

        this.bulletin["1440"].forEach(x => {
          const date = new Date(x.start)
          const mm = this.months[date.getMonth()]
          this.steps.push("| " + (date.getDate()) + " " + mm)
          this.dates_24h.push(this.formatDate(date, false))
        })

        this.bulletin["instant"].forEach(x => {
          var date = new Date(x.end)
          date.setSeconds(date.getSeconds() + 1)
          this.dates_instant.push(this.formatDate(date, true))
        })

        // force drawing markers the 1st time
        this.data = data.instant[0]
        this.ready = true
        this.updateMap()
      })

      this.mountFavorites()
    },

    mountFavorites(){
      this.current_favorite = favorites_stations[favorites_station_index]
      favorites_stations.forEach(town => {
        var url = `{{ .Site.BaseURL | safeJS}}var/data/observations/${town}.json` {{"// eslint-disable-line no-useless-escape" | safeJS }}
        fetch(url).then(response => response.json()).then(data => {
          let v = []
          for(const item in data[1440]){
            v.push({ time_layout: item, data: data[1440][item]})
          }
          v.sort((b, a) => parseInt(b.time_layout) - parseInt(a.time_layout))
          this.favorites_data[town] = v
          this.favorites_names[town] = stations.find(e => e.id === town).name
          this.favorites_data["dates"] = {}
          var start = new Date (data.start)
          let i = 0
          for(const item in data[1440]){
            this.favorites_data["dates"][item] = this.favoritesFormatDate(this.addDays(start, +i))     
            i += 1
          }
          this.countFetch += 1
        }).catch(() => {})
      })
      
    },

    favoriteFetchUpdate(){
      if(this.countFetch > 2){
        this.readyfavorite = true
      }
    },

    favoritesFormatDate(date){
      const dd = date.getDate()
      const mm = date.getMonth() + 1
      const yy = date.getFullYear()
      const days = {{ (index .Site.Data "multilingual_date_names" .Page.Language.Lang "days") }}
      const day = days[date.getDay()]
      return {day: day, date:`${(dd>9 ? '' : '0') + dd}-${(mm>9 ? '' : '0') + mm}-${yy}`}
    },

    addDays(date, days) {
      let date1 = new Date(date);
      date1.setDate(date1.getDate() + days);
      return date1;
    },

    formatDate(date, isInstant) {
      const day = this.fullDays[date.getDay()]
      const mm = date.getMonth() + 1
      const yy = date.getFullYear()
      const hh = ("0" + date.getHours()).slice(-2);
      const min = ("0" + date.getMinutes()).slice(-2);

      if (isInstant) {
        return (day + ", " + (date.getDate()) + "-" + mm + "-" + yy + ", " + hh + ":" + min)
      } else {
        return (day + ", " + (date.getDate()) + "-" + mm + "-" + yy)
      }
    },

    createPopover(venue, venue_data, open=false) {
      let offset = 0
      let x = 25
      let y = 25

      let svg = ''

      if (this.mode) {
        const value = Math.round(venue_data[this.parameter])
        if (this.parameter === "temperature_maximum" || this.parameter === "temperature_minimum") {
          offset = 50
          svg = `<svg style="position:absolute;left:0px;top:0px" width="32" height="32" viewBox="0 0 22 22" xmlns="http://www.w3.org/2000/svg"><circle cx="11" cy="11" r="10.5" style="stroke:#000;stroke-width:1;fill:${this.temperature_color_bar["temperature"][value+offset]}"></circle><circle></circle><text x="50%" y="55%" dominant-baseline="middle" text-anchor="middle">${value}</text></svg>`
        } else if (this.parameter === "wind_gust") {
          if(venue_data["wind_direction"]){
            svg = '<svg xmlns="http://www.w3.org/2000/svg" width="61.1" height="61.1" viewBox="0 0 42 42"><circle cx="21" cy="21" r="10.5" style="fill:'+this.temperature_color_bar[this.parameter][value+offset]+';fill-opacity:1;stroke:#000;stroke-width:1"/><text x="21" y="22.125" dominant-baseline="middle" text-anchor="middle">'+value+'</text><path transform="rotate('+venue_data["wind_direction"]+', 21, 21)" d="M37.5 25.5h-1.414l3.997-3.998H31.5v-1h8.589L36.086 16.5H37.5L42 21Z" fill-rule="evenodd"/></svg>'
            x = 39.5
            y = 39.5
          }else{
            svg =  `<svg style="position:absolute;left:0px;top:0px" width="32" height="32" viewBox="0 0 22 22" xmlns="http://www.w3.org/2000/svg"><circle cx="11" cy="11" r="10.5" style="stroke:#000;stroke-width:1;fill:${this.temperature_color_bar[this.parameter][value+offset]}"></circle><circle></circle><text x="50%" y="55%" dominant-baseline="middle" text-anchor="middle">${value}</text></svg>`
          }
        } else if (this.parameter === "rain_fall") {
          svg = `<svg style="position:absolute;left:0px;top:0px" width="32" height="32" viewBox="0 0 22 22" xmlns="http://www.w3.org/2000/svg"><circle cx="11" cy="11" r="10.5" style="stroke:#000;stroke-width:1;fill:${this.temperature_color_bar[this.parameter][Math.round(value/3)]}"></circle><circle></circle><text x="50%" y="55%" dominant-baseline="middle" text-anchor="middle">${value}</text></svg>`
        } 
      } else {
        if (this.parameter in venue_data && venue_data[this.parameter] !== null) {
          const value = Math.round(venue_data[this.parameter])
          if (this.parameter === "temperature") {
            offset = 50
          }
          if (this.parameter === "wind_gust") {
            if(venue_data["wind_direction"]){
              svg = '<svg xmlns="http://www.w3.org/2000/svg" width="61.1" height="61.1" viewBox="0 0 42 42"><circle cx="21" cy="21" r="10.5" style="fill:'+this.temperature_color_bar[this.parameter][value+offset]+';fill-opacity:1;stroke:#000;stroke-width:1"/><text x="21" y="22.125" dominant-baseline="middle" text-anchor="middle">'+value+'</text><path transform="rotate('+venue_data["wind_direction"]+', 21, 21)" d="M37.5 25.5h-1.414l3.997-3.998H31.5v-1h8.589L36.086 16.5H37.5L42 21Z" fill-rule="evenodd"/></svg>'
              x = 39.5
              y = 39.5
            }else{
              svg =  `<svg style="position:absolute;left:0px;top:0px" width="32" height="32" viewBox="0 0 22 22" xmlns="http://www.w3.org/2000/svg"><circle cx="11" cy="11" r="10.5" style="stroke:#000;stroke-width:1;fill:${this.temperature_color_bar[this.parameter][value+offset]}"></circle><circle></circle><text x="50%" y="55%" dominant-baseline="middle" text-anchor="middle">${value}</text></svg>`
            }
          } else {
            svg = `<svg style="position:absolute;left:0px;top:0px" width="32" height="32" viewBox="0 0 22 22" xmlns="http://www.w3.org/2000/svg"><circle cx="11" cy="11" r="10.5" style="stroke:#000;stroke-width:1;fill:${this.temperature_color_bar[this.parameter][value+offset]}"></circle><circle></circle><text x="50%" y="55%" dominant-baseline="middle" text-anchor="middle">${value}</text></svg>`
          }
        }
      }
      var parameter_icon = L.divIcon({
        html: '<div aria-label="Info marker">' + svg + '</div>',
        className: "",
        iconAnchor: [x, y],
        popupAnchor: [-8.5, -18.5],
      })

      let marker = L.marker([venue.lat, venue.lon], {icon: parameter_icon}).addTo(this.map)
      let popoverContent = `
      <table>
        <tr>
          <td>
            <a href="../observation/${venue.id}">
              <h6>${venue.name}</h6> 
            </a>
          </td>
        </tr>
      </table>`

      marker.bindPopup(popoverContent)
      this.markers.push(marker)
      if (open) {
        marker.openPopup()
      }
    },

    populateTable(venue, venue_data) {
      this.tableData.push({
        url: `../observation/${venue.id}`,
        name: venue.name,
        elevation: venue.elevation,
        t:  this.checkNumber(venue_data.temperature, " °C"),
        rain:  this.checkNumber(this.sanitize(venue_data.rain_fall), " mm"),
        wind_gust:  this.checkNumber(venue_data.wind_gust, " km/h"),
        wind_direction:  this.checkNumber(venue_data.wind_direction, null),
        humidity:  this.checkNumber(venue_data.relative_humidity, "%"),
        pressure:  this.checkNumber(venue_data.pressure, " hPa"),
        snow_level:  this.checkNumber(venue_data.snow_level, " m"),
        temperature_maximum:  this.checkNumber(venue_data.temperature_maximum, " °C"),
        temperature_minimum:  this.checkNumber(venue_data.temperature_minimum, " °C"),
      })
    },

    checkNumber(number, unit_of_measurement) {
      return typeof number  == 'number' ? number + unit_of_measurement : "-"
    },

    setMarkers() {
      let zoom = this.mapStatus[2]
      let threshold = 12 - zoom
      let count = 0
      let bounds = this.map.getBounds() // Get the current map bounds
      this.markers.forEach(marker => this.map.removeLayer(marker))
      this.markers = []
      this.tableData = []

      this.ts.forEach(venue => {
        if (venue.id in this.data && venue.weight >= threshold) {
          if (bounds.contains([venue.lat, venue.lon])) {
            const open = this.venue && venue.id === this.venue.id
            this.createPopover(venue, this.data[venue.id], open)
            count += 1
          }
        }
        if (venue.id in this.data && (venue.id_region == this.regions_ids[this.view] || this.view == 0 )  ) {
          this.populateTable(venue, this.data[venue.id])
        }
      })
      console.log(`zoom = ${zoom}, threshold = ${threshold}, created ${count} markers`)
      this.sort('name', false)
    },

    sort(col, sortAsc=null) {
      if (sortAsc !== null) {
        this.sortAsc = sortAsc
      } else if (this.sortCol === col) {
        this.sortAsc = !this.sortAsc
      }
      this.sortCol = col
      this.tableData.sort((a, b) => {
        const valA = this.parseNumericValue(a[this.sortCol])
        const valB = this.parseNumericValue(b[this.sortCol])
        if (valA < valB) return this.sortAsc ? 1 : -1
        if (valA > valB) return this.sortAsc ? -1 : 1
        return 0
      })
    },

    parseNumericValue(value) {
      if (value === "-") {
        return -1000
      }    
      if (typeof value === 'string') {
        const numericValue = parseFloat(value.replace(/[^\d.-]/g, ''))
        if (!isNaN(numericValue)) {
          return numericValue
        }
      }
      return value;
    },

    changeMode() {
      if (this.mode) {
        this.parameter = "temperature_minimum"
        this.max_length = this.bulletin['1440'].length - 1
        this.index_layout = this.bulletin['current_1440']
      } else {
        this.parameter = "temperature"
        this.max_length = this.bulletin['instant'].length
        this.index_layout = this.bulletin['current_instant']
      }
      this.updateMap()
    },

    refresh(){
      if(!this.refreshing){
        this.refreshing = true
        this.updateMap()
      }
    },

    updateMap() {
      this.index_layout = parseInt(this.index_layout)
      this.markers.forEach(marker => {
        marker.closePopup()
        this.map.removeLayer(marker)
      })

      if(this.bulletin['instant'][this.index_layout] && !this.mode || this.bulletin['1440'][this.index_layout] && this.mode){
        if (!this.mode) {
          this.time_layout = this.bulletin['instant'][this.index_layout].id
        } else{
          this.time_layout = this.bulletin['1440'][this.index_layout].id
        }

        var url = `{{ .Site.BaseURL | safeJS }}var/data/${this.pageName}/${this.time_layout}.json`
        fetch(url).then(response => {
          if (!response.ok) {
            this.tableData = []
            this.refreshing = false
            throw new Error("response !ok");
          } else {
            return response.json()
          }
        }).then(data => {
          this.data = data
          this.tableData = []
          this.setMarkers()
          this.refreshing = false
        }).catch(err => {
          this.refreshing = false
          console.log(`error: ${err}`)
          this.data = {}
        })
      }else{
        this.refreshing = false
      }
    },

    sanitize (value) {
      return value !== null ? value > 1e6 ? ' - ' : value : ' - '
    },

    updateCurrentFavorite(station){
      this.current_favorite = station
      if (!storageAvailable("localStorage")) return;
      if(JSON.parse(localStorage.getItem('favorites_stations')) !== null){
        favorites_station_index = favorites_stations.indexOf(this.current_favorite)
        localStorage.setItem('favorites_station_index', JSON.stringify(favorites_station_index));
      }
    }
    
  })) // Alpine.data
</script>

<section>
  <div x-data="stationsMap" x-init="mountMap">
    <div class="row">
      <div class="col-lg-8">
        <div id="map"></div>
        <!-- change area menu -->
        <div class="row">
          <ul class="nav nav-pills justify-content-center regions-pills mt-3">
            <li class="nav-item">
              <a role="button" class="nav-link d-inline-block text-truncate" x-bind:class="view === 0 ? 'active' : ''" x-on:click="zoom_region(46.7601862, 11.4494348, 0), (region = regions.find(region => region.id == regions_ids[0]))" x-text="regions.find(region => region.id == regions_ids[0]).name"></a>
            </li>
            <li class="nav-item">
              <a role="button" class="nav-link d-inline-block text-truncate" x-bind:class="view === 3 ? 'active' : ''" x-on:click="zoom_region(47.23106, 11.5344824, 3), (region = regions.find(region => region.id == regions_ids[3]))"  x-text="regions.find(region => region.id == regions_ids[3]).name"></a>
            </li>
            <li class="nav-item">
              <a role="button" class="nav-link d-inline-block text-truncate" x-bind:class="view === 2 ? 'active' : ''" x-on:click="zoom_region(46.7080914, 11.429204, 2), (region = regions.find(region => region.id == regions_ids[2]))" x-text="regions.find(region => region.id == regions_ids[2]).name"></a>
            </li>
            <li class="nav-item">
              <a role="button" class="nav-link d-inline-block text-truncate" x-bind:class="view === 1 ? 'active' : ''" x-on:click="zoom_region(46.1228446, 11.1861778, 1), (region = regions.find(region => region.id == regions_ids[1]))" x-text="regions.find(region => region.id == regions_ids[1]).name"></a>
            </li>
          </ul>
        </div>
        <!-- end change area menu -->
        <template x-if="ready">
          <div class="row mt-3">
            <div class="col-sm-12 mb-4">
              <div class="row">
                <div x-init="$watch('index_layout', value => refresh());">
                  <label for="slider-observations">
                    <template x-if="!mode">
                      <div class="my-1">
                        <span class="fw-bold" x-text="dates_instant[index_layout]"></span>
                      </div>
                    </template>
                    <template x-if="mode">
                      <div class="my-1">
                        <span class="fw-bold" x-text="dates_24h[index_layout]"></span>
                      </div>
                    </template>
                  </label>
                  <input id="slider-observations" type="range" class="form-range" x-model="index_layout" min="0" x-bind:max="max_length" step="1" x-bind:value="index_layout">
                </div>
              </div>
              <div class="row me-3">
                <template x-for="step in steps.slice(0, -1)">
                  <div class="col">
                    <span x-text="step"></span>
                  </div>
                </template>
              </div>
            </div>
            <div class="btn-group justify-content-center" role="group" aria-label="Button group with nested dropdown" x-init="$watch('mode', value => changeMode());">
              <div class="btn-group" role="group">
                <button type="button" class="btn btn-primary dropdown-toggle me-1" data-bs-toggle="dropdown" x-text="mode ? '24 h' : '30 min'"></button>
                <ul class=" dropdown-menu">
                  <li><button class="dropdown-item" x-on:click="mode = false">30 min</button></li>
                  <li><button class="dropdown-item" x-on:click="mode = true">24 h</button></li>
                </ul>
              </div>
              <template x-if="mode">
                <div class="btn-group" role="group" x-init="$watch('parameter', value => refresh());">
                  <button x-bind:disabled="refreshing" type="button" class="btn btn-primary rounded-end dropdown-toggle" data-bs-toggle="dropdown" x-text="parameter === 'temperature_minimum' ? '{{ i18n "minimum_temperature" }}' : (parameter === 'temperature_maximum' ? '{{ i18n "maximum_temperature" }}' : (parameter === 'rain_fall' ? '{{ i18n "precipitation" }}' : '{{ i18n "wind_gust" }}'))">
                  </button>
                  <ul class="dropdown-menu">
                    <li><button class="dropdown-item" x-on:click="parameter = 'temperature_minimum'">{{ i18n "minimum_temperature" }}</button></li>
                    <li><button class="dropdown-item" x-on:click="parameter = 'temperature_maximum'">{{ i18n "maximum_temperature" }}</button></li>
                    <li><button class="dropdown-item" x-on:click="parameter = 'rain_fall'">{{ i18n "precipitation" }}</button></li>
                    <li><button class="dropdown-item" x-on:click="parameter = 'wind_gust'">{{ i18n "wind_gust_maximum" }}</button></li>
                  </ul>
                </div>
              </template>
              <template x-if="!mode">
                <div class="btn-group" role="group" x-init="$watch('parameter', value => refresh());">
                  <button x-bind:disabled="refreshing" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"  x-text="parameter === 'temperature' ? '{{ i18n "temperature" }}' : (parameter === 'rain_fall' ? '{{ i18n "precipitation" }}' : '{{ i18n "wind_gust" }}')">
                  </button>
                  <ul class="dropdown-menu">
                    <li><button class="dropdown-item" x-on:click="parameter = 'temperature'">{{ i18n "temperature" }}</button></li>
                    <li><button class="dropdown-item" x-on:click="parameter = 'rain_fall'">{{ i18n "precipitation" }}</button></li>
                    <li><button class="dropdown-item" x-on:click="parameter = 'wind_gust'">{{ i18n "wind_gust" }}</button></li>
                  </ul>
                </div>
              </template>
            </div>
          </div>
          <div class="row me-3">
            <template x-for="step in steps.slice(0, -1)">
              <div class="col">
                <span x-text="step"></span>
              </div>
            </template>
          </div>
          <div class="btn-group justify-content-center" role="group" aria-label="Button group with nested dropdown" x-init="$watch('mode', value => changeMode());">
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-primary dropdown-toggle me-1" data-bs-toggle="dropdown" x-text="mode ? '{{ i18n "24h" }}' : '{{ i18n "instant" }}'"></button>
              <ul class=" dropdown-menu">
                <li><button class="dropdown-item" x-on:click="mode = false">{{ i18n "instant" }}</button></li>
                <li><button class="dropdown-item" x-on:click="mode = true">{{ i18n "24h" }}</button></li>
              </ul>
            </div>
            <template x-if="mode">
              <div class="btn-group" role="group" x-init="$watch('parameter', value => refresh());">
                <button x-bind:disabled="refreshing" type="button" class="btn btn-primary rounded-end dropdown-toggle" data-bs-toggle="dropdown" x-text="parameter === 'temperature_minimum' ? '{{ i18n "minimum_temperature" }}' : (parameter === 'temperature_maximum' ? '{{ i18n "maximum_temperature" }}' : (parameter === 'rain_fall' ? '{{ i18n "precipitation" }}' : '{{ i18n "wind" }}'))">
                </button>
                <ul class="dropdown-menu">
                  <li><button class="dropdown-item" x-on:click="parameter = 'temperature_minimum'">{{ i18n "minimum_temperature" }}</button></li>
                  <li><button class="dropdown-item" x-on:click="parameter = 'temperature_maximum'">{{ i18n "maximum_temperature" }}</button></li>
                  <li><button class="dropdown-item" x-on:click="parameter = 'rain_fall'">{{ i18n "precipitation" }}</button></li>
                  <li><button class="dropdown-item" x-on:click="parameter = 'wind_speed'">{{ i18n "wind" }}</button></li>
                </ul>
              </div>
            </template>
            <template x-if="!mode">
              <div class="btn-group" role="group" x-init="$watch('parameter', value => refresh());">
                <button x-bind:disabled="refreshing" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"  x-text="parameter === 'temperature' ? '{{ i18n "temperature" }}' : (parameter === 'rain_fall' ? '{{ i18n "precipitation" }}' : '{{ i18n "wind" }}')">
                </button>
                <ul class="dropdown-menu">
                  <li><button class="dropdown-item" x-on:click="parameter = 'temperature'">{{ i18n "temperature" }}</button></li>
                  <li><button class="dropdown-item" x-on:click="parameter = 'rain_fall'">{{ i18n "precipitation" }}</button></li>
                  <li><button class="dropdown-item" x-on:click="parameter = 'wind_speed'">{{ i18n "wind" }}</button></li>
                </ul>
              </div>
            </template>
          </div>
        </template>
      </div> <!-- fine colonna sx -->
      <!-- Table in small mode -->
      <div class="mt-3 d-lg-none" style="max-height: 300px; overflow-y: auto;">
        {{.Inner}}
      </div>
      <!-- End table in small mode -->
      <div class="col-lg-4">
        <!-- widget -->
        <template x-if="readyfavorite" x-init="$watch('countFetch', value => favoriteFetchUpdate());">
          <section>
            <div class="h-100">
              <div class="mt-4">
                <div class="d-flex justify-content-between">
                  <template x-for="town in favorites_stations.slice(0, 3)">
                    <div class="col-4">
                      <ul class="nav nav-pills nav-justified">
                        <li class="nav-item">
                          <a class="nav-link d-inline-block text-truncate"
                            style="max-width: 150px;"
                            x-bind:class="current_favorite === town ? 'active-tab' : ''" x-text="favorites_names[town]"
                            x-on:click="updateCurrentFavorite(town)" role="button">
                          </a>
                        </li>
                      </ul>
                    </div>
                  </template>
                </div>
              </div>
              <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-12">
                  <div class="card mb-4 gradient-custom" style="border-radius: 10px; color: #fff; background-color: #515F73;">
                    <div class="card-body p-4">
                      <div id="widget1">
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <div class="d-flex justify-content-center">
                              <div class="text-center">
                                <p class="mb-0">
                                  <span x-text="favorites_data.dates[144000000].day" class="fw-bold"></span>
                                  <br/>
                                  <span x-text="favorites_data.dates[144000000].date"></span>
                                </p>
                                <h3 class="mb-2">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-broadcast-pin" viewBox="0 0 16 16">
                                    <title id="title">{{ i18n "station" }}</title>
                                    <path d="M3.05 3.05a7 7 0 0 0 0 9.9.5.5 0 0 1-.707.707 8 8 0 0 1 0-11.314.5.5 0 0 1 .707.707zm2.122 2.122a4 4 0 0 0 0 5.656.5.5 0 1 1-.708.708 5 5 0 0 1 0-7.072.5.5 0 0 1 .708.708zm5.656-.708a.5.5 0 0 1 .708 0 5 5 0 0 1 0 7.072.5.5 0 1 1-.708-.708 4 4 0 0 0 0-5.656.5.5 0 0 1 0-.708zm2.122-2.12a.5.5 0 0 1 .707 0 8 8 0 0 1 0 11.313.5.5 0 0 1-.707-.707 7 7 0 0 0 0-9.9.5.5 0 0 1 0-.707zM6 8a2 2 0 1 1 2.5 1.937V15.5a.5.5 0 0 1-1 0V9.937A2 2 0 0 1 6 8z"/>
                                  </svg>
                                  <a x-bind:href="'../observation/' + current_favorite" class="mb-0"  style="color:white" x-text="favorites_names[current_favorite]"></a>
                                </h3>
                                <p class="display-5">
                                  <span x-text="favorites_data[current_favorite].find(e => e.time_layout === '144000000').data.temperature_minimum" style="border-radius: 5px; background-color: #1BACE4; padding: 0px 5px;"></span> / <span x-text="favorites_data[current_favorite].find(e => e.time_layout === '144000000').data.temperature_maximum" style="border-radius: 5px; background-color: #ED1B24; padding: 0px 5px;"></span> °C
                                </p>
                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-droplet" viewBox="0 0 20 20">
                                  <path fill-rule="evenodd" d="M7.21.8C7.69.295 8 0 8 0c.109.363.234.708.371 1.038.812 1.946 2.073 3.35 3.197 4.6C12.878 7.096 14 8.345 14 10a6 6 0 0 1-12 0C2 6.668 5.58 2.517 7.21.8zm.413 1.021A31.25 31.25 0 0 0 5.794 3.99c-.726.95-1.436 2.008-1.96 3.07C3.304 8.133 3 9.138 3 10a5 5 0 0 0 10 0c0-1.201-.796-2.157-2.181-3.7l-.03-.032C9.75 5.11 8.5 3.72 7.623 1.82z" stroke="#1BABE4"/>
                                  <path fill-rule="evenodd" d="M4.553 7.776c.82-1.641 1.717-2.753 2.093-3.13l.708.708c-.29.29-1.128 1.311-1.907 2.87z"/>
                                </svg>
                                <span class="mb-0" x-text="sanitize(favorites_data[current_favorite].find(e => e.time_layout === '144000000').data.rain_fall) +' mm'"></span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
          
                    </div>
                  </div>
          
                  <div class="card mb-4" style="border-radius: 10px; color: #fff; background-color: #515F73;">
                    <div class="card-body p-2">
          
                      <div id="widget2">
                        <!-- Carousel inner -->
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <div class="d-flex flex-wrap justify-content-around text-center mb-4 pb-1 pt-4">
                              <template x-for="favData in favorites_data[current_favorite].slice(2, 6)">
                                <template x-if="favData.time_layout !== '144000000'">
                                  <div style="width: 25%;" class="mb-4">
                                    <p class="mb-1">
                                      <span x-text="favorites_data.dates[favData.time_layout].day" class="fw-bold"></span><br/>
                                      <span x-text="favorites_data.dates[favData.time_layout].date"></span>
                                    </p>
                                    <p class="m-2">
                                      <span x-text="favData.data.temperature_minimum" style="border-radius: 5px; background-color: #1BACE4; padding: 0px 2px;"></span> / <span x-text="favData.data.temperature_maximum" style="border-radius: 5px; background-color: #ED1B24; padding: 0px 2px;"></span> °C
                                    </p>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-droplet" viewBox="0 0 20 20">
                                      <path fill-rule="evenodd" d="M7.21.8C7.69.295 8 0 8 0c.109.363.234.708.371 1.038.812 1.946 2.073 3.35 3.197 4.6C12.878 7.096 14 8.345 14 10a6 6 0 0 1-12 0C2 6.668 5.58 2.517 7.21.8zm.413 1.021A31.25 31.25 0 0 0 5.794 3.99c-.726.95-1.436 2.008-1.96 3.07C3.304 8.133 3 9.138 3 10a5 5 0 0 0 10 0c0-1.201-.796-2.157-2.181-3.7l-.03-.032C9.75 5.11 8.5 3.72 7.623 1.82z" stroke="#1BABE4"/>
                                      <path fill-rule="evenodd" d="M4.553 7.776c.82-1.641 1.717-2.753 2.093-3.13l.708.708c-.29.29-1.128 1.311-1.907 2.87z"/>
                                    </svg>
                                    <span class="mb-0" x-text="sanitize(favData.data.rain_fall)+' mm'"></span>
                                  </div>
                                </template>
                              </template>
                            </div>
                          </div>
                        </div>
                      </div>
                      
          
                    </div>
                  </div>
          
                </div>
              </div>
          
            </div>
          </section> 
        </template>
        <!-- fine widget -->
      </div> <!-- End col-lg-4 -->
    </div> <!-- End row -->
    <!-- Table in large mode -->
    <div class="d-none d-lg-block" style="max-height: 500px; overflow-y: auto;">
      {{.Inner}}
    </div>
    <!-- End table in large mode -->
    <div class="mt-5">
      {{ partial "disclaimer" (dict "context" . "disclaimer_text" "disclaimer_observations") }}
    </div>
  </div>
</section>
