<script src="{{ .Site.BaseURL }}js/cdn.min.js"></script>

<script>
  const town = {{ .Page.Params.town }}
  const sky_conditions = {{ (index .Site.Data "sky_conditions") }}

  Alpine.data('favorites', () => ({
    id: '',
    towndata: { 
      name: '',
      id: 0,
      data: {
        144000000: {},
        144001440: {},
        144002880: {},
        144004320: {},
        144005760: {}
      }
    },
    mode: 'd',
    slim: false,

    init() {
      this.id = town.id
      this.mode = this.getParameterByName('mode', 'd')
      this.slim = this.getParameterByName('slim', false)
      
      var sensorURL = `{{ .Site.BaseURL | safeJS }}var/data/forecasts/${this.id}.json`
      fetch(sensorURL).then(response => response.json()).then(data => {
        
        this.towndata.name = town.name
        this.towndata.id = town.id
        let start = new Date (data.start)
        let i = 0
        for (const tl24h in data["1440"]) {
          console.log(tl24h)
          if (parseInt(tl24h) >= 144000000) {
            let tmed = Math.round((data["1440"][tl24h].temperature_maximum + data["1440"][tl24h].temperature_minimum)/2)
            const icon = sky_conditions.find(sky_cond => sky_cond.id === data["1440"][tl24h].sky_condition.toLowerCase())
            this.towndata.data[tl24h] = {
              icon: icon.icon_day,
              name: icon.name_eng,
              tmin: data["1440"][tl24h].temperature_minimum,
              tmax: data["1440"][tl24h].temperature_maximum,
              tmed: tmed,
              rain_fall: data["1440"][tl24h].rain_fall,
              rain_probability: data["1440"][tl24h].rain_probability,
              wind: data["1440"][tl24h].wind_speed,
              day: this.favoritesFormatDate(this.addDays(start, i)).day,
              date: this.favoritesFormatDate(this.addDays(start, i)).date
            }
          }
          i += 1 
        }
      });
    },

    favoritesFormatDate(date){
      const dd = date.getDate()
      const mm = date.getMonth() + 1
      const yy = date.getFullYear()
      const days = {{ (index .Site.Data "multilingual_date_names" .Page.Language.Lang "days") }}
      const day = days[date.getDay()]
      return {day: day, date:`${(dd>9 ? '' : '0') + dd}-${(mm>9 ? '' : '0') + mm}-${yy}`}
    },

    formatDate(date) {
      const days = {{ (index .Site.Data "multilingual_date_names" .Page.Language.Lang "days_short_upper") }}
      const day = days[date.getDay()]
      return day
    },

    addDays(date, days) {
      let date1 = new Date(date);
      date1.setDate(date1.getDate() + days);
      return date1;
    },

    getParameterByName(key, def) {
      const url_string = window.location.href
      const url = new URL(url_string);
      const value = url.searchParams.get(key)
      return value === null ? def : value          
    },
  }));
</script>

<div 
  x-data="favorites" 
  x-bind:style="(mode === 'd' ? 'background-color: #313a46;' : 'background-color: #b3c9e6;') + 'font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Arial,sans-serif!important; border-radius: 10px; padding-top: 20px'" >
<table x-bind:style="(mode === 'd' ? 'color: #fff;' : 'color: #000;') + 'width: 100%; font-size:large; font-weight: bold; margin-bottom: 20px;'">
  <thead style="text-align: center">
    <tr>
      <td style="width: 100%;" colspan="2">
        <h2>
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-building" viewBox="0 0 16 16">
            <title id="title">{{ i18n "town" }}</title>
            <path fill-rule="evenodd" d="M14.763.075A.5.5 0 0 1 15 .5v15a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V14h-1v1.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V10a.5.5 0 0 1 .342-.474L6 7.64V4.5a.5.5 0 0 1 .276-.447l8-4a.5.5 0 0 1 .487.022zM6 8.694 1 10.36V15h5V8.694zM7 15h2v-1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5V15h2V1.309l-7 3.5V15z"/>
            <path d="M2 11h1v1H2v-1zm2 0h1v1H4v-1zm-2 2h1v1H2v-1zm2 0h1v1H4v-1zm4-4h1v1H8V9zm2 0h1v1h-1V9zm-2 2h1v1H8v-1zm2 0h1v1h-1v-1zm2-2h1v1h-1V9zm0 2h1v1h-1v-1zM8 7h1v1H8V7zm2 0h1v1h-1V7zm2 0h1v1h-1V7zM8 5h1v1H8V5zm2 0h1v1h-1V5zm2 0h1v1h-1V5zm0-2h1v1h-1V3z"/>
          </svg>
          <a x-bind:style="(mode === 'd' ? 'color: #fff;' : 'color: #000;')" x-bind:href="'../../forecast/' + towndata.id" x-text="towndata.name" target="_blank"></a>
        </h2>
      </td>
    </tr>
    <tr>
      <td style="width: 50%">
        <span x-text="towndata.data[144000000].day"></span>
      </td>
      <td rowspan="6" style="width: 50%">
        <img x-bind:src="'{{ .Site.BaseURL }}images/icons/' + towndata.data[144000000].icon" x-bind:alt="towndata.data[144000000].name" height="120">
      </td>
    </tr>
    <tr>
      <td style="width: 50%; font-weight: normal;">
        <span x-text="towndata.data[144000000].date"></span>
      </td>
    </tr>
    <tr>
      <td style="width: 50%; font-size: xx-large;">
        <span x-text="towndata.data[144000000].tmin" style="border-radius: 5px; background-color: #1BACE4; padding: 0px 5px;"></span> / <span x-text="towndata.data[144000000].tmax" style="border-radius: 5px; background-color: #ED1B24; padding: 0px 5px;"></span> °C
      </td>
    </tr>
    <tr>
      <td style="width: 50%;">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-droplet" viewBox="0 0 20 20">
          <path fill-rule="evenodd" d="M7.21.8C7.69.295 8 0 8 0c.109.363.234.708.371 1.038.812 1.946 2.073 3.35 3.197 4.6C12.878 7.096 14 8.345 14 10a6 6 0 0 1-12 0C2 6.668 5.58 2.517 7.21.8zm.413 1.021A31.25 31.25 0 0 0 5.794 3.99c-.726.95-1.436 2.008-1.96 3.07C3.304 8.133 3 9.138 3 10a5 5 0 0 0 10 0c0-1.201-.796-2.157-2.181-3.7l-.03-.032C9.75 5.11 8.5 3.72 7.623 1.82z" stroke="#1BABE4"/>
          <path fill-rule="evenodd" d="M4.553 7.776c.82-1.641 1.717-2.753 2.093-3.13l.708.708c-.29.29-1.128 1.311-1.907 2.87z"/>
        </svg>
        <span x-text="towndata.data[144000000].rain_probability"></span> %
      </td>
    </tr>
    <tr>
      <td style="width: 50%;">
        <span x-text="towndata.data[144000000].rain_fall"></span> mm
      </td>
    </tr>
  </thead>
</table>
<template x-if="!slim">
  <table x-bind:style="(mode === 'd' ? 'color: #fff;' : 'color: #000;') + 'padding-bottom: 20px'">
    <tr>
      <template x-for="(data, key) in towndata.data">
        <template x-if="key !== '144000000' && parseInt(key) <= 144005760">
          <td style="text-align: center; width: 10%; height: 10%;">
            <div x-text="data.day" style="padding-bottom: 5px;"></div>
            <div style="padding-bottom: 5px;">
              <img x-bind:src="'{{ .Site.BaseURL }}images/icons/' + data.icon" x-bind:alt="data.name" height="40">
            </div>
            <div style="padding-bottom: 5px;">
              <span x-text="data.tmin" style="border-radius: 5px; background-color: #1BACE4; padding: 0px 5px;"></span>/<span x-text="data.tmax" style="border-radius: 5px; background-color: #ED1B24; padding: 0px 5px;"></span> °C
            </div>
            <div style="padding-bottom: 5px;">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-droplet" viewBox="0 0 20 20">
                <path fill-rule="evenodd" d="M7.21.8C7.69.295 8 0 8 0c.109.363.234.708.371 1.038.812 1.946 2.073 3.35 3.197 4.6C12.878 7.096 14 8.345 14 10a6 6 0 0 1-12 0C2 6.668 5.58 2.517 7.21.8zm.413 1.021A31.25 31.25 0 0 0 5.794 3.99c-.726.95-1.436 2.008-1.96 3.07C3.304 8.133 3 9.138 3 10a5 5 0 0 0 10 0c0-1.201-.796-2.157-2.181-3.7l-.03-.032C9.75 5.11 8.5 3.72 7.623 1.82z" stroke="#1BABE4"/>
                <path fill-rule="evenodd" d="M4.553 7.776c.82-1.641 1.717-2.753 2.093-3.13l.708.708c-.29.29-1.128 1.311-1.907 2.87z"/>
              </svg>
              <span x-text="data.rain_probability"></span> %
            </div>
            <div style="padding-bottom: 5px;">
              <span x-text="data.rain_fall"></span> mm
            </div>
          </td>
        </template>
      </template>
    </tr>
  </table>
</template>
<table style="width: 100%; text-align: center;">
  <tr>
    <td style="width: 50%;">
      <a href="../../" style="display: flex; align-items: center; justify-content: center;  text-decoration: none !important;" target="_blank">
        <img class="img-fluid" width="50" src="{{ .Site.BaseURL }}images/logoM-256x256.png" alt="TINIA logo">
        <span style="color: #1bace4; padding-left: 6px;"><b>Meteo</b>.report</span>
      </a>
    </td>
    <td style="width: 50%;">
      <a class="navbar-brand d-block d-sm-none" href="https://www.europaregion.info{{ if eq .Page.Language.Lang "de" }}/{{ else }}/{{.Page.Language.Lang}}/{{ end }}" target="_blank">
        <img class="img-fluid" width="120" src="{{ .Site.BaseURL }}images/logo-euregio.svg" alt="Euregio logo">
      </a> 
    </td>
  <tr>
</table>
</div>

