<script src="{{ .Site.BaseURL }}js/leaflet.js"></script>
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/leaflet.css" />
<script>
  const webcams = {{ (index .Site.Data "venues" .Page.Language.Lang "6") }}.concat({{ (index .Site.Data "venues" .Page.Language.Lang "7") }}) {{"// eslint-disable-line no-unused-vars" | safeJS }}

  Alpine.data('stationsMap', () => ({
    view: 0,
    map: null,
    markers: [],
    regions: [],
    venues: [],
    weights: [],
    mapStatus: [],
    readyfavorite: false,
    dictfavorite_webcams: {},
    current_favorite: "",
    webcamjson: {},
    desktop_screen: true,
    regions_ids: [
      "1aa901c4-2315-4b71-a871-a0a506f90ff1",
      "fba93146-7192-4190-adab-605435fdeea1",
      "7d2d63a2-5f2c-4b53-841f-22c50ea03768",
      "aadb73d3-bab3-484f-accf-01e19f7fcc04"
      ],

    handleMapChange () {
      let latlng = this.map.getCenter()
      let z = this.map.getZoom()
      this.mapStatus = [latlng.lat, latlng.lng, z]
      this.markers.forEach(marker => this.map.removeLayer(marker))
      this.markers = []
      this.setMarkers()
    },

    setMarkers() {
      let zoom = this.mapStatus[2]
      let threshold = 12 - zoom
      let count = 0
      let bounds = this.map.getBounds() // Get the current map bounds
      this.markers.forEach(marker => this.map.removeLayer(marker))
      this.markers = []


      this.venues.forEach(venue => {
        if ((venue.weight === 5 || venue.weight > threshold) && venue.weight > 1) { // always show weight 5 and never show weight 1
          if (bounds.contains([venue.lat, venue.lon])) {
            // Check if venue lat and lon are in the current map bounds
            this.createPopover(venue)
            count += 1
          }
        }
      })
      console.log(`zoom = ${zoom}, threshold = ${threshold}, created ${count} markers`)
    },

    check_screen_width () {
      if (window.innerWidth < 768) {
        this.desktop_screen = false
      } else {
        this.desktop_screen = true
      }
    },

    widthResizer( ){
      this.check_screen_width()
    },

    zoom_region(lat, lon, viewN) {
      var zoom_level = null
      this.check_screen_width()
      if (this.desktop_screen) {
        if (this.regions_ids[viewN] == '1aa901c4-2315-4b71-a871-a0a506f90ff1') {
          zoom_level = 8
        } else {
          zoom_level = 9
        }
      } else {
        if (this.regions_ids[viewN] == '1aa901c4-2315-4b71-a871-a0a506f90ff1') {
          zoom_level = 7
        } else if (this.regions_ids[viewN] == 'aadb73d3-bab3-484f-accf-01e19f7fcc04') {
          zoom_level = 7.25
        } else if (this.regions_ids[viewN] == '7d2d63a2-5f2c-4b53-841f-22c50ea03768') {
          zoom_level = 7.5
        } else {
          zoom_level = 8
        }
      }
      this.map.setView([lat, lon], zoom_level)     
      this.view = viewN
    },

    async mountMap () {
      window.addEventListener('resize', this.widthResizer.bind(this))
      this.check_screen_width()

      this.regions = {{ (index .Site.Data "venues" .Page.Language.Lang "0") }}
      this.venues = webcams.filter(e => e.id_venue_type === "6")
      const url = `{{ .Site.BaseURL | safeJS }}var/data/webcams.json`
      const response = await fetch(url)
      this.webcamjson = await response.json()

      this.venues = this.venues.filter(e => this.webcamjson.find(w => w.venue_id === e.id).alive)
      this.venues = this.venues.sort((a, b) => b.weight - a.weight)
      this.venues.forEach(venue => {
        this.weights.push(venue.weight)
      })

      this.map = L.map('map', {
        dragging: !L.Browser.mobile,
        tap: !L.Browser.mobile,
        minZoom: 7,
        maxZoom: 11,
        zoomSnap: 0.25,
        zoomDelta: 0.25,
        scrollWheelZoom: true
      })
      this.map.on('load', () => this.handleMapChange())
      this.map.on('zoomend', () => this.handleMapChange())
      this.map.on('moveend', () => this.setMarkers())

      L.tileLayer('/tms/{z}/{x}/{y}.webp', {
        attribution: 'CC BY avalanche.report',
        dragging: !L.Browser.mobile,
        tap: !L.Browser.mobile
      }).addTo(this.map)

      const layer_highlight = {{ (index .Site.Data "euregio_outside_highlight") }}

      L.geoJson(layer_highlight, {
        style: function () {
          return {
            color: 'black',
            opacity: 0.65,
            fillColor: 'black',
            fillOpacity: 0.1,
          }
        }
      }).addTo(this.map)

      let position = [46.7601862, 11.4494348]
      var zoom_level = null
      if (this.desktop_screen) {
        zoom_level = 8
      } else {
        zoom_level = 7
      }
      this.map.setView(position, zoom_level)

      this.mountFavorites()
    },

    createPopover(venue){
      
      let url = venue.webcam.has_history ? `/var/images/webcams/${venue.id}/thumb.jpg` : venue.webcam.image_url
      console.log(url)
      var myIcon = L.icon({
        iconUrl: url,
        iconSize: [100, 75],
      });

      let marker = L.marker([venue.lat, venue.lon], {icon: myIcon}).addTo(this.map)
      let href = venue.webcam.has_history ? `../webcam/${venue.id}` : venue.webcam.link

      let popoverContent = `
      <table>
        <tr>
          <td>
              <a href="${href}">
                <h6>${venue.name}</h6> 
              </a>
          </td>
        </tr>
      </table>`

      marker.bindPopup(popoverContent)
      this.markers.push(marker)
    },

    mountFavorites(){
      favorites_webcams.forEach(w => {
        this.dictfavorite_webcams[w] = webcams.find(e => e.id === w)
      })
      console.log(favorites_webcam_index)
      this.current_favorite = this.dictfavorite_webcams[favorites_webcams[favorites_webcam_index]]
      this.readyfavorite = true
    },

    updateCurrentFavorite(webcam){
      this.current_favorite = this.dictfavorite_webcams[webcam]
      if (!storageAvailable("localStorage")) return;
      if(JSON.parse(localStorage.getItem('favorites_webcams')) !== null){
        favorites_webcam_index = favorites_webcams.indexOf(this.dictfavorite_webcams[webcam].id)
        localStorage.setItem('favorites_webcam_index', JSON.stringify(favorites_webcam_index));
      }
    }
  }))
</script>

<section>
  <div x-data="stationsMap">
    <div class="row">
      <div class="col-lg-8">
        <div id="map" x-init="mountMap"></div>
          <!-- change area menu -->
          <div class="row">
            <ul class="nav nav-pills justify-content-center regions-pills mt-3">
              <li class="nav-item">
                <button class="nav-link d-inline-block text-truncate" x-bind:class="view === 0 ? 'active' : ''" x-on:click="zoom_region(46.7601862, 11.4494348, 0)"  x-text="regions.find(region => region.id =='1aa901c4-2315-4b71-a871-a0a506f90ff1').name"></button>
              </li>
              <li class="nav-item">
                <button class="nav-link d-inline-block text-truncate" x-bind:class="view === 3 ? 'active' : ''" x-on:click="zoom_region(47.23106, 11.5344824, 3)" x-text="regions.find(region => region.id =='aadb73d3-bab3-484f-accf-01e19f7fcc04').name"></button>
              </li>
              <li class="nav-item">
                <button class="nav-link d-inline-block text-truncate" x-bind:class="view === 2 ? 'active' : ''" x-on:click="zoom_region(46.7080914, 11.429204, 2)" x-text="regions.find(region => region.id =='7d2d63a2-5f2c-4b53-841f-22c50ea03768').name"></button>
              </li>
              <li class="nav-item">
                <button class="nav-link d-inline-block text-truncate" x-bind:class="view === 1 ? 'active' : ''" x-on:click="zoom_region(46.1228446, 11.1861778, 1)" x-text="regions.find(region => region.id =='fba93146-7192-4190-adab-605435fdeea1').name"></button>
              </li>
            </ul>
          </div>
          <!-- end change area menu -->
        </div>

        <div class="col-lg-4">
          <template x-if="readyfavorite">
            <div>
              <section>
                <div class="container h-100">
                  <div class="container mt-4">
                    <p class="d-flex justify-content-between">
                      <template x-for="webcam in favorites_webcams.slice(0, 3)">
                        <div class="col-4">
                          <ul class="nav nav-pills nav-justified">
                            <li class="nav-item">
                              <a class="nav-link d-inline-block text-truncate"
                                style="max-width: 150px;"
                                x-bind:class="current_favorite.id === dictfavorite_webcams[webcam].id ? 'active-tab' : ''"
                                x-text="dictfavorite_webcams[webcam].name"
                                x-on:click="updateCurrentFavorite(webcam)"
                                role="button">
                              </a>
                            </li>
                          </ul>
                        </div>
                      </template>
                    </p>
                  </div>        
                  <div class="row d-flex justify-content-center align-items-center h-100">
                    <template x-if="current_favorite.webcam.has_history">
                      <div>
                        <div class="col-md-12">
                            <div class="card mb-3">
                              <a x-bind:href="'../webcam/' + current_favorite.id "><img class="card-img-top" x-bind:src="'/var/images/webcams/' + current_favorite.id + '/143.jpg'" alt="143.jpg"></a>
                              <ul class="nav nav-pills justify-content-center">
                                <li class="nav-item">
                                  <span class="nav-link text-center text-nowrap">{{ i18n "recent_image"}}</span>
                                </li>
                              </ul>
                            </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="card mb-3">
                              <a x-bind:href="'../webcam/' + current_favorite.id "><img class="card-img-top" x-bind:src="'/var/images/webcams/' + current_favorite.id + '/131.jpg'" alt="131.jpg"></a>
                              <ul class="nav nav-pills justify-content-center">
                                <li class="nav-item">
                                  <span class="nav-link text-center">{{ i18n "6_hours"}}</span>
                                </li>
                              </ul>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="card mb-3">
                              <a x-bind:href="'../webcam/' + current_favorite.id "><img class="card-img-top" x-bind:src="'/var/images/webcams/' + current_favorite.id + '/119.jpg'" alt="119.jpg" /></a>
                              <ul class="nav nav-pills justify-content-center">
                                <li class="nav-item">
                                  <span class="nav-link text-center">{{ i18n "12_hours"}}</span>
                                </li>
                              </ul>
                            </div>  
                          </div>
                        </div>
                      </div>
                    </template>
                    <template x-if="!current_favorite.webcam.has_history">
                      <div class="col-md-12">
                        <div class="card mb-3">
                          <a x-bind:href="current_favorite.webcam.link">
                            <div class="active alert alert-custom text-center">
                              <h5 x-text="current_favorite.name"></h5>
                            </div>
                          </a>
                          <ul class="nav nav-pills justify-content-center">
                            <li class="nav-item">
                              <span class="nav-link text-center text-nowrap">{{ i18n "recent_image"}}</span>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </template>
                  </div>
                </div> <!-- End container -->
              </section> 
            </div>
          </template>
        <!-- Fine Colonna dx -->
        </div>
      </div>
    </div>

    <div class="mt-5">
      {{ partial "disclaimer" (dict "context" . "disclaimer_text" "disclaimer_webcams") }}
    </div>

</section>
