<script>
  let webcam = {{ .Page.Params.webcam }}
  const associatedwebcams = {{ .Page.Params.associatedwebcams }}
  Alpine.data('webcamDetail', () => ({
    imageUrl: "",
    img_reference: "",
    venue: {},
    associatedwebcams: associatedwebcams,
    index: 0,
    images: [],
    alive: false,
    webcamjson: {},
    steps: [
      " ",
      "{{ i18n "before_yesterday" }}",
      "{{ i18n "yesterday" }}",
      "{{ i18n "today" }}"
    ],
    tmplang: {
      en: 'name_eng',
      de: 'name_deu',
      it: 'name_ita'
    },
    lang: "",
    isFavorite: false,
    ready: false,

    updateFavorites() {
      if (!storageAvailable("localStorage")) {
        alert("{{ i18n "favorites_not_supported" | safeJS }}");
        return;
      }
      let updateFav = false
      if(JSON.parse(localStorage.getItem('favorites_webcams')) === null){
        if(confirm("{{ i18n "favorites_confirm" | safeJS }}")){
          updateFav = true

          localStorage.setItem('favorites_stations', JSON.stringify(favorites_stations));
          localStorage.setItem('favorites_towns', JSON.stringify(favorites_towns));
        }
      }else{
        updateFav = true
      }

      if(updateFav){
        if (!favorites_webcams.find(e => e === this.venue.id)) {
          console.log("Update Favorites")
          favorites_webcams = favorites_webcams.slice(0, 3)
          favorites_webcams.pop()
          favorites_webcams.unshift(this.venue.id)
          console.log(favorites_webcams)
          localStorage.setItem('favorites_webcams', JSON.stringify(favorites_webcams));
          this.isFavorite = true
          console.log(this.isFavorite)
          let dangling_tooltips = document.getElementsByClassName("tooltip bs-tooltip-auto fade show")
          if (dangling_tooltips.length > 0) {
            dangling_tooltips[0].remove()
          }
          favorites_webcam_index = 0
          localStorage.setItem('favorites_webcam_index', JSON.stringify(favorites_webcam_index));
        }
      }
    },

    async mountWebcam() {
      this.ready = false
      this.lang = {{ (index .Page.Language.Lang )}}

      const url = `{{ .Site.BaseURL | safeJS }}var/data/webcams.json`
      const response = await fetch(url)
      this.webcamjson = await response.json()

      for (const i in webcam.neighbors.webcams) {
        let webcam1 = webcam.neighbors.webcams[i]
        const idvenue = webcam1.id
        let webcamstatus = this.webcamjson.find(e => e.venue_id === idvenue)
        if (webcamstatus) {
          webcam1.alive = webcamstatus.alive
        }
      }
      this.venue = webcam
      this.img_reference = this.venue.webcam.link.split('//')[1].split('/')[0]

      const maximages = 144
      for (let i = 0; i < maximages ; i++) {
        let f = (i<100 ? i<10 ? '00' : '0' : '')  + i + '.jpg'
        this.images.push(f)
      }
      this.alive = this.webcamjson.find(w => w.venue_id === this.venue.id).alive

      if (favorites_webcams.find(idvenue => idvenue === this.venue.id)) {
        this.isFavorite = true
      }

      this.associatedwebcams.forEach( e => {
        e["alive"] = this.webcamjson.find(w => w.venue_id === e.id).alive
      })

      if (this.venue.id_venue_type === "7") {
        this.venue["neighbors"] = this.associatedwebcams.find(w => w.id === this.venue.id_region).neighbors
      }

      this.index = this.images.length - 1
      this.imageUrl = `/var/images/webcams/${this.venue.id}/${this.images[this.index]}`
      this.ready = true
      this.$nextTick(() => {
        setupTooltips()
      })
      console.log(this.ready)
    },

    refresh() {
      this.imageUrl = `/var/images/webcams/${this.venue.id}/${this.images[this.index]}`
      //console.log(`../var/images/webcams/${this.venue.id}/${this.images[this.index]}`)
    },

    getParameterByName (key, def) {
      const url_string = window.location.href
      const url = new URL(url_string);
      const value = url.searchParams.get(key)
      return value === null ? def : value          
    }
  }))

  function setupTooltips() {
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
    var tooltipList = tooltipTriggerList.map(function(element) {
        return new bootstrap.Tooltip(element); {{"// eslint-disable-line" | safeJS }}
    });
    console.log(tooltipList)
  }
</script>

<div x-data="webcamDetail" x-init="mountWebcam">
  <template x-if="ready">
    <div class="row">
      <!-- Colonna sx -->
      <div x-bind:class="associatedwebcams.length === 0 ?  'col-lg-12' : 'col-lg-8'">
        <div>
          <div class="d-flex mb-3">
            <div class="p-1 bd-highlight fs-2">
              <template x-if="!alive">
                <span class="badge bg-danger">Offline</span>
              </template>
              <a x-bind:href="venue.webcam.link" target="_blank" role="button" class="btn btn-outline-success" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ i18n "webcam_details" }}">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" data-icon="link" width="20" height="16">
                  <!-- Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc. -->
                  <path fill="currentColor" d="M579.8 267.7c56.5-56.5 56.5-148 0-204.5c-50-50-128.8-56.5-186.3-15.4l-1.6 1.1c-14.4 10.3-17.7 30.3-7.4 44.6s30.3 17.7 44.6 7.4l1.6-1.1c32.1-22.9 76-19.3 103.8 8.6c31.5 31.5 31.5 82.5 0 114L422.3 334.8c-31.5 31.5-82.5 31.5-114 0c-27.9-27.9-31.5-71.8-8.6-103.8l1.1-1.6c10.3-14.4 6.9-34.4-7.4-44.6s-34.4-6.9-44.6 7.4l-1.1 1.6C206.5 251.2 213 330 263 380c56.5 56.5 148 56.5 204.5 0L579.8 267.7zM60.2 244.3c-56.5 56.5-56.5 148 0 204.5c50 50 128.8 56.5 186.3 15.4l1.6-1.1c14.4-10.3 17.7-30.3 7.4-44.6s-30.3-17.7-44.6-7.4l-1.6 1.1c-32.1 22.9-76 19.3-103.8-8.6C74 372 74 321 105.5 289.5L217.7 177.2c31.5-31.5 82.5-31.5 114 0c27.9 27.9 31.5 71.8 8.6 103.9l-1.1 1.6c-10.3 14.4-6.9 34.4 7.4 44.6s34.4 6.9 44.6-7.4l1.1-1.6C433.5 260.8 427 182 377 132c-56.5-56.5-148-56.5-204.5 0L60.2 244.3z"/>
                </svg>
              </a>
              <template x-if="isFavorite">
                <span data-bs-toggle="tooltip" data-bs-placement="top" x-bind:title="venue.name + ' {{ i18n "favorites_already" }}'">
                  <button type="button" class="btn btn-outline-primary" x-bind:disabled="isFavorite" x-on:click="updateFavorites" aria-label="Favorite button">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" width="18" height="16" data-icon="star">
                      <!-- Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc. -->
                      <path fill="currentColor" d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"/>
                    </svg>        
                  </button>
                </span>
              </template>
              <template x-if="!isFavorite">
                <span data-bs-toggle="tooltip" data-bs-placement="top" x-bind:title="'{{ i18n "favorites_mark" }} ' +  venue.name + ' {{ i18n "favorites_mark_webcam" }}'">
                  <button type="button" class="btn btn-outline-primary" x-bind:disabled="isFavorite" x-on:click="updateFavorites" aria-label="Favorite button">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" width="18" height="16" data-icon="star regular">
                      <!-- Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc. -->
                      <path fill="currentColor" d="M287.9 0c9.2 0 17.6 5.2 21.6 13.5l68.6 141.3 153.2 22.6c9 1.3 16.5 7.6 19.3 16.3s.5 18.1-5.9 24.5L433.6 328.4l26.2 155.6c1.5 9-2.2 18.1-9.7 23.5s-17.3 6-25.3 1.7l-137-73.2L151 509.1c-8.1 4.3-17.9 3.7-25.3-1.7s-11.2-14.5-9.7-23.5l26.2-155.6L31.1 218.2c-6.5-6.4-8.7-15.9-5.9-24.5s10.3-14.9 19.3-16.3l153.2-22.6L266.3 13.5C270.4 5.2 278.7 0 287.9 0zm0 79L235.4 187.2c-3.5 7.1-10.2 12.1-18.1 13.3L99 217.9 184.9 303c5.5 5.5 8.1 13.3 6.8 21L171.4 443.7l105.2-56.2c7.1-3.8 15.6-3.8 22.6 0l105.2 56.2L384.2 324.1c-1.3-7.7 1.2-15.5 6.8-21l85.9-85.1L358.6 200.5c-7.8-1.2-14.6-6.1-18.1-13.3L287.9 79z"/>
                    </svg>
                  </button>
                </span>
              </template>
            </div>
          </div>
          <template x-if="venue.webcam.has_history">
            <div class="row justify-content-center mb-3">
              <div class="col-lg-12 col-xl-8">
                <div>
                  <div class="d-flex justify-content-center mb-3">
                    <img class="mb-2 rounded" style="width: 100%;" alt="webcam" x-bind:src="imageUrl" src="#">
                  </div>
                  <div x-init="$watch('index', value => refresh());">
                    <input id="slider-webcam" type="range" class="form-range" x-model="index" min="0" x-bind:max="images.length - 1" step="1">
                  </div> 
                </div>
              </div>
            </div>
            <div class="row gx-5 justify-content-center mb-3">
              <div class="col-12">
                <div class="row me-5">
                  <template x-for="step in steps">
                    <div class="col">
                      <label for="slider-webcam"><span x-text="step"></span></label>
                    </div>
                  </template>
                </div> 
              </div>
            </div>
          </template>
          <template x-if="!venue.webcam.has_history">
            <div class="active alert alert-custom">
              <h5>To see this webcam, visit: <a x-bind:href="venue.webcam.link" target="_blank" x-text="img_reference"></a></h5>
            </div>
          </template>
        </div>
        <div class="row mt-3">
          {{ partial "nearby_venues.html" }}
        </div>
        <div>
          {{ partial "nearby_webcams.html" }}
        </div> <!-- End col-lg-4 -->
      </div>
      <!-- Fine Colonna sx -->

        <!-- Colonna dx -->
        <template x-if="associatedwebcams.length > 0">
          <div class="col-lg-4" :style="associatedwebcams.length > 3 ?  'max-height: 1000px; overflow-y: auto;' : ''">
            <!-- widget -->
            <section>
              <div class="h-100 pt-4">
                <div class="row d-flex justify-content-center align-items-center">
                  <h4 x-text="'{{ i18n `associated_webcams` }} ' + venue.name"></h4>
                    <div class="col-md-12">
                      <template x-for="awebcam in associatedwebcams">
                        <div class="card mb-3">
                          <a x-bind:href="'../' + awebcam.id"><img class="card-img-top" x-bind:src="'/var/images/webcams/' + awebcam.id + '/143.jpg'" alt=" Card image cap"></a>
                          <div class="card-body">
                            <h5 class="card-title">
                            <a x-bind:href="'../' + awebcam.id" x-text="awebcam.name  + ' (' + venue.elevation + '  m)'"></a>
                              <template x-if="!awebcam.alive">
                                <span class="badge bg-danger">Offline</span>
                              </template>
                            </h5>
                          </div>
                        </div>
                      </template>
                    </div>
                </div>
              </div>
            </section>
            <!-- fine widget -->

          </div> <!-- End col-lg-4 -->
        </template>
    </div> <!-- End row -->
  </template>

  <div class="mt-5">
    <small class="alert alert-light d-flex align-items-center" role="alert">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="info-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Info:">
        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>      </svg>
      <span>
        {{ i18n "disclaimer_webcam" }}&nbsp;
      </span>
      <template x-if="img_reference">
        <a :href="'https://' + img_reference" target="_blank" x-text="img_reference"></a>
      </template>
      .
    </small>
  </div>

</div>
